<div [hidden]="edit" class="container pb-5">
  <a [routerLink]="['/']"><img src="/assets/toxologo.png" width="85px"></a>
  <h2>Roll</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id=""><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
        <input [(ngModel)]="searchField" name="searchField" (blur)="search()" (keydown)="keytab($event)" type="text" class="form-control"
          placeholder="Buscar">
        <div class="input-group-append">
          <button class="btn btn-success" type="button" (click)="editRecord('')"><i class="fa fa-plus-circle"
              aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
  <form>
    <div class="form-row">

      <div class="form-group col-12 col-sm-6" *ngFor="let Roll of Rolles;let i = index">
        <div class="card">
          <a (click)="editRecord(Roll)">
            <div class="card-body">

              <h4 class="card-title">{{Roll.Nombre}} | {{Roll.Inicio_Lunes}} - {{Roll.Fin_Lunes}}</h4>
              
            </div>
          </a>
        </div>
      </div>
    </div>
  </form>

  <div class="container-fluid">
    <ul class="pagination">
      <li class="page-item"><a (click)="ChangePage(0)" class="page-link"><i class="fa fa-fast-backward"
            aria-hidden="true"></i></a></li>
      <li class="page-item"><a (click)="ChangePage(1)" class="page-link"><i class="fa fa-step-backward"
            aria-hidden="true"></i></a></li>
      <li class="page-item"><a (click)="ChangePage(2)" class="page-link"><i class="fa fa-step-forward"
            aria-hidden="true"></i></a></li>
    </ul>
  </div>
</div>

<!--
  Form de Edición
-->

<div [hidden]="!edit" class="container pb-5">
  <a [routerLink]="['/']"><img src="/assets/toxologo.png" width="85px"></a>
  <h2>Roll</h2>

  <form>
    <div class="form-row">
      
      <div class="form-group col-md-4">
        <label>Codigo</label>
        <input [(ngModel)]="Roll.Codigo" name="Codigo" type="text" placeholder="Codigo" class="form-control">
      </div>

      <div class="form-group col-md-8">
        <label>Roll</label>
        <input [(ngModel)]="Roll.Nombre" name="Nombre" type="text" placeholder="Nombre" class="form-control">
      </div>
        <!-- -->
      <div class="form-group col-md-4">
        <label for="name">Lunes</label>
        <select [(ngModel)]="Roll.Lunes" name="Lunes" class="form-control">
          <option value='1'>Ordinario</option>
          <option value='2'>Libre</option>
          <option value='3'>Extraordinario</option>
        </select>
      </div>

      <div *ngIf="Roll.Lunes != '2'" class="form-group col-md-4">
        <label for="name">Hora Inicio Lunes</label>
        <input [(ngModel)]="Roll.Inicio_Lunes"  name="Inicio_Lunes" type="time" placeholder="Inicio_Lunes" class="form-control">
      </div>
      <div *ngIf="Roll.Lunes != '2'" class="form-group col-md-4">
        <label for="name">Hora Fin Lunes</label>
        <input [(ngModel)]="Roll.Fin_Lunes" name="Fin_Lunes" type="time" placeholder="Fin_Lunes" class="form-control">
      </div>
      <div *ngIf="Roll.Lunes == '2'" class="form-group col-md-8"></div>
      
       <!-- -->
       <div class="form-group col-md-4">
        <label for="name">Martes</label>
        <select [(ngModel)]="Roll.Martes" name="Martes" class="form-control">
          <option value='1'>Ordinario</option>
          <option value='2'>Libre</option>
          <option value='3'>Extraordinario</option>
        </select>
      </div>

      <div *ngIf="Roll.Martes != '2'" class="form-group col-md-4">
        <label for="name">Hora Inicio Martes</label>
        <input [(ngModel)]="Roll.Inicio_Martes"  name="Inicio_Martes" type="time" placeholder="Inicio_Martes" class="form-control">
      </div>
      <div *ngIf="Roll.Martes != '2'" class="form-group col-md-4">
        <label for="name">Hora Fin Martes</label>
        <input [(ngModel)]="Roll.Fin_Martes" name="Fin_Martes" type="time" placeholder="Fin_Martes" class="form-control">
      </div>
      <div *ngIf="Roll.Martes == '2'" class="form-group col-md-8"></div>

      <!-- -->
      <div class="form-group col-md-4">
        <label for="name">Miercoles</label>
        <select [(ngModel)]="Roll.Miercoles" name="Miercoles" class="form-control">
          <option value='1'>Ordinario</option>
          <option value='2'>Libre</option>
          <option value='3'>Extraordinario</option>
        </select>
      </div>
      <div *ngIf="Roll.Miercoles != '2'" class="form-group col-md-4">
        <label for="name">Hora Inicio Miercoles</label>
        <input [(ngModel)]="Roll.Inicio_Miercoles"  name="Inicio_Miercoles" type="time" placeholder="Inicio_Miercoles" class="form-control">
      </div>
      <div *ngIf="Roll.Miercoles != '2'" class="form-group col-md-4">
        <label for="name">Hora Fin Miercoles</label>
        <input [(ngModel)]="Roll.Fin_Miercoles" name="Fin_Miercoles" type="time" placeholder="Fin_Miercoles" class="form-control">
      </div>
      <div *ngIf="Roll.Miercoles == '2'" class="form-group col-md-8"></div>

      <!-- -->
      <div class="form-group col-md-4">
        <label for="name">Jueves</label>
        <select [(ngModel)]="Roll.Jueves" name="Jueves" class="form-control">
          <option value='1'>Ordinario</option>
          <option value='2'>Libre</option>
          <option value='3'>Extraordinario</option>
        </select>
      </div>
      <div *ngIf="Roll.Jueves != '2'" class="form-group col-md-4">
        <label for="name">Hora Inicio Jueves</label>
        <input [(ngModel)]="Roll.Inicio_Jueves"  name="Inicio_Jueves" type="time" placeholder="Inicio_Jueves" class="form-control">
      </div>
      <div *ngIf="Roll.Jueves != '2'" class="form-group col-md-4">
        <label for="name">Hora Fin Jueves</label>
        <input [(ngModel)]="Roll.Fin_Jueves" name="Fin_Jueves" type="time" placeholder="Fin_Jueves" class="form-control">
      </div>
      <div *ngIf="Roll.Jueves == '2'" class="form-group col-md-8"></div>

      <!-- -->
      <div class="form-group col-md-4">
        <label for="name">Viernes</label>
        <select [(ngModel)]="Roll.Viernes" name="Jueves" class="form-control">
          <option value='1'>Ordinario</option>
          <option value='2'>Libre</option>
          <option value='3'>Extraordinario</option>
        </select>
      </div>
      <div *ngIf="Roll.Viernes != '2'" class="form-group col-md-4">
        <label for="name">Hora Inicio Viernes</label>
        <input [(ngModel)]="Roll.Inicio_Viernes"  name="Inicio_Viernes" type="time" placeholder="Inicio_Viernes" class="form-control">
      </div>
      <div *ngIf="Roll.Viernes != '2'" class="form-group col-md-4">
        <label for="name">Hora Fin Viernes</label>
        <input [(ngModel)]="Roll.Fin_Viernes" name="Fin_Viernes" type="time" placeholder="Fin_Viernes" class="form-control">
      </div>
      <div *ngIf="Roll.Viernes == '2'" class="form-group col-md-8"></div>

       <!-- -->
       <div class="form-group col-md-4">
        <label for="name">Sabado</label>
        <select [(ngModel)]="Roll.Sabado" name="Sabado" class="form-control">
          <option value='1'>Ordinario</option>
          <option value='2'>Libre</option>
          <option value='3'>Extraordinario</option>
        </select>
      </div>
      <div *ngIf="Roll.Sabado != '2'" class="form-group col-md-4">
        <label for="name">Hora Inicio Sabado</label>
        <input [(ngModel)]="Roll.Inicio_Sabado"  name="Inicio_Sabado" type="time" placeholder="Inicio_Sabado" class="form-control">
      </div>
      <div *ngIf="Roll.Sabado != '2'" class="form-group col-md-4">
        <label for="name">Hora Fin Sabado</label>
        <input [(ngModel)]="Roll.Fin_Sabado" name="Fin_Sabado" type="time" placeholder="Fin_Sabado" class="form-control">
      </div>
      <div *ngIf="Roll.Sabado == '2'" class="form-group col-md-8"></div>

      <!-- -->
      <div class="form-group col-md-4">
        <label for="name">Domingo</label>
        <select [(ngModel)]="Roll.Domingo" name="Sabado" class="form-control">
          <option value='1'>Ordinario</option>
          <option value='2'>Libre</option>
          <option value='3'>Extraordinario</option>
        </select>
      </div>
      <div *ngIf="Roll.Domingo != '2'" class="form-group col-md-4">
        <label for="name">Hora Inicio Domingo</label>
        <input [(ngModel)]="Roll.Inicio_Domingo"  name="Inicio_Domingo" type="time" placeholder="Inicio_Domingo" class="form-control">
      </div>
      <div *ngIf="Roll.Domingo != '2'" class="form-group col-md-4">
        <label for="name">Hora Fin Domingo</label>
        <input [(ngModel)]="Roll.Fin_Domingo" name="Fin_Domingo" type="time" placeholder="Fin_Domingo" class="form-control">
      </div>
      <div *ngIf="Roll.Domingo == '2'" class="form-group col-md-8"></div>


      <div class="form-group col-md-6">
        <label for="name">Estado</label>
        <select [(ngModel)]="Roll.Estado" name="Estado" class="form-control">
          <option value='1'>Activo</option>
          <option value='2'>Inactivo</option>
          
        </select>
      </div>
   
      
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-6 col-md-8">

          </div>
          <div class="form-group col-3 col-md-2">
            <button (click)="grabar()" type="button" class="btn btn-success" title="Cancela edicion">Grabar</button>
          </div>
          <div class="form-group col-3 col-md-2">
            <button (click)="cancel()" type="button" class="btn btn-danger" title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>

