<div class="container">

  <div [hidden]="!hideMenu" class="container">
    <img src="/assets/toxologo.png" width="85px">
    <div class="container center">
      <div>
        <img src="/assets/tercerizar.png">
      </div>
      <div class="text-center">
        <h1>
          <font color="#fc6824">SISTEMA BAR & RESTAURANTE TOXO</font>
        </h1>
        <h3>
          <font color="#fc6824">Tomate un respiro,</font> Déjalo en nuestras manos.
        </h3>
        <h3>
          <font color="#fc6824">TOXO</font> Expertos en tercerización de servicios
        </h3>
      </div>
    </div>
  </div>

  <div [hidden]="!logedIn" class="container center form-row">
    <div class="form-group col-md-6 text-center">
      <button  (click)="pedidos()" type="button" class="conta" title="Cancela edicion"></button>
      <div>
        PEDIDOS
      </div>
    </div>

    <div class="form-group col-md-6 text-center">
      <button  (click)="cajas()" type="button" class="venta" title="Cancela edicion"></button>
      <div>
        CAJAS
      </div>
    </div>

    <div class="form-group col-md-6 text-center">
      <button  (click)="cocina()" type="button" class="venta" title="Cancela edicion"></button>
      <div>
        COCINA
      </div>
    </div>

  </div>

  <div [hidden]="!hideMenu" class="container">
        <p>
          Existen varios motivos por los que una empresa decide tercerizar servicios, la que más peso tiene, es concentrar
          los esfuerzos en las actividades principales y de las cuales la empresa es experta; como por ejemplo la
          comercialización de los servicios, o la producción de los bienes y dejar en mano de expertos externos las tareas
          de las cuales la empresa no cuenta con un funcionario experto en esa área.
        </p>
        <p>
          Otra de las razones el cuando se requiere mejorar algún proceso o servicio de la empresa y es mas rápido, o más
          eficiente contar con los servicios de terceros expertos en realizar este tipo de procesos.
        </p>
        <p>
          Y por último y no menos importante es cuando por el volumen de transacciones es más económico contratar los
          servicios de un tercero que contratar un empleado para que realice una tarea. Este es el caso de las empresas
          nuevas (STARTUP) que no cuentan con recursos suficientes para contratar un staf completo de empleados y con el
          precio de un solo funcionario de planta pueden contratar cuatro o cinco servicios de tercerización diferentes.
        </p>
      <div>
        <br />
      </div>

      <div [hidden]="logedIn" class="form-row">
        <div class="form-group col-md-4 text-center">
          <button type="button" class="conta" title="Cancela edicion"></button>
          <div>
            BAR
          </div>
        </div>

        <div class="form-group col-md-4 text-center">
          <button  type="button" class="venta" title="Cancela edicion"></button>
          <div>
            RESTAURANTE
          </div>
        </div>

  </div>
</div>
