<form>
  <div >
    <div class="form-row">
      
      <div class="form-group col-md-6">
        <label for="name">Prospecto</label>
        <select [(ngModel)]="Persona.Prospecto" name="Prospecto" class="form-control">
          <option value='0'>No es Prospecto</option>
          <option value='1'>Si es Prospecto</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="name">Cliente</label>
        <select [(ngModel)]="Persona.Cliente" name="Cliente" class="form-control">
          <option value='0'>No es cliente</option>
          <option value='1'>Si es cliente</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="name">Proveedor</label>
        <select [(ngModel)]="Persona.Proveedor" name="Proveedor" class="form-control">
          <option value='0'>No es proveedor</option>
          <option value='1'>Si es proveedor</option>
        </select>
      </div>
      <div [hidden]="!Academico"  class="form-group col-md-6">
        <label for="name">Alumno</label>
        <select [(ngModel)]="Persona.Alumno" name="Alumno" class="form-control">
          <option value='0'>No es Alumno</option>
          <option value='1'>Si es Alumno</option>
        </select>
      </div>
      <div [hidden]="!Academico"  class="form-group col-md-6">
        <label for="name">Profesor</label>
        <select [(ngModel)]="Persona.Profesor" name="Profesor" class="form-control">
          <option value='0'>No es Profesor</option>
          <option value='1'>Si es Profesor</option>
        </select>
      </div>
      <div  class="form-group col-md-6">
        <label for="name">Empleado</label>
        <select [(ngModel)]="Persona.Empleado" name="Empleado" class="form-control">
          <option value='0'>No es Empleado</option>
          <option value='1'>Si es Empleado</option>
        </select>
      </div>
    </div>
  </div>

    <div [hidden]="!Persona.Empleado"  class="form-group row align-items-center mb-2">
      <label class="col-sm-2 col-form-label">Usuario</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input [(ngModel)]="Persona.Nombre_Usuario" disabled name="Nombre_Usuario" id="Nombre_Usuario" type="text"
            class="form-control" placeholder="Nombre Usuario">
          <div class="input-group-append">
            <button (click)="abrirPantallaUsuarios()" type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div [hidden]="!PantallaUsuarios" class="modal-main">

    <div class="modal-content  card">
      <div class="card-header">
        <h2>Usuarios</h2>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id=""><i class="fa fa-search" aria-hidden="true"></i></span>
          </div>
          <input [(ngModel)]="searchFieldUsuario" (blur)="searchUsuario()" (keydown)="keytabUsuario($event)" type="text" class="form-control"
            placeholder="Buscar">
          
        </div>
      </div>
      <div class="card-body modal-grid">
        <div class="form-row page-grid">
          
          <div class="form-group col-12" *ngFor="let Usuario of Usuarios;let i = index">
            <a (click)="selectUsuario(Usuario)">
              <div class="card  p-1 custom-card">
                <div class="card-body py-1 px-2">
                  <h6 class="m-0" >{{Usuario.Nombre }} </h6>
                </div>
              </div>
            </a>
          </div>
  
             
        </div>
      </div>
  
      <div class="card-footer ">
        <div class="form-group col-12">
          <div class="form-row">
            <div class="form-group col-4 col-sm-8">
            </div>
            
            <div class="form-group  col-4 col-sm-2">
              <button (click)="cerrarPantallaUsuarios()"  type="button" class="btn btn-danger" title="Cancela edicion">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>