<!-- [hidden]="!logedIn" -->
<nav  role="navigation">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input  id="MenuShow" (click)="click()" [checked]="showMenu"  type="checkbox" />

    <!--
    Some spans to act as a hamburger.

    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>

    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
      <ul  [hidden]="!showMenu" id="menu">
        <a (click)="hideMenu()" [routerLink]="['/']"><li><i class="fa fa-home"></i> Inicio {{ambiente}} 1.00.02</li></a>
        <div [hidden]="!logedIn">

          <li [hidden]="!AppProyecto" (click)="clickVentasMenu()" ><a><i class="fa fa-credit-card"></i>  Proyectos<i [ngClass]='ventasClass' class="fa fa-cog"></i>  </a></li>
          <ul [hidden]="!AppProyecto">
            <a (click)="hideMenu()" [routerLink]="['/contacto/contactos']"><li><i class="fa fa-address-card-o"></i>  Contactos</li></a>
            <a (click)="hideMenu()" [routerLink]="['/proyectos/proyecto']"><li><i class="fa fa-credit-card"></i> Proyectos</li></a>
            <a (click)="hideMenu()" [routerLink]="['/tareas/seguimiento']"><li><i class="fa fa-credit-card"></i> Seguimiento</li></a>
            <a (click)="hideMenu()" [routerLink]="['/tareas/tareas']"><li><i class="fa fa-credit-card"></i> Tareas</li></a>
          </ul>
        </div>

        <a href="https://api.whatsapp.com/send?phone=50687786649" target="_blank"><li><i class="fa fa-phone"></i> Soporte</li></a>
        <a href="/main" target="_self"><li><i class="fa fa-home"></i> Menú Principal</li></a>
        <a (click)="hideMenu()" [hidden]="logedIn" [routerLink]="['/seguridad/login']"><li><i class="fa fa-sign-in"></i> Entrar</li></a>
        <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/seguridad/cambiar']"><li><i class="fa fa-key"></i> Cambiar Clave</li></a>
        <a (click)="hideMenu()" [hidden]="!logedIn" (click)="logOut()" href="#"><li><i class="fa fa-sign-out"></i> Salir</li></a>
        <a (click)="hideMenu()" [hidden]="!logedIn">{{Company}} | {{User}}</a>
      </ul>
  </div>
</nav>
