<div [hidden]="edit" class="container pb-5">
  <a [routerLink]="['/']"><img src="/assets/toxologo.png" width="85px"></a>
  <h2>Itinerarios de Transporte</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id=""><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
        <input [(ngModel)]="searchField" (blur)="search()" (keydown)="keytab($event)" type="text" class="form-control"
          placeholder="Buscar">
        <div class="input-group-append">
          <button class="btn btn-success" type="button" (click)="editRecord('')"><i class="fa fa-plus-circle"
              aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
  <form>
    <div class="form-row">

      <div class="form-group col-12 col-sm-6" *ngFor="let Itinerary of Itineraries;let i = index">
        <div class="card">
          <a (click)="editRecord(Itinerary)">
            <div class="card-body">

              <h4 class="card-title">{{Itinerary.Id_Itinerario}} - {{Itinerary.Nombre_Pasajero}}</h4>
              {{Itinerary.Creado_El}} - {{Itinerary.Cliente}}
            </div>
          </a>
        </div>
      </div>
    </div>
  </form>

  <div class="container-fluid">
    <ul class="pagination">
      <li class="page-item"><a (click)="ChangePage(0)" class="page-link"><i class="fa fa-fast-backward"
            aria-hidden="true"></i></a></li>
      <li class="page-item"><a (click)="ChangePage(1)" class="page-link"><i class="fa fa-step-backward"
            aria-hidden="true"></i></a></li>
      <li class="page-item"><a (click)="ChangePage(2)" class="page-link"><i class="fa fa-step-forward"
            aria-hidden="true"></i></a></li>
    </ul>
  </div>
</div>


<!--
  Form de Edición
-->

<div [hidden]="!edit" class="container pb-5">
  <a [routerLink]="['/']"><img src="/assets/toxologo.png" width="85px"></a>
  <h2>Itinerario - Transporte </h2>

  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Cliente</label>
        <div class="input-group">

          <div class="input-group-append">
            <button type="button" (click)="openClientePanel(1)" class="form-control btn btn-primary"><i
                class="fa fa-search"></i></button>
          </div>
          <input [(ngModel)]="Itinerary.Nombre_Cliente" disabled name="Nombre_Cliente" id="Nombre_Cliente" type="input"
            class="form-control" placeholder="Nombre_Cliente">
        </div>
      </div>

      <div class="form-group col-md-6">
        <label>Nombre</label>
        <input [(ngModel)]="Itinerary.Nombre_Pasajero" name="Nombre_Pasajero" type="text" placeholder="Nombre Pasajero"
          class="form-control">
      </div>
      <div *ngIf="Itinerary.Cargar_Cliente =='1'" class="form-group col-md-6">
        <label>Correo</label>
        <input [(ngModel)]="Itinerary.Correo_Cliente" name="Correo_Cliente" type="text" placeholder="Correo_Pasajero"
          class="form-control">
      </div>
      <div *ngIf="Itinerary.Cargar_Cliente =='1'" class="form-group col-md-6">
        <label>WhatsApp</label>
        <input [(ngModel)]="Itinerary.Whatsapp_Cliente" name="Whatsapp_Cliente" type="text" placeholder="Whatsapp Pasajero"
          class="form-control">
      </div>

      <div class="form-group col-md-3">
        <label>Comisión</label>
        <input disabled [(ngModel)]="Itinerary.Porcentaje_Comision" name="Porcentaje_Comision" type="text"
          placeholder="Porcentaje Comision" class="form-control">
      </div>

      <div class="form-group col-md-3">
        <label>Descuento</label>
        <input disabled [(ngModel)]="Itinerary.Descuento" name="Descuento" type="text" placeholder="Descuento"
          class="form-control">
      </div>

      <div class="form-group col-md-3">
        <label>Estado</label>
        <select [(ngModel)]="Itinerary.Cargar_Cliente" name="Cargar_Cliente" type="text" class="form-control">
          <option value='0'>Cargado al Cliente</option>
          <option value='1'>Cargado al Pasajero</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label>Nuevo Servicio</label>
        <div>
          <button (click)="openPantallaServicio()" type="button" class="btn btn-success" title="Cancela edicion">Nuevo
            Servicio</button>
        </div>

      </div>
    </div>
    <!-- Inicio Lista de Detalles -->
    <div class="form-row d-none d-md-block">
      <div class="form-row">
        <div class="form-group col-12 col-md-1">
          Fecha
        </div>
        <div class="form-group col-12 col-md-4">
          Ruta
        </div>
        <div class="form-group col-12 col-md-1">
          Tarifa
        </div>
        <div class="form-group col-12 col-md-1">
          Pasajeros
        </div>
        <div class="form-group col-12 col-md-1">
          Descuento
        </div>
        <div class="form-group col-12 col-md-1">
          Total
        </div>
        <div class="form-group col-12 col-md-1">
          Estado
        </div>
        <div class="form-group col-12 col-md-2">
          Acción
        </div>
      </div>
    </div>

    <div class="form-row table table-striped table-hover table-dark table-bordered ">
      <div class="form-group col-12">
        <div class="form-row" *ngFor="let Service of Services;let indice = index">
          <div class="form-group col-12 col-md-1">
            {{Service.Fecha_Servicio}}
          </div>
          <div class="form-group col-12 col-md-4">
            {{Service.Nombre_Ruta | slice:0:40}}
          </div>
          <div class="form-group col-12 col-md-1">
            {{Service.Tarifa | currency:' '}}
          </div>
          <div class="form-group col-12 col-md-1">
            {{Service.Pasajeros }}
          </div>
          <div class="form-group col-12 col-md-1">
            {{Service.Descuento | currency:' '}}
          </div>
          <div class="form-group col-12 col-md-1">
            {{Service.Total | currency:' '}}
          </div>
          <div class="form-group col-12 col-md-1">
            <span *ngIf="Service.Estado == 1">Registrado</span>
            <span *ngIf="Service.Estado == 2">Anulado</span>
            <span *ngIf="Service.Estado == 3">Cancelado</span>
            <span *ngIf="Service.Estado == 4">Coordinado</span>
            <span *ngIf="Service.Estado == 5">No se Presento</span>
            <span *ngIf="Service.Estado == 6">En Ruta</span>
            <span *ngIf="Service.Estado == 7">Finalizado</span>
            <span *ngIf="Service.Estado == 8">Facturado</span>
            <span *ngIf="Service.Estado == 9">Cobrado</span>
          </div>

          <div *ngIf="Service.Estado == 1" class="form-group col-12 col-md-2">
            <span style="display: inline-block;">
              <button type="button" class="btn btn-danger btn-sm"
                style="min-width: 0px;margin-right: 5px;padding: 0rem 0.31rem;"
                (click)="removeVen_Factura_Detalle(indice)"><i class="fa fa-trash" aria-hidden="true"
                  title="Borrar Linea"></i></button>
            </span>
            <button type="button" class="btn btn-primary btn-sm"
              style="min-width: 0px;margin-right: 5px;padding: 0rem 0.31rem;"
              (click)="editService(indice)"><i class="fa fa-edit" aria-hidden="true"
                title="Editar Linea"></i></button>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin Lista de Detalles -->
    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-6 col-md-6">

          </div>
          <div class="form-group col-3 col-md-2">
            <button (click)="confirma()" type="button" class="btn btn-primary" title="Cancela edicion">Confirma</button>
          </div>
          <div class="form-group col-3 col-md-2">
            <button (click)="grabar()" type="button" class="btn btn-success" title="Cancela edicion">Grabar</button>
          </div>
          <div class="form-group col-3 col-md-2">
            <button (click)="cancel()" type="button" class="btn btn-danger" title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>


<div [hidden]="!PantallaClientes" class="modal-main">
  <div class="modal-content  card">
    <div class="card-header">
      <h2>Seleccionar Cliente</h2>
      <input [(ngModel)]="searchFieldClientes" (blur)="searchClientes()" (keydown)="keytabClientes($event)" type="text"
        class="form-control" placeholder="Buscar">
    </div>
    <div class="card-body modal-grid">
      <div class="form-row">
        <div class="form-group col-12 col-sm-6" *ngFor="let Account of Clientes;let i = index">
          <a (click)="SeleccionarCliente(Account)">
            <div class="card">
              <div class="card-body">
                <h5>{{Account.Nombre}}</h5>
                Moneda
                <span *ngIf="Account.Moneda == 1" class="text-success">Colones</span>
                <span *ngIf="Account.Moneda == 0" class="text-primary">Dolares</span>
                Estado :
                <span *ngIf="Account.Estado == '1'" class="text-success"> Activo</span>
                <span *ngIf="Account.Estado == '0'" class="text-warning"> Inactivo</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="card-footer ">
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-8 col-md-10">
          </div>
          <div class="form-group col-2">
            <button (click)="closePantallaClientes()" type="button" class="btn btn-danger"
              title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [hidden]="!PantallaRutas" class="modal-main">
  <div class="modal-content  card">
    <div class="card-header">
      <h2>Seleccionar Ruta</h2>
      <input [(ngModel)]="searchFieldRutas" (blur)="searchRoutes()" (keydown)="keytabRoutes($event)" type="text"
        class="form-control" placeholder="Buscar">
    </div>
    <div class="card-body modal-grid">
      <div class="form-row">
        <div class="form-group col-12 col-sm-6" *ngFor="let Route of Routes;let i = index">
          <a (click)="SeleccionarRuta(Route)">
            <div class="card">
              <div class="card-body">
                <h5>{{Route.Nombre}}</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="card-footer ">
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-8 col-md-10">
          </div>
          <div class="form-group col-2">
            <button (click)="closePantallaRutas()" type="button" class="btn btn-danger"
              title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [hidden]="!PantallaServicio" class="modal-main">
  <div class="modal-content card">
    <div class="card-header">
      <h4>Edición de Servicio</h4>
    </div>
    <div class="card-body modal-grid">
      <div class="form-row">

        <div class="form-group col-md-2">
          <label>Fecha Servicio</label>
          <div class="input-group">
            <input (ngModelChange)='loadRouteRate()' class="form-control" placeholder="Fecha" name="Fecha" [(ngModel)]="Service.Fecha" ngbDatepicker
              #d1="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary fa fa-calendar" (click)="d1.toggle()" type="button"></button>
            </div>
          </div>
        </div>

        <div class="form-group col-md-3">
          <label>Tipo de ruta</label>
          <select (change)='loadRouteRate()' [(ngModel)]="Service.Tipo_Ruta" name="Tipo_Ruta" type="text" class="form-control">
            <option value='1'>Privado</option>
            <option value='2'>Shuttle</option>
          </select>
        </div>

        <div class="form-group col-md-7">
          <label>Proveedor</label>
          <div class="input-group">

            <div class="input-group-append">
              <button type="button" (click)="openClientePanel(2)" class="form-control btn btn-primary"><i
                  class="fa fa-search"></i></button>
            </div>
            <input [(ngModel)]="Service.Nombre_Proveedor" disabled name="Nombre_Proveedor" id="Nombre_Proveedor"
              type="input" class="form-control" placeholder="Nombre Proveedor">
          </div>
        </div>
        <div class="form-group col-md-12">
          <label>Ruta</label>
          <div class="input-group">

            <div class="input-group-append">
              <button type="button" (click)="openPantallaRuta()" class="form-control btn btn-primary"><i
                  class="fa fa-search"></i></button>
            </div>
            <input [(ngModel)]="Service.Nombre_Ruta" disabled name="Nombre_Ruta" id="Nombre_Ruta" type="input"
              class="form-control" placeholder="Nombre Ruta">
          </div>
        </div>

        <div class="form-group col-md-3">
          <label># Adultos > 18 años</label>
          <select (change)='SumarPasajeros()' [(ngModel)]="Service.Adultos" name="Adultos" type="text"
            class="form-control">
            <option *ngFor="let numero of Numeros" value={{numero}}>{{numero}}</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label># Adolecentes > 12 años</label>
          <select (change)='SumarPasajeros()' [(ngModel)]="Service.Mayores_Doce" name="Mayores_Doce" type="text"
            class="form-control">
            <option *ngFor="let numero of Numeros" value={{numero}}>{{numero}}</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label># Niños < 12 años</label> <select (change)='SumarPasajeros()' [(ngModel)]="Service.Menores_Doce"
              name="Menores_Doce " type="text" class="form-control">
              <option *ngFor="let numero of Numeros" value={{numero}}>{{numero}}</option>
              </select>
        </div>
        <div class="form-group col-md-3">
          <label># Total Pasajeros</label>
          <div>{{Service.Pasajeros}}</div>
        </div>

        <div class="form-group col-md-3">
          <label>Tafifa : </label> {{Service.Tarifa}}
        </div>
        <div class="form-group col-md-3">
          <label>Comisión : </label> {{Itinerary.Porcentaje_Comision}}
        </div>
        <div class="form-group col-md-3">
          <label>Descuento : </label> {{Service.Descuento}}
        </div>
        <div class="form-group col-md-3">
          <label>Total : </label> {{Service.Total}}
        </div>
        <div class="form-group col-md-2">
          <label>Horario</label>
          <div class="input-group mb-4">
            <input *ngIf="Service.Tipo_Ruta == '1'" [(ngModel)]="Service.Horario" name="Horario" type="text"
              class="form-control" placeholder="HH:MM">
            <select *ngIf="Service.Tipo_Ruta == '2'" [(ngModel)]="Service.Horario" name="Horario" class="form-control">
              <option *ngFor="let Horario of Horarios" value={{Horario.Horario}}>{{Horario.Horario}}</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label>Lugar Pickup</label>
          <div class="input-group mb-4">
            <input *ngIf="Service.Tipo_Ruta == '1'" [(ngModel)]="Service.Nombre_PickUp" name="Nombre_PickUp" type="text"
              class="form-control" placeholder="Lugar Pickup">
            <select *ngIf="Service.Tipo_Ruta == '2'" [(ngModel)]="Service.Lugar_PickUp" name="Lugar_PickUp"
              class="form-control">
              <option *ngFor="let Hotel of HotelesOrigen" value={{Hotel.Id_Hotel}}>{{Hotel.Nombre}}</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-7">
          <label>Notas del Pick Up</label>
          <input [(ngModel)]="Service.Notas_PickUP" name="Notas_PickUP" id="Notas_PickUP" type="text"
            class="form-control" placeholder="Notas">
        </div>

        <div class="form-group col-md-3">
          <label>Lugar Drop Off</label>
          <div class="input-group mb-3">
            <input *ngIf="Service.Tipo_Ruta == '1'" [(ngModel)]="Service.Nombre_DropOff" name="Nombre_DropOff"
              type="text" class="form-control" placeholder="Lugar Drop Off">
            <select *ngIf="Service.Tipo_Ruta == '2'" [(ngModel)]="Service.Lugar_DropOff" name="Lugar_DropOff"
              class="form-control">
              <option *ngFor="let Hotel of HotelesDestino" value={{Hotel.Id_Hotel}}>{{Hotel.Nombre}}</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-9">
          <label>Notas del Drop Off</label>
          <input [(ngModel)]="Service.Notas_DropOff" name="Notas_DropOff" id="Notas_DropOff" type="text"
            class="form-control" placeholder="Notas del Drop Off">
        </div>
      </div>
    </div>

    <div class="card-footer ">
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-8">
          </div>
          <div class="form-group col-2">
            <button (click)="addService()" type="button" class="btn btn-success"
              title="Agregar Servicio">Agregar</button>
          </div>
          <div class="form-group col-2">
            <button (click)="closePantallaServicio()" type="button" class="btn btn-danger"
              title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
