<!--Pantalla que muestra el plano del lugar -->
<h2>
  <div class="form-row">
    <div class="form-group col-8">
      {{NombreEmpresa}}
      <button [hidden]="!PantallaPlano" (click)="cambiarPlano(1)" type="button" class="btn btn-outline-primary btn-lg buttonS " title="Cancela edicion">Lista</button>
      <button [hidden]="!PantallaLista" (click)="cambiarPlano(2)" type="button" class="btn btn-outline-success btn-lg buttonS" title="Cancela edicion">Plano</button>
    </div>
    <div class="form-group col-3">
      <select [hidden]="!PantallaPlano && !PantallaLista" (change)="cambiarPlano(3)" [(ngModel)]="Id_Zona" name="Id_Zona" type="text" class="form-control">
        <option value='99'>Todos</option>
        <option value='{{Zone.Id_Zona}}' *ngFor="let Zone of Zonas;let i = index">
          {{Zone.Nombre}}</option>
      </select>
    </div>
    <div class="form-group col-1"></div>
  </div>


</h2>

  <!-- Pantalla de Login del Salonero -->
<div [hidden]="!PantallaLogin" class="container pb-5">
    <a [routerLink]="['/']"><img src="assets/toxologo.png" width="85px"></a>

    <h2>Pedidos - Selección de Saloner(o/a)</h2>

    <br>
    <hr>
    <br>

    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <h1>Selección de Usuario</h1>
        </div>
        <div class="form-group col-md-6">
          <label><h2>Código</h2></label>
          <input style="font-size:30px;font-weight:bold;" [(ngModel)]="CodigoSalonero" name="Salonero" type="text" placeholder="Codigo" class="form-control">
        </div>
      </div>
      <div class="form-group col-md-12">
        <div class="form-row">

          <div class="form-group col-md-6">
          </div>

          <div class="form-group col-md-6">
            <div class="form-row">
              <div class="form-group col-4">
                <button (click)="Concat(7)" type="button" class="btn btn-primary wFull" title="Entrar"><h2>7</h2></button>
              </div>
              <div class="form-group col-4">
                <button (click)="Concat(8)" type="button" class="btn btn-primary wFull" title="8"><h2>8</h2></button>
              </div>
              <div class="form-group col-4">
                <button (click)="Concat(9)" type="button" class="btn btn-primary wFull" title="9"><h2>9</h2></button>
              </div>
              <div class="form-group col-4">
                <button (click)="Concat(4)" type="button" class="btn btn-primary wFull" title="4"><h2>4</h2></button>
              </div>
              <div class="form-group col-4">
                <button (click)="Concat(5)" type="button" class="btn btn-primary wFull" title="5"><h2>5</h2></button>
              </div>
              <div class="form-group col-4">
                <button (click)="Concat(6)" type="button" class="btn btn-primary wFull" title="6"><h2>6</h2></button>
              </div>
              <div class="form-group col-4">
                <button (click)="Concat(1)" type="button" class="btn btn-primary wFull" title="1"><h2>1</h2></button>
              </div>
              <div class="form-group col-4">
                <button (click)="Concat(2)" type="button" class="btn btn-primary wFull" title="2"><h2>2</h2></button>
              </div>
              <div class="form-group col-4">
                <button (click)="Concat(3)" type="button" class="btn btn-primary wFull" title="3"><h2>3</h2></button>
              </div>
              <div class="form-group col-4">
                <button (click)="Concat(0)" type="button" class="btn btn-primary wFull" title="0"><h2>0</h2></button>
              </div>
              <div class="form-group col-4">
                <button (click)="borrar()" type="button" class="btn btn-danger wFull" title="borrar">Borrar</button>
              </div>
              <div class="form-group col-4">
                <button (click)="seleccionSalonero()" type="button" class="btn btn-success wFull" title="Entrar">Entrar</button>
              </div>
          </div>
          </div>
        </div>
      </div>
    </form>
  </div>

<div [hidden]="!PantallaLista">
  <div class="form-row">

    <div class="form-group col-12 col-sm-6" *ngFor=" let Place of Places;let i = index">
      <div class="card">
        <a (click)="MostrarPantallaCuentas(Place)">
          <div class="card-body m-2 p-2">
              <h4 class="card-title">
                <span class="btn btn-outline-success"> {{Place.Zona}}</span>
                {{Place.Nombre}} -
                <span *ngIf="Place.Estado == '1'" class="text-primary"> Libre</span>
                <span *ngIf="Place.Estado == '2' && Place.Cliente == 'Cliente de Contado'" class="text-danger"> Ocupada</span>
                <span *ngIf="Place.Estado == '2' && Place.Cliente != 'Cliente de Contado'" class="text-danger"> {{Place.Cliente}}</span>

              </h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div [hidden]="!PantallaPlano">
    
    <div  *ngFor="let Place of Places;let i = index">
        <a (click)="MostrarPantallaCuentas(Place)">
            <div class="plano" [ngStyle]="{ 'top.px': Place.Arriba,'left.px': Place.Derecha}">
                <img *ngIf="Place.Tipo == '1' &&  Place.Estado == '1' " class="plano" src="../assets/mesalibre.webp"   width="40" height="40">
                <img *ngIf="Place.Tipo == '1' &&  Place.Estado == '2' " class="plano" src="../assets/mesaocupada.webp"   width="40" height="40">
                <img *ngIf="Place.Tipo == '2' &&  Place.Estado == '1' " class="plano" src="../assets/sillalibre.webp"   width="40" height="40">
                <img *ngIf="Place.Tipo == '2' &&  Place.Estado == '2' " class="plano" src="../assets/sillaocupada.webp"   width="40" height="40">
                <div class="centered">
                  <h5>{{Place.Nombre}}</h5>
                </div>
            </div>
        </a>
    </div>
</div>

<!--Pantalla que muestra Las cuentas de la mesa -->
<div [hidden]="!PantallaCuentas" class="container pb-5">
    <form>
      <div class="form-row">
        <div  class="form-group col-sm-6">
          <h2>Cuentas - {{Mesa.Zona}} - {{Mesa.Nombre}} </h2>
        </div>
        <div  class="form-group col-sm-4">
          <a (click)="AbrirPantallaCrearCuenta()">
            <div class="card bg-success text-white">
              <div class="card-body m-2 p-2">
                <h4 class="card-title">Crear Cuenta + </h4>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="form-row">

        <div class="form-group col-12 col-sm-6" *ngFor="let Pedido of Pedidos;let i = index">
          <div class="card">
            <a (click)="AbrirPantallaInfoCuenta(Pedido)">
              <div class="card-body m-2 p-2">
                  <h4 class="card-title">{{Pedido.Nombre}}</h4> {{Pedido.Id_Pedido}}
              </div>
            </a>
          </div>
        </div>

        <div class="form-group col-md-12">
          <div class="form-row">
            <div class="form-group col-6 col-sm-10">
            </div>
            <div class="form-group col-6 col-sm-2">
              <button (click)="CerrarPantallaCuentas()" type="button" class="btn btn-lg btn-block btn-danger" title="Cancela edicion">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
</div>

<div [hidden]="!PantallaCrearCuenta" class="modal-main">
  <div class="modal-content  card">
    <div class="card-header">
      <h2>Creación de Cuenta - {{Mesa.Zona}} - {{Mesa.Nombre}} </h2>

    </div>
    <div class="card-body modal-grid">
      <div class="form-row">
          <div class="form-group col-md-8">
              <label>Nombre del Cliente</label>
              <input [(ngModel)]="Pedido.Nombre" name="Nombre" type="text" placeholder="Nombre" class="form-control">
            </div>
      </div>
    </div>

    <div class="card-footer ">
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-4 col-sm-8">
          </div>
          <div class="form-group col-4 col-sm-2">
              <button (click)="CrearCuenta()" type="button" class="btn btn-success"
                title="Crear Cuenta">Nueva Cuenta</button>
            </div>
          <div class="form-group col-4 col-sm-2">
            <button (click)="CerrarPantallaCrearCuenta()" type="button" class="btn btn-danger"
              title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Pantalla que muestra información de una cuenta -->
<div [hidden]="!PantallaInfoCuenta" class="container-fluid pb-5">

  <form>
    <div class="form-row">
      <div  class="form-group col-sm-8">
        <h2>Información de Cuenta - {{Mesa.Zona}} - {{Mesa.Nombre}} - {{Pedido.Nombre}}</h2>
      </div>
      <div  class="form-group col-12 col-sm-4">
        <a (click)="abrirPantallaProductos()">
          <div class="card bg-primary text-white">
            <div class="card-body m-2 p-2">
              <h4>AGREGAR ARTICULOS + </h4>
            </div>
          </div>
        </a>
      </div>

      <div class="form-group col-12 col-sm-12" *ngFor="let product of OrderProducts;let i = index">
        <div class="card">
            <div class="card-body m-0 p-2">
              <div class="form-row m-0 p-0">

                <div class="form-group col-12 col-sm-8 mb-0">
                  <h4 class="card-title">{{product.Cantidad}} {{product.Descripcion}} </h4>
                  <span class="text-primary"> {{product.Notas}} </span>
                  Precio: ₡{{ (product.Precio * 1 ) + (product.Precio * product.Impuesto / 100) | currency:' '}}
                  ,Cantidad:{{product.Cantidad}},Total:₡{{product.Total | currency:' '}}
                </div>
                <!--
                <div class="form-group col-3 col-sm-1 mb-0">
                  <input [(ngModel)]="product.Facturar" name="Facturar" type="text" placeholder="Facturar" class="form-control">
                </div>
                -->
                <div class="form-group col-3 col-sm-1 mb-0">
                  <button (click)="SumArticle(product)" type="button" class="btn btn-lg btn-success" title="Cancela edicion">  + </button>
                </div>
                <div class="form-group col-3 col-sm-1 mb-0">
                  <button (click)="minusArticle(product)" type="button" class="btn btn-lg btn-danger" title="Cancela edicion">  -  </button>
                </div>
                <div class="form-group col-3 col-sm-1 mb-0">
                  <button (click)="abrirPantallaClave(product,i)" type="button" class="btn btn-lg btn-primary" title="Cancela edicion"> <i class="fa fa-edit" aria-hidden="true"
                    title="Editar Linea"></i> </button>
                </div>
              </div>
            </div>
        </div>
      </div>

    </div>
  </form>

  <form>
      <div class="form-row">
        <div class="form-group col-12 col-sm-2">
          <h2>₡{{TotalGeneral | currency:' '}}</h2>
          <!-- <h2 *ngIf="CobroServicio == 1">₡{{TotalGeneral + (TotalGeneral * 0.1) | currency:' '}} </h2>-->
        </div>

        <div *ngIf="TotalGeneral == 0" class="form-group col-4 col-sm-2">
          <button (click)="CerrarCuenta()" type="button" class="btn btn-success" title="Cambiar">Cerrar Cuenta</button>
        </div>

        <div *ngIf="TotalGeneral > 0" class="form-group col-4 col-sm-2">
          <button (click)="abrirPantallaCambiarMesa()" type="button" class="btn btn-info" title="Cambiar">Cambiar Cuenta</button>
        </div>

        <div *ngIf="TotalGeneral > 0" class="form-group col-4 col-sm-2">
          <button (click)="abrirPantallaFacturar()" type="button" class="btn btn-success" title="Facturar">Facturar</button>
        </div>
        <div *ngIf="TotalGeneral > 0" class="form-group col-4 col-sm-2">
          <button (click)="imprimirComanda()" type="button" class="btn btn-primary" title="Comanda">Comanda</button>
        </div>
        <div *ngIf="TotalGeneral > 0" class="form-group col-4 col-sm-2">
          <button (click)="imprimirCuenta()" type="button" class="btn btn-primary" title="Cancela edicion">Cuenta</button>
        </div>
        <div class="form-group col-4 col-sm-2">
          <button (click)="CerrarPantallaInfoCuenta()" type="button" class="btn btn-danger" title="Cancela edicion">Cerrar</button>
        </div>
      </div>
  </form>
</div>


<div [hidden]="!PantallaPedirClave" class="modal-main">
  <div class="modal-content  card">
    <div class="card-header">
      <h2>Notas y Cambio de Precio - {{Mesa.Zona}} - {{Mesa.Nombre}} - {{Pedido.Nombre}} </h2>

    </div>
    <div class="card-body modal-grid">



      <div class="form-row">
        <div class="form-group col-md-3">
          <label>Clave de Supervisor</label>
          <input [(ngModel)]="ClaveSupervisor" name="ClaveSupervisor" class="form-control" type="password" required="" placeholder="Contraseña" autocomplete="off">
        </div>

        <div class="form-group col-md-12">
          <label>Notas</label>
          <input [(ngModel)]="Articulo.Notas" name="notas" class="form-control" type="text" required="" placeholder="Nota" autocomplete="off">
        </div>

      </div>
    </div>

    <div class="card-footer ">
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-6 col-md-6">
          </div>
          <div class="form-group col-2">
              <button (click)="validarClaveSupervisor()" type="button" class="btn btn-success"
                title="Crear Cuenta">Cambiar Precio</button>
          </div>
          <div class="form-group col-2">
            <button (click)="AgregarNota()" type="button" class="btn btn-success"
              title="Crear Cuenta">Agregar Nota</button>
        </div>
          <div class="form-group col-2">
            <button (click)="cerrarPantallaClave()" type="button" class="btn btn-danger"
              title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [hidden]="!PantallaEditarPrecio" class="modal-main">
  <div class="modal-content  card">
    <div class="card-header">
      <h2>Editar Precio - {{Mesa.Zona}} - {{Mesa.Nombre}} - {{Pedido.Nombre}} </h2>

    </div>
    <div class="card-body modal-grid">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Artículo</label>
          <input [(ngModel)]="Articulo.Descripcion" disabled name="Descripcion" class="form-control" type="text" required="" placeholder="Descripcion" autocomplete="off">
        </div>
        <div class="form-group col-md-3">
          <label>Precio</label>
          <input [(ngModel)]="Articulo.Precio" Disabled name="Precio" class="form-control" type="text" required="" placeholder="Precio" autocomplete="off">
      </div>
        <div class="form-group col-md-3">
            <label>Precio Nuevo</label>
            <input  [(ngModel)]="Precio" name="PrecioNuevo" class="form-control" type="text" required="" placeholder="Precio" autocomplete="off">
        </div>
        <div class="form-group col-md-3">
          <label>Cantidad</label>
          <input [(ngModel)]="Articulo.Cantidad" disabled name="Cantidad" class="form-control" type="text" required="" placeholder="Cantidad" autocomplete="off">
        </div>
        <div class="form-group col-md-3">
          <label>Tasa</label>
          <input [(ngModel)]="Articulo.Impuesto" disabled name="Impuesto" class="form-control" type="text" required="" placeholder="Impuesto" autocomplete="off">
        </div>
        <div class="form-group col-md-3">
          <label>IVA</label>
          <input [(ngModel)]="IVA" disabled name="IVA" class="form-control" type="text" required="" placeholder="IVa" autocomplete="off">
        </div>
        <div class="form-group col-md-3">
          <label>Total</label>
          <input [(ngModel)]="TotalLinea" disabled name="Descripcion" class="form-control" type="text" required="" placeholder="Descripcion" autocomplete="off">
        </div>

      </div>
    </div>

    <div class="card-footer ">
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-8 col-md-8">
          </div>
          <div class="form-group col-2">
              <button (click)="cambiarPrecio()" type="button" class="btn btn-success"
                title="Crear Cuenta">Grabar</button>
            </div>
          <div class="form-group col-2">
            <button (click)="cerrarPantallaEditarPrecio()" type="button" class="btn btn-danger"
              title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pantalla dpara agregar nuevos productos-->

<div [hidden]="!PantallaProductos">
  <div class="form-row">
    <div  class="form-group col-9 col-sm-8">
      <h2>Productos - {{Mesa.Zona}} - {{Mesa.Nombre}} - {{Pedido.Nombre}} </h2>
    </div>
    <div  class="form-group col-3 col-sm-4">
      <button (click)="cerrarPantallaProductos()" type="button" class="btn btn-danger buttonM" title="Cancela edicion">Cerrar</button>
    </div>
  </div>
  <form>
    <div class="form-row">
      <div  class="form-group col-sm-5">
        <div class="form-row">
          <div  class="form-group col-sm-12 bg-secondary pt-3 pl-3">
            <div class="form-row">
              <div class="form-group col-6" *ngFor="let Categoria of Categorias;let i = index">
                <div class="card">
                  <a (click)="SeleccionarCategoria(Categoria)">
                    <div class="card-body h-25 p-1">
                        <h4 class="card-title">{{Categoria.Nombre}}</h4>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div  class="form-group col-sm-12 bg-info pt-3 pl-3">
            <div class="form-row">
              <div class="form-group col-6" *ngFor="let Categoria of SubCategorias;let i = index">
                <div class="card">
                  <a (click)="SeleccionarSubCategoria(Categoria)">
                    <div class="card-body h-25 p-1">
                        <h4 class="card-title">{{Categoria.Nombre}}</h4>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div  class="form-group col-sm-7 ">
        <div class="form-row">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id=""><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
            <input [(ngModel)]="buscarProducto" (blur)="search()" (keydown)="keytab($event)" name="buscarProducto"  type="text" class="form-control"
              placeholder="Buscar">
          </div>

          <div class="form-group col-6" *ngFor="let Producto of Productos;let i = index">
            <div class="card">
              <a (click)="SeleccionarProducto(Producto)">
                <div class="card-body h-20 p-1">
                    <h4 class="card-title">{{Producto.Descripcion}}
                    <div *ngIf="Producto.Foto != ''"> <img [src]="ImgSrc +Producto.Foto" width="95px"></div>
                    ₡{{ (Producto.Precio * 1 ) + (Producto.Precio * Producto.Impuesto / 100) | currency:' '}} </h4>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-10">
          </div>
          <div class="form-group col-2">
            <button (click)="cerrarPantallaProductos()" type="button" class="btn btn-danger" title="Cancela edicion">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div [hidden]="!PantallaFacturar" class="modal-main">
  <div class="modal-content  card">
    <div class="card-header">
      <h2>Facturar Cuenta- {{Mesa.Zona}} - {{Mesa.Nombre}} - {{Pedido.Nombre}} - ₡{{TotalGeneral | currency:' '}} </h2>

    </div>
    <div class="card-body modal-grid">
      <div class="form-row">
        <div class="form-group col-12 col-md-3">
          <label>Tipo de Documento</label>
          <select [(ngModel)]="factura.Tipo_Documento" name="Tipo_Documento" type="text" class="form-control">
            <option value='04'>Tiquete electrónico</option>
            <option value='01'>Factura</option>
          </select>
        </div>
        
        <div *ngIf="factura.Tipo_Documento =='01'" class="form-group col-12 col-md-3">
          <label>Cliente</label>
          <div class="input-group">
            <input [(ngModel)]="factura.Numero_Identificacion"
              name="Numero_Identificacion" type="input" (blur)='IdValidation()' (keydown)="enterValidation($event)"
              class="form-control" placeholder="Identificacion">
            <div class="input-group-append">
              <button type="button" (click)="ClienteNuevo()" class="form-control btn btn-success buttonM"><i
                class="fa fa-plus-circle"></i></button>
            </div>
          </div>
        </div>


        <div *ngIf="factura.Tipo_Documento =='01'" class="form-group col-12 col-md-3">
          <label for="inputPassword4">Tipo Identificacion</label>
          <select [(ngModel)]="factura.Codigo_Identificacion" name="Codigo_Identificacion"
            class="form-control">
            <option value='01'>Cedula Fisica</option>
            <option value='02'>Cedula Juridica</option>
            <option value='03'>Dimex</option>
            <option value='04'>NITE</option>
          </select>
        </div>

        <div *ngIf="factura.Tipo_Documento =='01'" class="form-group col-12 col-md-3">
          <label>Condición</label>
          <select [(ngModel)]="factura.Condicion_Venta" name="Condicion_Venta" type="text"  class="form-control" >
            <option value='01'>Contado</option>
            <option value='02'>Crédito</option>
          </select>
        </div>
        <div class="form-group col-12 col-md-6">
          <label>Nombre Cliente</label>
          <input [(ngModel)]="factura.Nombre" name="Nombre" Id="NombreCliente" type="input"
            class="form-control" placeholder="Correo del Cliente">
        </div>
        <div *ngIf="factura.Tipo_Documento =='01'" class="form-group col-12 col-md-6">
          <label>Correo</label>
          <input [(ngModel)]="factura.Correo" name="Correo" Id="Correo"pat email="true" [email]="true"  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$"
            class="form-control" placeholder="Correo del Cliente">
          
          
          </div>

        <div *ngIf="factura.Tipo_Documento !='01'" class="form-group col-12 col-md-3"></div>
        <div class="form-group col-12 col-md-3">
          <label>Medio de pago</label>
          <select [(ngModel)]="Pedido.Metodo_Pago " name="Metodo_Pago"
            id="Metodo_Pago" class="form-control">
            <option value='99' selected>Otro - Efectivo </option>
            <option value='01'>Efectivo</option>
            <option value='02'>Tarjeta de Credito</option>
            <option value='06'>Sinpe Móvil</option>
            <option value='03'>Cheque</option>
            <option value='04'>Transferencia/Deposito Bancario</option>
            <option value='05'>Recaudo Tercero</option>
          </select>
        </div>

        <div class="form-group col-12 col-md-3">
          <label>Paga Con</label>
          <input  style="font-size:15px;font-weight:bold;"  (keydown)="cambioPago($event)" (focusout)="cambiarMetodoPago()" [(ngModel)]="Pedido.Monto_Pagado" name="MontoCobrado" type="text" placeholder="MontoCobrado" class="form-control">
        </div>
        <div class="form-group col-12 col-md-3">
          <label>Referencia</label>
          <input [(ngModel)]="Pedido.Referencia" name="Referencia" Id="Referencia" type="input"
            class="form-control" placeholder="Referencia">
        </div>
        <div class="form-group col-12 col-md-3">
          <label>Vuelto</label>
          <h2>{{Pedido.Saldo | currency:' '}}</h2>
        </div>


        <div [hidden]="!cobro2" class="form-group col-12 col-md-3">
          <select [(ngModel)]="Pedido.Metodo_Pago1" name="Metodo_Pago2"
            id="Metodo_Pago" class="form-control">
            <option value='01'>Efectivo</option>
            <option value='99'>Otro - Efectivo </option>
            <option value='02'>Tarjeta</option>
            <option value='06'>Sinpe Móvil</option>
            <option value='03'>Cheque</option>
            <option value='04'>Transferencia/Deposito Bancario</option>
            <option value='05'>Recaudo Tercero</option>
          </select>
        </div>

        <div [hidden]="!cobro2" class="form-group col-12 col-md-3">

          <input  style="font-size:15px;font-weight:bold;"  (keydown)="cambioPago($event)" (focusout)="cambiarMetodoPago()" [(ngModel)]="Pedido.Monto_Pagado2" name="MontoCobrado2" type="text" placeholder="MontoCobrado2" class="form-control">
        </div>
        <div [hidden]="!cobro2" class="form-group col-12 col-md-3">

          <input [(ngModel)]="Pedido.Referencia2" name="Referencia2" Id="Referencia2" type="input"
            class="form-control" placeholder="Referencia">
        </div>
        <div [hidden]="!cobro2" class="form-group col-12 col-md-3">

          <h2>{{Pedido.Saldo2| currency:' '}}</h2>
        </div>

        <div [hidden]="!cobro3" class="form-group col-12 col-md-3">

          <select [(ngModel)]="Pedido.Metodo_Pago2" name="Metodo_Pago2"
            id="Metodo_Pago" class="form-control">
            <option value='01'>Efectivo</option>
            <option value='99'>Otro - Efectivo </option>
            <option value='02'>Tarjeta de Credito</option>
            <option value='06'>Sinpe Móvil</option>
            <option value='03'>Cheque</option>
            <option value='04'>Transferencia/Deposito Bancario</option>
            <option value='05'>Recaudo Tercero</option>
          </select>
        </div>

        <div [hidden]="!cobro3" class="form-group col-12 col-md-3">

          <input  style="font-size:15px;font-weight:bold;"  (keydown)="cambioPago($event)" (focusout)="cambiarMetodoPago()" [(ngModel)]="Pedido.Monto_Pagado3" name="MontoCobrado3" type="text" placeholder="MontoCobrado3" class="form-control">
        </div>
        <div [hidden]="!cobro3" class="form-group col-12 col-md-3">

          <input [(ngModel)]="Pedido.Referencia3" name="Referencia3" Id="Referencia3" type="input"
            class="form-control" placeholder="Referencia">
        </div>
        <div [hidden]="!cobro3" class="form-group col-12 col-md-3">

          <h2>{{Pedido.Saldo3 | currency:' '}}</h2>
        </div>

       <!-- Inicio Detalle Detalle -->
<div class="form-group col-12 col-sm-12" *ngFor="let product of OrderProducts; let i = index">
  <div class="card">
    <div class="card-body m-0 p-2">
      <div class="row m-0 p-0 align-items-center">
        <div class="col-12 col-md-8 m-0 p-0 mb-2">
          <h4 class="card-title">{{product.Descripcion}}, {{product.Cantidad}}:{{product.Nueva_Cantidad}}</h4>
        </div>
        <div class="col-12 col-md-4 m-0 p-0">
          <div class="d-flex justify-content-start justify-content-md-end">
            <button (click)="RestarArticuloDetalle(product,i)" type="button" class="btn btn-primary buttonS mr-2" title="Restar cantidad">-</button>
            <button (click)="SuprimirArticuloDetalle(product,i)" type="button" class="btn btn-danger buttonS" title="Eliminar artículo">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fin de Detalle-->

      </div>
    </div>

    <div class="card-footer">
      <div class="form-group">
        <div class="form-row align-items-center justify-content-end">
          <div class="col-auto mb-2">
            <button [disabled]="facturando" (click)="facturar()" type="button" class="btn btn-success" title="Crear Cuenta">
              Facturar
            </button>
          </div>
          <div class="col-auto mb-2">
            <button (click)="cerrarPantallaFacturar()" type="button" class="btn btn-danger" title="Cancela edición">
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pantalla de Procesando -->
<div [hidden]="!PantallaLoading" class="modal-main">

  <div class="modal-content  card">
    <h1>
      Procesando..... {{MensajeLoading}}
    </h1>
  </div>
</div>

<!-- Pantalla para Seleccionar Opcionales-->
<div [hidden]="!PantallaOpciones" class="modal-main">
  <div class="modal-content  card">
    <div class="card-header">
      <h2>Selección de Opciones</h2>
    </div>
    <div class="card-body modal-grid">
      <div class="form-row">

        <div class="form-group col-12" *ngFor="let Grupo of Componentes;let i = index">
          <div class="form-row">

            <div class="form-group col-6 col-sm-3" *ngFor="let Componente of Grupo;let j = index" [ngStyle]="{'color' : getColor(i)}">
              <div class="card">
                <a (click)="SeleccionarComponente(Componente,i,j)">
                  <div class="card-body h-50">
                    <h4 class="card-title">{{Componente.Nombre}} </h4>
                    <span *ngIf="Componente.Selected == '1'" class="text-primary"> Seleccionado</span>
                    <select *ngIf="Componente.Display == '1'" [(ngModel)]="Componente.Id_Producto_Sub_Componente"  name="Id_Producto_Sub_Componente" class="form-control">
                      <option value={{Sub_Componete.Id_Producto_Sub_Componente}} *ngFor="let Sub_Componete of Componente.Sub_Compoente;let i = index">{{Sub_Componete.Nombre}}
                      </option>
                    </select>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer ">
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-4 col-sm-8">
          </div>
          <div class="form-group col-4 col-sm-2">
            <button (click)="agregarComponete()" type="button" class="btn btn-success"
              title="Cancela edicion">Agregar</button>
          </div>
          <div class="form-group col-4 col-sm-2">
            <button (click)="closePantallaOpciones()" type="button" class="btn btn-danger"
              title="Cancela edicion">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pantalla para Seleccionar Adicionales-->
<div [hidden]="!PantallaAdicionales" class="modal-main">
  <div class="modal-content  card">
    <div class="card-header">
      <h2>Selección de Adicionales</h2>
    </div>
    <div class="card-body modal-grid">
      <div class="form-row">

        <div class="form-group col-12" *ngFor="let Grupo of Adicionales;let i = index" [ngStyle]="{'color' : getColor(i)}">
          <div class="form-row">

            <div class="form-group col-6 col-sm-3" *ngFor="let Componente of Grupo;let j = index" >
              <div class="card">
                <a  *ngIf="Componente.Selected == '1'" (click)="quitarSeleccionarAdicional(Componente,i,j)">
                  <span class="text-primary"><h6 class="p-2"> Seleccionado</h6></span>
                </a>
                <a (click)="SeleccionarAdicional(Componente,i,j)">
                  <div class="card-body h-50">
                    <h4 class="card-title">{{Componente.Nombre}}</h4>
                    <select *ngIf="Componente.Display == '1'" [(ngModel)]="Componente.Id_Producto_Sub_Componente"  name="Id_Producto_Sub_Componente" class="form-control">
                      <option value={{Sub_Componete.Id_Producto_Sub_Componente}} *ngFor="let Sub_Componete of Componente.Sub_Compoente;let i = index">{{Sub_Componete.Nombre}}
                      </option>
                    </select>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="card-footer ">
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-6 col-sm-8">
          </div>
          <div class="form-group col-3 col-sm-2">
            <button (click)="agregarAdicional()" type="button" class="btn btn-success"
              title="Cancela edicion">Agregar</button>
          </div>
          <div class="form-group col-3 col-sm-2">
            <button (click)="closePantallaAdicionales()" type="button" class="btn btn-danger"
              title="Cancela edicion">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div [hidden]="!PantallaCambiarMesa" >
  <h2>Cambio de Cuenta </h2>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">

        <div class="card">
          <div class="card-header">
            <div class="form-group col-md-12 m-3">
              {{Mesa.Zona}} - {{Mesa.Nombre}} - {{Pedido.Nombre}}
            </div>
            
          </div>
          <div class="card-body ">
            <div class="form-group col-12 col-sm-12" *ngFor="let product of ProductosOrdenActual;let i = index">
              <div class="card">
                <div class="card-body m-0 p-2">
                  <div class="form-row m-0 p-0">
                    <div (click)="PasarProductoAOrdenNueva(product,i)"  class="form-group col-md-9 m-0 p-0">
                      <h6 class="card-title">{{product.Cantidad}} : {{product.Descripcion}} </h6>
                    </div>
                    <div  class="form-group col-md-3 m-0 p-0">
                      <button (click)="cambiarTodosLasCantidades(product,i)"  type="button" class="btn btn-primary h-10 mr-2" ><i class="fa fa-forward"
                        aria-hidden="true"></i></button>
                      <button (click)="PasarProductoAOrdenNueva(product,i)"  type="button" class="btn btn-success h-10 " ><i class="fa fa-arrow-right"
                          aria-hidden="true"></i></button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <div class="form-row">
              <div class="form-group col-md-10">
                <h5>Total {{TotalOrdenActual | currency:' '}}</h5>
              </div>
              <div class="form-group col-md-2">
              <button (click)="cambiarTodosLosProductos()"  type="button" class="btn btn-primary h-10 " ><i class="fa fa-forward"
              aria-hidden="true"></i></button>
              </div>  

            </div>
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <div class="card">
          
          <div class="card-header">
            <div class="form-row">

              <div class="form-group col-md-4">
                
                <select (change)="LeerMesasPorZona()" [(ngModel)]="Pedido.Id_Nueva_Zona" name="Id_Zona" type="text" class="form-control">
                  <option value='{{Zone.Id_Zona}}' *ngFor="let Zone of Zonas;let i = index">
                    {{Zone.Nombre}}</option>
                </select>
              </div>
              
              <div class="form-group col-md-4">
                
                <select (change)="LeerCuentasPorMesa()" [(ngModel)]="Pedido.Id_Nueva_Mesa" name="Id_Mesa" type="text" class="form-control">
                  <option value='{{Mesa.Id_Mesa}}' *ngFor="let Mesa of MesasZona;let i = index">
                    {{Mesa.Nombre}}</option>
                </select>
              </div>
      
              <div class="form-group col-md-4">
                <select [disabled]="PedidoSeleccionado" (change)="LeerProductosPedido()" [(ngModel)]="Pedido.Id_Nuevo_Pedido" name="Id_Pedido2" type="text" class="form-control">
                  <option value="-99">Nueva Cuenta</option>
                  <ng-container *ngFor="let Pedido1 of Pedidos;let i = index">
                    <option *ngIf="Pedido1.Id_Pedido != Pedido.Id_Pedido" value='{{Pedido1.Id_Pedido}}'>{{Pedido1.Nombre}}</option>
                  </ng-container>
                  <!-- <option  value='{{Pedido1.Id_Pedido}}' *ngFor="let Pedido1 of Pedidos;let i = index">
                    {{Pedido1.Nombre}}</option>-->
                </select>
              </div>
          </div>
            
          </div>
          <div class="card-body ">
            <div class="form-group col-12 col-sm-12" *ngFor="let product of ProductosOrdenNueva;let i = index">
              <div class="card">
                <div class="card-body m-0 p-2">
                  <div class="form-row m-0 p-0">
                    <div (click)="PasarProductoaOrdenOriginal(product,i)" class="form-group col-md-8 m-0 p-0">
                      <h6 class="card-title">{{product.Cantidad}} : {{product.Descripcion}} </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
           <h5> Total {{TotalOrdenNueva | currency:' '}}</h5>
          </div>
        </div>
      </div>

      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-6 col-md-8">

          </div>
          <div class="form-group col-3 col-md-2">
            <button (click)="cambiarProductosCuenta()"  type="button" class="btn btn-success" title="Cancela edicion">Cambiar</button>
          </div>
          <div  class="form-group col-3 col-md-2">
            <button (click)="cerrarPantallaCambiarMesa()"  type="button" class="btn btn-danger" title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>