<div [hidden]="edit" class="container pb-5">
    <a [routerLink]="['/']"><img src="/assets/toxologo.png" width="85px"></a>
    <h2>Itinerarios</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id=""><i class="fa fa-search" aria-hidden="true"></i></span>
          </div>
          <input [(ngModel)]="searchField" name="searchField" name="searchField" (blur)="search()" (keydown)="keytab($event)" type="text" class="form-control"
            placeholder="Buscar">
          <div class="input-group-append">
            <button class="btn btn-success" type="button" (click)="editRecord('')"><i class="fa fa-plus-circle"
                aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
    <form>
      <div class="form-row">

        <div class="form-group col-12 col-sm-6" *ngFor="let Itinerario of Itinerarios;let i = index">
          <div class="card">
            <a (click)="editRecord(Itinerario)">
              <div class="card-body">

                <h4 class="card-title">{{Itinerario.Id_Itinerario}}-{{Itinerario.Nombre_Pasajero}}</h4>
                {{Itinerario.Creado_El}}, Estado :
                <span *ngIf="Itinerario.Estado == ''" class="text-success"> Registrado</span>
                <span *ngIf="Itinerario.Estado == '0'" class="text-success"> Cerrado</span>
                <span *ngIf="Itinerario.Estado == '1'" class="text-primary"> Abierto</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </form>

    <div class="container-fluid">
      <ul class="pagination">
        <li class="page-item"><a (click)="ChangePage(0)" class="page-link"><i class="fa fa-fast-backward"
              aria-hidden="true"></i></a></li>
        <li class="page-item"><a (click)="ChangePage(1)" class="page-link"><i class="fa fa-step-backward"
              aria-hidden="true"></i></a></li>
        <li class="page-item"><a (click)="ChangePage(2)" class="page-link"><i class="fa fa-step-forward"
              aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>

  <!--
    Form de Edición
  -->

  <div [hidden]="!edit" class="container pb-5">
    <a [routerLink]="['/']"><img src="/assets/toxologo.png" width="85px"></a>
    <h2>Itinerario</h2>

    <form>
      <div class="form-row">

        <div class="form-group col-md-6">
          <label>Nombre</label>
          <input [(ngModel)]="Itinerario.Nombre_Pasajero" name="Nombre Cliente" type="text" placeholder="Nombre_Pasajero" class="form-control">
        </div>

        <div class="form-group col-md-3">
          <label>Whatsapp</label>
          <input [(ngModel)]="Itinerario.Whatsapp_Cliente" name="Whatsapp Cliente" type="text" placeholder="Whatsapp_Cliente" class="form-control">
        </div>
        <div class="form-group col-md-3">
          <label>Correo</label>
          <input [(ngModel)]="Itinerario.Correo_Cliente" name="Correo Cliente" type="text" placeholder="Correo_Cliente" class="form-control">
        </div>

        <div class="form-group col-md-2">
          <label>País de origen</label>
          <select [(ngModel)]="Itinerario.Pais_Cliente" name="Pais_Cliente" type="text" class="form-control">
            <option value='{{Pais}}' *ngFor="let Pais of Paises;let i = index">
              {{Pais}}</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label># Habitaciones</label>
          <select (change)='SumarPasajeros()' [(ngModel)]="Itinerario.Cantidad_Habitaciones" name="Cantidad_Habitaciones" type="text" class="form-control">
            <option value='{{Numero}}' *ngFor="let Numero of Numeros;let i = index">
              {{Numero}}</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label># Total de Pasajeros</label>
          <input disabled [(ngModel)]="Itinerario.Pasajeros" name="Pasajeros" type="text" placeholder="Pasajeros" class="form-control">
        </div>

        <div class="form-group col-md-2">
          <label># Adultos > 18 Años</label>
          <select (change)='SumarPasajeros()' [(ngModel)]="Itinerario.Cantidad_Adultos" name="Cantidad_Adultos" type="text" class="form-control">
            <option value='{{Numero}}' *ngFor="let Numero of Numeros;let i = index">
              {{Numero}}</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label># Mayore 12 Años</label>
          <select (change)='SumarPasajeros()' [(ngModel)]="Itinerario.Cantidad_Adolecentes" name="Cantidad_Adolecentes" type="text" class="form-control">
            <option value='{{Numero}}' *ngFor="let Numero of Numeros;let i = index">
              {{Numero}}</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label># Menores 12 Años</label>
          <select (change)='SumarPasajeros()' [(ngModel)]="Itinerario.Cantidad_Ninos" name="Cantidad_Ninos" type="text" class="form-control">
            <option value='{{Numero}}' *ngFor="let Numero of Numeros;let i = index">
              {{Numero}}</option>
          </select>
        </div>

        <div class="form-group col-md-2">
          <label>Llegada al País</label>
          <div class="input-group">
              <input class="form-control" placeholder="Llegada Pais" name="Llegada_Pais" [(ngModel)]="Itinerario.Fecha_Llegada" ngbDatepicker #d1="ngbDatepicker">
              <div class="input-group-append">
                  <button class="btn btn-outline-secondary fa fa-calendar" (click)="d1.toggle()" type="button"></button>
              </div>
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Vuelo Llegada</label>
          <input [(ngModel)]="Itinerario.Vuelo_Llegada_Pais" class="form-control" name="Vuelo_Llegada_Pais" id="Vuelo_Llegada_Pais" type="text" placeholder="Vuelo Llegada">
        </div>
        <div class="form-group col-md-2">
            <label>Hora Llegada</label>
            <input [(ngModel)]="Itinerario.Hora_Llegada_Pais" class="form-control" name="Hora_Llegada_Pais" id="Hora_Llegada_Pais" type="text" placeholder="HH:MM">
        </div>

        <div class="form-group col-md-2">
          <label>Salida al País</label>
          <div class="input-group">
              <input class="form-control" placeholder="Llegada Pais" name="Llegada_Pais" [(ngModel)]="Itinerario.Fecha_Salida" ngbDatepicker #d2="ngbDatepicker">
              <div class="input-group-append">
                  <button class="btn btn-outline-secondary fa fa-calendar" (click)="d2.toggle()" type="button"></button>
              </div>
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Vuelo Salida</label>
          <input [(ngModel)]="Itinerario.Vuelo_Salida_Pais" class="form-control" name="Vuelo_Salida_Pais" id="Vuelo_Salida_Pais" type="text" placeholder="Vuelo Llegada">
        </div>
        <div class="form-group col-md-2">
            <label>Hora Salida</label>
            <input [(ngModel)]="Itinerario.Hora_Salida_Pais" class="form-control" name="Hora_Salida_Pais" id="Hora_Salida_Pais" type="text" placeholder="HH:MM">
        </div>

        <div class="form-group col-md-9">
            <label>Paquetes</label>
            <div class="input-group mb-3">
                <select [(ngModel)]="Itinerario.Id_Paquete" name="Paquete" class="form-control">
                <option *ngFor="let Paquete of Paquetes" value={{Paquete.Id_Paquete}}>{{Paquete.Nombre}}</option>
            </select>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label>Generar Paquete</label>
            <button (click)="GenerarPaquete()" type="button" class="btn btn-primary">Generar Paquete</button>
        </div>


        <div class="container-fluid">
          <div class="row">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id=""><i class="fa fa-search" aria-hidden="true"></i></span>
              </div>
              <input [(ngModel)]="searchServicios" name="searchServicios" (blur)="search()" (keydown)="keytab($event)" type="text" class="form-control"
                placeholder="Buscar">
              <div class="input-group-append">
                <button [disabled]="Itinerario.Id_Itinerario == ''"  class="btn btn-success" type="button" (click)="editServicio('')"><i class="fa fa-plus-circle"
                    aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group col-12 col-sm-12" *ngFor="let Servicio of Servicios;let i = index">
          <div class="card">
            <a (click)="editServicio(Servicio)">
              <div class="card-body">
                <h4 class="card-title">
                  <span *ngIf="Servicio.Tipo_Servicio == '1'" class="text-success"> Transporte</span>
                  <span *ngIf="Servicio.Tipo_Servicio == '2'" class="text-info"> Hospedaje</span>
                  <span *ngIf="Servicio.Tipo_Servicio == '3'" class="text-primary"> Tours</span>
                  - {{Servicio.Nombre_Servicio}} | {{Servicio.Nombre_Proveedor}}</h4>
                Fecha: {{Servicio.Fecha_Servicio}} | {{Servicio.Notas_Inicio}} - {{Servicio.Notas_Fin}},

                <span *ngIf="Servicio.Estado == 1">Registrado</span>
                <span *ngIf="Servicio.Estado == 2">Cotización del Servicio Enviada</span>
                <span *ngIf="Servicio.Estado == 3">Servicio Pagado</span>
                <span *ngIf="Servicio.Estado == 4">Reserva Solicitada</span>
                <span *ngIf="Servicio.Estado == 5">Confirmación Proveedor Recibida</span>
                <span *ngIf="Servicio.Estado == 6">Servicio En curso</span>
                <span *ngIf="Servicio.Estado == 7">Servicio Prestado por proveedor</span>
                <span *ngIf="Servicio.Estado == 8">Servicio Cancelado por el Cliente</span>
                <span *ngIf="Servicio.Estado == 9">Servicio Cancelado al Proveedor</span>
                <span *ngIf="Servicio.Estado == 10">Servicio Cobrado por Proveedor</span>
                <span *ngIf="Servicio.Estado == 11">Servicio Pagado al Proveedor</span>

              </div>
            </a>
          </div>
        </div>

        <div class="form-group col-md-12">
          <div class="form-row">
            <div class="form-group col-6 col-md-4">

            </div>
            <div class="form-group col-3 col-md-2">
              <button  [disabled]="Itinerario.Id_Itinerario == ''"  (click)="imprimir()" type="button" class="btn btn-primary" title="Cancela edicion">Vouchers</button>
            </div>
            <div class="form-group col-3 col-md-2">
              <button [disabled]="Itinerario.Id_Itinerario == ''" (click)="Cotizar()" type="button" class="btn btn-info" title="Cancela edicion">Cotizar</button>
            </div>
            <div class="form-group col-3 col-md-2">
              <button (click)="grabar()" type="button" class="btn btn-success" title="Cancela edicion">Grabar</button>
            </div>
            <div class="form-group col-3 col-md-2">
              <button (click)="cancel()" type="button" class="btn btn-danger" title="Cancela edicion">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>


  <!--
  Form de Cuentas Hijas
-->
<div [hidden]="!PantallaServicio" class="modal-main">
  <div class="modal-content  card">
    <div class="card-header">
      <h2>Edición de Servicio -  Monto: <span *ngIf="Servicio.Moneda == '2'" class="text-success">USD</span> <span *ngIf="Servicio.Moneda == '1'" class="text-success">CRC</span>{{Servicio.Total}} </h2>
    </div>
    <div class="card-body modal-grid">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Fecha Servicio</label>
          <div class="input-group">
              <input class="form-control" placeholder="Fecha" name="Fecha" [(ngModel)]="Servicio.Fecha" ngbDatepicker #d3="ngbDatepicker">
              <div class="input-group-append">
                  <button class="btn btn-outline-secondary fa fa-calendar" (click)="d3.toggle()" type="button"></button>
              </div>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Tipo de Servicio</label>
          <select [(ngModel)]="Servicio.Tipo_Servicio" name="Tipo_Servicio" class="form-control">
            <option  value='1'>Transporte</option>
            <option  value='2'>Hospedaje</option>
            <option  value='3'>Tour</option>
          </select>
        </div>
        <div *ngIf="Servicio.Tipo_Servicio == '1'" class="form-group col-md-3">
          <label>Tipo de Ruta</label>
          <select [(ngModel)]="Servicio.Tipo_Servicio_Origen" name="Tipo_Ruta" class="form-control">
              <option value='1'>Privado</option>
              <option value='2'>Shuttle</option>
          </select>
        </div>

        <div *ngIf="Servicio.Tipo_Servicio == '2'" class="form-group col-md-3">
            <label>Tipo de Habitacion</label>
            <select [(ngModel)]="Servicio.Tipo_Servicio_Origen" name="Tipo_Servicio_Origen" class="form-control">
                <option *ngFor="let Habitacion of Habitaciones" value={{Habitacion.Id_Tipo_Habitacion}}>{{Habitacion.Nombre}}</option>
            </select>
        </div>
        <div *ngIf="Servicio.Tipo_Servicio == '2'" class="form-group col-md-2">
            <label>#Noches</label>
            <select [(ngModel)]="Servicio.Cantidad_Dias" name="Cantidad_Dias" class="form-control">
                <option  value='1'>1 Noche</option>
                <option  value='2'>2 Noches</option>
                <option  value='3'>3 Noches</option>
                <option  value='4'>4 Noches</option>
                <option  value='5'>5 Noches</option>
                <option  value='6'>6 Noches</option>
                <option  value='7'>7 Noches</option>
                <option  value='8'>8 Noches</option>
                <option  value='9'>9 Noches</option>
                <option  value='10'>10 Noches</option>
          </select>
        </div>
        <div class="form-group col-md-1">
            <label>#Personas</label>
            <div>
                <label>{{Servicio.Pasajeros}}</label>
            </div>
        </div>


        <!-- Objetos de Hospedaje -->
        <div *ngIf="Servicio.Tipo_Servicio == '2'" class="form-group col-md-2">
          <label>Habitación 1 </label>
          <select [(ngModel)]="Servicio.Habitacion1" name="habitacion1" class="form-control">
            <option  value='1'>1 Persona</option>
            <option  value='2'>2 Personas</option>
            <option  value='3'>3 Personas</option>
            <option  value='4'>4 Personas</option>
          </select>
        </div>

        <div class="form-group col-md-2" *ngIf="Servicio.Tipo_Servicio == '2' && Cantidad_Habitaciones  > 1">
            <label>Habitación 2</label>
            <select [(ngModel)]=" Servicio.Habitacion2 " name="habitacion1 " class="form-control ">
              <option  value='1'>1 Persona</option>
              <option  value='2'>2 Personas</option>
              <option  value='3'>3 Personas</option>
              <option  value='4'>4 Personas</option>
            </select>
        </div>
        <div class="form-group col-md-2" *ngIf="Servicio.Tipo_Servicio == '2' && Cantidad_Habitaciones> 2 ">
            <label>Habitación 3</label>
            <select [(ngModel)]="Servicio.Habitacion3" name="habitacion1" class="form-control">
              <option  value='1'>1 Persona</option>
              <option  value='2'>2 Personas</option>
              <option  value='3'>3 Personas</option>
              <option  value='4'>4 Personas</option>
          </select>
        </div>
        <div  class="form-group col-md-2" *ngIf="Servicio.Tipo_Servicio == '2' && Cantidad_Habitaciones> 3 ">
            <label>Habitación 4</label>
            <select [(ngModel)]="Servicio.Habitacion4" name="habitacion1" class="form-control">
              <option  value='1'>1 Persona</option>
              <option  value='2'>2 Personas</option>
              <option  value='3'>3 Personas</option>
              <option  value='4'>4 Personas</option>
          </select>
        </div>
        <div class="form-group col-md-2" *ngIf="Servicio.Tipo_Servicio == '2' && Cantidad_Habitaciones > 4 ">
            <label>Habitación 5</label>
            <select [(ngModel)]="Servicio.Habitacion5" name="habitacion1" class="form-control">
              <option  value='1'>1 Persona</option>
              <option  value='2'>2 Personas</option>
              <option  value='3'>3 Personas</option>
              <option  value='4'>4 Personas</option>
          </select>
        </div>
        <div class="form-group col-md-2" *ngIf="Servicio.Tipo_Servicio == '2' && Cantidad_Habitaciones> 5">
            <label>Habitación 6</label>
            <select [(ngModel)]="Servicio.Habitacion6" name="habitacion1" class="form-control">
              <option  value='1'>1 Persona</option>
              <option  value='2'>2 Personas</option>
              <option  value='3'>3 Personas</option>
              <option  value='4'>4 Personas</option>
          </select>
        </div>
        <!-- Objetos de Transporte  -->
        <div  *ngIf="Servicio.Tipo_Servicio != '2'" class="form-group col-md-6">
          <label>Proveedor</label>
          <div class="input-group">
              <div class="input-group-append">
                  <button class="btn btn-outline-primary" (click)="openPantallaProveedor()" type="button"><i class="fa fa-search" aria-hidden="true" title="Buscar Proveedor"></i></button>
              </div>
              <input [(ngModel)]="Servicio.Nombre_Proveedor" disabled=true name="Nombre_Proveedor" id="Nombre_Proveedor" type="text" class="form-control" placeholder="Proveedor">
          </div>
        </div>
        <div  *ngIf="Servicio.Tipo_Servicio == '1'" class="form-group col-md-6">
            <label>Ruta</label>
            <div class="input-group">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" (click)="openPantallaRuta()" type="button"><i class="fa fa-search" aria-hidden="true" title="Buscar Ruta"></i></button>
                </div>
                <input [(ngModel)]="Servicio.Nombre_Servicio" disabled=true name="Nombre_Ruta" id="Nombre_Ruta" type="text" class="form-control" placeholder="Ruta">
            </div>
        </div>
        <!-- No es transporte -->

        <div *ngIf="Servicio.Tipo_Servicio != '1'" class="form-group col-md-6">
          <label>Sitio</label>
          <div class="input-group">
              <div class="input-group-append">
                  <button class="btn btn-outline-primary" (click)="openPantallaLugar()" type="button"><i class="fa fa-search" aria-hidden="true" title="Buscar Sitio"></i></button>
              </div>
              <input [(ngModel)]="Servicio.Nombre_Inicio" disabled=true name="Nombre_Sitio" id="Nombre_Sitio" type="text" class="form-control" placeholder="Sitio">
          </div>
        </div>

        <div class="form-group col-md-6" *ngIf="Servicio.Tipo_Servicio == '2'">
          <label>Hotel</label>
          <div class="input-group">
              <div class="input-group-append">
                  <button class="btn btn-outline-primary" (click)="openPantallaHotel()" type="button"><i class="fa fa-search" aria-hidden="true" title="Buscar Hotel"></i></button>
              </div>
              <input [(ngModel)]="Servicio.Nombre_Servicio" disabled=true name="Nombre_Hotel" id="Nombre_Hotel" type="text" class="form-control" placeholder="Hotel">
          </div>
        </div>

        <div class="form-group col-md-6" *ngIf="Servicio.Tipo_Servicio == '3'">
          <label>Tour</label>
          <div class="input-group">
              <div class="input-group-append">
                  <button class="btn btn-outline-primary" (click)="openPantallaTur()" type="button"><i class="fa fa-search" aria-hidden="true" title="Buscar Tour"></i></button>
              </div>
              <input [(ngModel)]="Servicio.Nombre_Servicio" disabled=true name="Nombre_Tour" id="Nombre_Tour" type="text" class="form-control" placeholder="Tour">
          </div>
        </div>
        <div *ngIf="Servicio.Tipo_Servicio == '1'" class="form-group col-md-2">
          <label>Horario</label>
          <div class="input-group">
              <input *ngIf="Servicio.Tipo_Servicio_Origen == '1'" [(ngModel)]="Servicio.Horario" name="Horario" type="text" class="form-control" placeholder="HH:MM">
              <select *ngIf="Servicio.Tipo_Servicio_Origen == '2'" [(ngModel)]="Servicio.Horario" name="Horario" class="form-control">
                <option *ngFor="let Horario of Horarios" value={{Horario.Horario}}>{{Horario.Horario}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="Servicio.Tipo_Servicio == '1'" class="form-group col-md-5">
          <label>Lugar Pickup</label>
          <div class="input-group">
              <input *ngIf="Servicio.Tipo_Servicio_Origen == '1'" [(ngModel)]="Servicio.Nombre_Inicio" name="Nombre_PickUp" type="text" class="form-control" placeholder="Lugar Pickup">
              <select *ngIf="Servicio.Tipo_Servicio_Origen == '2'" [(ngModel)]="Servicio.Id_Sitio_Inicio" name="Lugar_PickUp" class="form-control">
                <option *ngFor="let Hotel of HotelesOrigen" value={{Hotel.Id_Hotel}}>{{Hotel.Nombre}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="Servicio.Tipo_Servicio == '1'" class="form-group col-md-5">
            <label>Lugar Drop Off</label>
            <div class="input-group">
                <input *ngIf="Servicio.Tipo_Servicio_Origen == '1'" [(ngModel)]="Servicio.Nombre_Fin" name="Nombre_DropOff" type="text" class="form-control" placeholder="Lugar Drop Off">
                <select *ngIf="Servicio.Tipo_Servicio_Origen == '2'" [(ngModel)]="Servicio.Id_Sitio_Fin" name="Lugar_DropOff" class="form-control">
                <option *ngFor="let Hotel of HotelesDestino" value={{Hotel.Id_Hotel}}>{{Hotel.Nombre}}</option>
            </select>
            </div>
        </div>
        <div *ngIf="Servicio.Tipo_Servicio == '1'"  class="form-group col-md-6">
            <label>Notas Pick Up</label>
            <input [(ngModel)]="Servicio.Notas_Inicio" name="Notas_Inicio" id="Notas_Inicio" type="text" class="form-control" placeholder="Notas">
        </div>
        <div *ngIf="Servicio.Tipo_Servicio == '1'" class="form-group col-md-6">
            <label>Notas del Drop Off</label>
            <input [(ngModel)]="Servicio.Notas_Fin" name="Notas_Fin" id="Notas_Fin" type="text" class="form-control" placeholder="Notas del Drop Off">
        </div>
        <div class="form-group col-md-4">
          <label>Estado del Servicio</label>
          <select [(ngModel)]="Servicio.Estado" name="TypeIdentification" class="form-control">
            <option  value='1'>Registrado</option>
            <option  value='2'>Cotización del Servicio Enviada</option>
            <option  value='3'>Servicio Pagado</option>
            <option  value='4'>Reserva Solicitada</option>
            <option  value='5'>Confirmación Proveedor Recibida</option>
            <option  value='6'>Servicio En curso</option>
            <option  value='7'>Servicio Prestado por proveedor</option>
            <option  value='8'>Servicio Cancelado por el Cliente</option>
            <option  value='9'>Servicio Cancelado al Proveedor</option>
            <option  value='10'>Servicio Cobrado por Proveedor</option>
            <option  value='11'>Servicio Pagado al Proveedor</option>
         </select>
        </div>
        <div class="form-group col-md-4">
          <label># Confirmación Proveedor</label>
          <input [(ngModel)]="Servicio.Numero_Confirmacion_Proveedor" name="Numero_Confirmacion_Proveedor" id="Numero_Confirmacion_Proveedor" type="text" class="form-control" placeholder="Numero Confirmacion Proveedor">
        </div>
        <div class="form-group col-md-4">
            <label>Fecha  Confirmación</label>
            <input [(ngModel)]="Servicio.Fecha_Confirmacion_Proveedor" name="Fecha_Confirmacion_Proveedor" id="Fecha_Confirmacion_Proveedor" type="text" class="form-control" placeholder="Fecha Confirmacion Proveedor">
        </div>
        <div class="form-group col-md-12">
          <label>Notas del Proveedor</label>
          <input [(ngModel)]="Servicio.Notas_Confirmacion_Proveedor" name="Notas_Confirmacion_Proveedor" id="Notas_Confirmacion_Proveedor" type="text" class="form-control" placeholder="Notas Confirmacion Proveedor">
        </div>


      </div>
    </div>

    <div class="card-footer ">
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="col-md-4">
          </div>
          <div class="col-md-2">
            <button *ngIf="Servicio.Id_Servicio" (click)="SolicitudProveedor()" type="button" class="btn btn-info"> Correo </button>
          </div>
          <div class="col-md-2">
            <button *ngIf="Servicio.Id_Servicio" (click)="GenerarBoucher()" type="button" class="btn btn-primary"> Boucher </button>
          </div>
          <div class="form-group col-2">
            <button (click)="GrabarServicio()" type="button" class="btn btn-success"
              title="Cancela edicion">Grabar</button>
          </div>
          <div class="form-group col-2">
            <button (click)="closePantallaServicio()" type="button" class="btn btn-danger"
              title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div [hidden]="!ProveedorPanel" class="modal-main">
  <div class="modal-content  card">
    <div class="card-header">
      <h2>Seleccionar Proveedor</h2>
      <input [(ngModel)]="searchFieldProveedor" (blur)="searchProveedor()" (keydown)="keytabProveedor($event)" type="text"
        class="form-control" placeholder="Buscar">
    </div>
    <div class="card-body modal-grid">
      <div class="form-row">
        <div class="form-group col-12 col-sm-6" *ngFor="let Provider of Proveedores;let i = index">
          <a (click)="selectProveedor(Provider)">
            <div class="card">
              <div class="card-body">
                <h5>{{Provider.Nombre}}</h5>

              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="card-footer ">
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-8 col-md-10">
          </div>
          <div class="form-group col-2">
            <button (click)="cerrarPantallaProveedor()" type="button" class="btn btn-danger"
              title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [hidden]="!PantallaRutas" class="modal-main">
  <div class="modal-content  card">
    <div class="card-header">
      <h2>Seleccionar Ruta</h2>
      <input [(ngModel)]="searchFieldRutas" (blur)="searchRoutes()" (keydown)="keytabRoutes($event)" type="text"
        class="form-control" placeholder="Buscar">
    </div>
    <div class="card-body modal-grid">
      <div class="form-row">
        <div class="form-group col-8 col-sm-6" *ngFor="let Route of Rutas;let i = index">
          <a (click)="SeleccionarRuta(Route)">
            <div class="card">
              <div class="card-body">
                <h5>{{Route.Nombre}}</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="card-footer ">
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-8 col-md-10">
          </div>
          <div class="form-group col-2">
            <button (click)="cerrarPantallaRutas()" type="button" class="btn btn-danger"
              title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [hidden]="!PlacePanel" class="modal-main">
  <div class="modal-content  card">
    <div class="card-header">
      <h2>Seleccionar Lugar</h2>
      <input [(ngModel)]="searchFieldPlace" (blur)="searchPlaces()" (keydown)="keytabPlaces($event)" type="text"
        class="form-control" placeholder="Buscar">
    </div>
    <div class="card-body modal-grid">
      <div class="form-row">
        <div class="form-group col-12 col-sm-6" *ngFor="let Lugar of Lugares;let i = index">
          <a (click)="selectPlace(Lugar)">
            <div class="card">
              <div class="card-body">
                <h5>{{Lugar.Nombre}}</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="card-footer ">
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-8 col-md-10">
          </div>
          <div class="form-group col-2">
            <button (click)="closePlacePanel()" type="button" class="btn btn-danger"
              title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div [hidden]="!HotelPanel" class="modal-main">
  <div class="modal-content  card">
    <div class="card-header">
      <h2>Seleccionar Hospedaje</h2>
      <input [(ngModel)]="searchFieldPlace" (blur)="searchHotels()" (keydown)="keytabHotels($event)" type="text"
        class="form-control" placeholder="Buscar">
    </div>
    <div class="card-body modal-grid">
      <div class="form-row">
        <div class="form-group col-12 col-sm-6" *ngFor="let Hotel of Hoteles;let i = index">
          <a (click)="selectHotel(Hotel)">
            <div class="card">
              <div class="card-body">
                <h5>{{Hotel.Nombre}}</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="card-footer ">
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-8 col-md-10">
          </div>
          <div class="form-group col-2">
            <button (click)="cerrarPantalalHoteles()" type="button" class="btn btn-danger"
              title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [hidden]="!TourPanel" class="modal-main">
  <div class="modal-content  card">
    <div class="card-header">
      <h2>Seleccionar Tour</h2>
      <input [(ngModel)]="searchFieldPlace" (blur)="searchTours()" (keydown)="keytabTours($event)" type="text"
        class="form-control" placeholder="Buscar">
    </div>
    <div class="card-body modal-grid">
      <div class="form-row">
        <div class="form-group col-12 col-sm-6" *ngFor="let Tour of Tours;let i = index">
          <a (click)="selectTour(Tour)">
            <div class="card">
              <div class="card-body">
                <h5>{{Tour.Tour}}</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="card-footer ">
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-8 col-md-10">
          </div>
          <div class="form-group col-2">
            <button (click)="cerrarPantalalTours()" type="button" class="btn btn-danger"
              title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
