<div [hidden]="edit" class="container-fluid pb-5">

  <!-- Buscar + botón agregar -->
  <div class="input-group my-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-search"></i></span>
    </div>
    <input [(ngModel)]="searchField" (blur)="search()" (keydown)="keytab($event)"
           type="text" class="form-control" placeholder="Buscar {{ tituloSeccion | lowercase }}">
    <div class="input-group-append">
      <button class="btn btn-success" type="button" (click)="editRecord('')">
        <i class="fa fa-plus-circle"></i>
      </button>
    </div>
  </div>

  <!-- Lista de empleados -->
  <form>
    <div class="form-row">
      <div class="form-group col-12 col-sm-6" *ngFor="let Planilla of Planillas; let i = index">
        <div class="card shadow-sm mb-3 hover-shadow-sm" (click)="editRecord(Planilla)">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">
              {{paginacion.FirstRow + i}} - {{Planilla.Nombre}}
            </h5>
            <p class="mb-1 text-muted">
              ID: {{Planilla.Id_Planilla}} | Inicio: {{Planilla.Fecha_Inicio | date:'dd-MM-yyyy'  }} | Fin: {{Planilla.Fecha_Fin | date:'dd-MM-yyyy' }}
            </p>
            <div>
              <span *ngIf="Planilla.Estado == '1'" class="badge badge-info">Registrada</span>
              <span *ngIf="Planilla.Estado == '2'" class="badge badge-secondary">Calculada</span>
              <span *ngIf="Planilla.Estado == '3'" class="badge badge-secondary">Aplicada</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Paginación -->
  <div class="container-fluid">
    <ul class="pagination justify-content-center mt-3">
      <li class="page-item"><a (click)="ChangePage(0)" class="page-link"><i class="fa fa-fast-backward"></i></a></li>
      <li class="page-item"><a (click)="ChangePage(1)" class="page-link"><i class="fa fa-step-backward"></i></a></li>
      <li class="page-item"><a (click)="ChangePage(2)" class="page-link"><i class="fa fa-step-forward"></i></a></li>
    </ul>
  </div>
</div>


<div [hidden]="!edit" class="container-fluid pb-5">
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link" [class.active]="GeneralActivo" (click)="activarGeneral()">Planilla</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="MarcasActivo" (click)="activarMarcas()">Marcas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="MovimientosActivo" (click)="activarMovimientos()">Movimientos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="CalculoActivo" (click)="activarCalculo()">Calculo</a>
    </li>
  </ul>
  <span [hidden]="!edit">
    <app-planilla-general [hidden]="!GeneralActivo" [Planilla]="Planilla"></app-planilla-general>
    <app-marcas-erroneas [hidden]="!MarcasActivo" [Planilla]="Planilla"></app-marcas-erroneas>
    <app-movimientos-planilla [hidden]="!MovimientosActivo" [Planilla]="Planilla"></app-movimientos-planilla>
    <app-calculo-planilla [hidden]="!CalculoActivo" [Planilla]="Planilla"></app-calculo-planilla>
    <!-- 
    <app-general  [hidden]="!GeneralActivo" [TipoPersona]="1" [Persona]="Persona" (close)="cancel()"></app-general>
    <app-direccion [hidden]="!DireccionActivo" [Persona]="Persona" [Provinces]="Provinces" [Cantons]="Cantons" [Districts]="Districts" (provinceChange)="provinceChange()"  (cantonChange)="cantonChange()" ></app-direccion>
    <app-contactos [hidden]="!ContactosActivo" [Persona]="Persona"></app-contactos>
    <app-rrhh [hidden]="!RhhActivo" [Persona]="Persona"></app-rrhh>
  -->
 
  </span>

   <div class=" d-flex justify-content-end">
      
      <button (click)="grabar()" class="btn btn-success mr-4">Grabar</button>
      <button (click)="procesarMarcas()" class="btn btn-primary mr-4">Procesar Marcas</button>
      <button (click)="calcularPlanila()" class="btn btn-primary mr-4">Calcular Planilla</button>
      <button (click)="reportePlanilla()" class="btn btn-primary mr-4">Reporte Planilla</button>
      <button (click)="colillaPago()" class="btn btn-primary mr-4">Colillas de Pago</button>
      <button (click)="cancel()" class="btn btn-danger">Cancelar</button>
    </div>

</div>
