.bg1 {
  background: linear-gradient(to top, #09203f,#537895);
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.app-splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: left 0.5s;
}

.app-label {
  margin-top: 32px;
  color: #fff;
  font-size: 2.5em;
  font-family: 'Anton', sans-serif;
}

.app-splash-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-logo {
  background: url("../../../../../../../assets/logo_tansparent.png");
  background-repeat: no-repeat;
  max-width: 100%;
  background-position: center;
  background-size: contain;
  width: 100px;
  height: 100px;
  margin: auto;
}

.center {
  text-align: justify;
}
.center div {
  text-align: center;

}
img {
  max-width: 85vw;
  margin-bottom: 10px;
  margin-top: 10px;
}

.h-50 {
  min-height: 100px;
}


.conta {
  background: url(../../../../../../../assets/conta1.png) no-repeat;
  cursor:pointer;
  border: none;
  background-size: cover;
  width: 80px;
  height: 80px;
  font-size: 2rem;
}

.venta {
  background: url(../../../../../../../assets/venta.png) no-repeat;
  cursor:pointer;
  border: none;
  background-size: cover;
  width: 80px;
  height: 80px;
  font-size: 2rem;
}
.factura {
  background: url(../../../../../../../assets/factura.png) no-repeat;
  cursor:pointer;
  border: none;
  background-size: cover;
  width: 80px;
  height: 80px;
  font-size: 2rem;
}
.menu {
  background: url(../../../../../../../assets/menu.png) no-repeat;
  cursor:pointer;
  border: none;
  background-size: cover;
  width: 80px;
  height: 80px;
  font-size: 2rem;
}

.bus {
  background: url(../../../../../../../assets/bus.png) no-repeat;
  cursor:pointer;
  border: none;
  background-size: cover;
  width: 80px;
  height: 80px;
  font-size: 2rem;
}
.turismo {
  background: url(../../../../../../../assets/turismo.png) no-repeat;
  cursor:pointer;
  border: none;
  background-size: cover;
  width: 80px;
  height: 80px;
  font-size: 2rem;
}
