<div [hidden]="!hideMenu" class="container">
  <img src="../../../../assets/toxologo.png" width="85px">
  <div class="container center">
    <div>
      <img src="../../../../assets/tercerizar.png">
    </div>
    <div class="text-center">
      <h1>
        <font color="#fc6824">SISTEMA DE TURISMO</font>
      </h1>
      <h3>
        <font color="#fc6824">Tomate un respiro,</font> Déjalo en nuestras manos.
      </h3>
      <h3>
        <font color="#fc6824">TOXO</font> Expertos en tercerización de servicios
      </h3>
    </div>
    
  </div>
  <div>
    <br />
  </div>

  <div [hidden]="logedIn" class="form-row">
    <div class="form-group col-md-4 text-center">
      <button type="button" class="conta" title="Cancela edicion"></button>
      <div>
        Agencias de Viajes
      </div>
    </div>

    <div class="form-group col-md-4 text-center">
      <button  type="button" class="venta" title="Cancela edicion"></button>
      <div>
        Tour Operadores
      </div>
    </div>

    <div class="form-group col-md-4 text-center">
      <button  type="button" class="venta" title="Cancela edicion"></button>
      <div>
        Transportistas
      </div>
    </div>

  </div>


</div>
