<!-- [hidden]="!logedIn" -->
<nav  role="navigation">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input  id="MenuShow" (click)="click()" [checked]="showMenu"  type="checkbox" />

    <!--
    Some spans to act as a hamburger.

    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>

    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
      <ul  [hidden]="!showMenu" id="menu">
        <a (click)="hideMenu()" [routerLink]="['/']"><li><i class="fa fa-home"></i> Inicio {{ambiente}} 1.0.1</li></a>
        <div [hidden]="!logedIn">

          <li [hidden]="!AppAcademico" (click)="clickAcademicoMenu()" ><a><i class="fa fa-hospital-o"></i>  Tablero <i [ngClass]='AcademicoClass' class="fa fa-cog"></i>  </a></li>
          <ul [hidden]="!AcademicoMenu" >
            <!--<a (click)="hideMenu()" [routerLink]="['/people']"><li><i class="fa fa-credit-card"></i> Contactos </li></a>-->
            <a (click)="hideMenu()" [routerLink]="['/prospectos']"><li><i class="fa fa-credit-card"></i> Prospectos </li></a>
            <a (click)="hideMenu()" [routerLink]="['/clientes']"><li><i class="fa fa-credit-card"></i> Clientes </li></a>
            <!--<a (click)="hideMenu()" [routerLink]="['/people']"><li><i class="fa fa-credit-card"></i> Proveedores </li></a>-->
            <a (click)="hideMenu()" [routerLink]="['/tareas']"><li><i class="fa fa-credit-card"></i> Tareas </li></a>
            <!--<a (click)="hideMenu()" [routerLink]="['/presentacion']"><li><i class="fa fa-credit-card"></i> Declaraciones </li></a>-->

          </ul>
        </div>
        <a href="https://api.whatsapp.com/send?phone=50687786649" target="_blank"><li><i class="fa fa-phone"></i> Soporte</li></a>
        <a href="/main" target="_self"><li><i class="fa fa-home"></i> Menú Principal</li></a>
        <a (click)="hideMenu()" [hidden]="logedIn" [routerLink]="['/login']"><li><i class="fa fa-sign-in"></i> Entrar</li></a>
        <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/cambiar']"><li><i class="fa fa-key"></i> Cambiar Clave</li></a>
        <a (click)="hideMenu()" [hidden]="!logedIn" (click)="logOut()" href="#"><li><i class="fa fa-sign-out"></i> Salir</li></a>
        <a (click)="hideMenu()" [hidden]="!logedIn">{{Company}} | {{User}}</a>
      </ul>
  </div>
</nav>