<div [hidden]="!hideMenu" class="container">
  <img src="../../../../assets/toxologo.png" width="85px">
  <div class="container center">
    <div>
      <img src="../../../../assets/tercerizar.png" width="100%">
    </div>
    <div class="text-center">
      <h1>
        <font color="#fc6824">SISTEMA GESTION DE PROYECTOS</font>
      </h1>
      <h3>
        <font color="#fc6824">Tomate un respiro,</font> Déjalo en nuestras manos.
      </h3>
      <h3>
        <font color="#fc6824">TOXO</font> Expertos en tercerización de servicios
      </h3>
    </div>
    
  </div>
  <div>
    <br />
  </div>



</div>
