<div class="container-fluid pb-5">

  <!-- Buscar + botón agregar -->
  <div class="input-group my-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-search"></i></span>
    </div>
    <input [(ngModel)]="searchField" (blur)="search()" (keydown)="keytab($event)"
           type="text" class="form-control" placeholder="Buscar {{ tituloSeccion | lowercase }}">
    <div class="input-group-append">
      <button class="btn btn-success" type="button" (click)="editRecord('')">
        <i class="fa fa-plus-circle"></i>
      </button>
    </div>
  </div>

  <!-- Lista de empleados -->
  <form>
    <div class="form-row">
      <div class="form-group col-12 col-sm-6" *ngFor="let Persona of Movimientos; let i = index">
        <div class="card shadow-sm mb-3 hover-shadow-sm" (click)="editRecord(Persona)">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">
              {{paginacion.FirstRow + i}} - {{Persona.Empleado}}
            </h5>
            <p class="mb-1 text-muted">
              {{Persona.Concepto}} 
            </p>
            <div>
             

              <span *ngIf="Persona.Estado == '1'" class="badge badge-info">Activo</span>
              <span *ngIf="Persona.Estado == '0'" class="badge badge-secondary">Inactivo</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Paginación -->
  <div class="container-fluid">
    <ul class="pagination justify-content-center mt-3">
      <li class="page-item"><a (click)="ChangePage(0)" class="page-link"><i class="fa fa-fast-backward"></i></a></li>
      <li class="page-item"><a (click)="ChangePage(1)" class="page-link"><i class="fa fa-step-backward"></i></a></li>
      <li class="page-item"><a (click)="ChangePage(2)" class="page-link"><i class="fa fa-step-forward"></i></a></li>
    </ul>
  </div>
</div>


<!--Inicio Pantalla Tipos de Planilla -->
<div [hidden]="!PantallaMovimiento" class="modal-main">
  <div class="modal-content  card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Movimiento de Planilla</h5>
      
    </div>

    <div class="card-body modal-grid">
      <div class="form-row"> 
          
        <div class="form-group col-md-6">
          <label>Empleado</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <button type="button" (click)="openEmpleadoPanel()" class="btn btn-primary">
                <i class="fa fa-search"></i>
              </button>
            </div>
            <input [(ngModel)]="Movimiento.Empleado" disabled name="Empleado" id="Empleado" type="text"
              class="form-control" placeholder="Empleado">
          </div>
        </div>

        <div class="form-group col-md-6">
          <label>Concepto Salarial</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <button type="button" (click)="openConceptoPanel()" class="btn btn-primary">
                <i class="fa fa-search"></i>
              </button>
            </div>
            <input [(ngModel)]="Movimiento.Concepto_Salarial" disabled name="Concepto_Salarial" id="Concepto_Salarial" type="text"
              class="form-control" placeholder="Concepto Salarial">
          </div>
        </div>

        <div class="form-group col-md-6">
          <label>Valor</label>
          <input [(ngModel)]="Movimiento.Cantidad" name="Cantidad" type="text" placeholder="Cantidad" class="form-control">
        </div>

        <div class="form-group col-md-3">
          <label>Estado</label>
          <select [(ngModel)]="Movimiento.Estado" name="Estado" class="form-control">
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
          </select>
        </div>


      </div>
    </div>

    <div class="card-footer d-flex justify-content-end">
      <button (click)="grabarMovimiento()" class="btn btn-primary mr-4">Agregar</button>
      <button (click)="closePantallaMovimiento()" class="btn btn-danger">Cancelar</button>
    </div>
</div>


<!--Inicio Pantalla Empleados -->
<div [hidden]="!PantallaEmpleados" class="modal-secondary">
  <div class="modal-content  card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Seleccionar Empleado</h5>
      <input class="form-control w-50" placeholder="Buscar..." [(ngModel)]="searchFieldEmpleados" (blur)="searchEmpleados()" (keydown)="keytabEmpleados($event)">
    </div>

    <div class="card-body modal-grid">
      <div class="form-row">
        <div class="form-group col-12 col-sm-6" *ngFor="let Tipo of Empleados;let i = index">
          <a (click)="SeleccionarEmpleados(Tipo)">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                    <i class="fa fa-clock-o text-primary mr-2"></i>
                    {{Tipo.Nombre}}
                  </h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="card-footer d-flex justify-content-end">
      <button (click)="closePantallaEmpleados()" class="btn btn-danger">Cancelar</button>
    </div>
  </div>
</div>
<!--Inicio Pantalla Concepto Salarial -->
<div [hidden]="!PantallaConceptos" class="modal-secondary">
  <div class="modal-content  card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Seleccionar Concepto</h5>
      <input class="form-control w-50" placeholder="Buscar..." [(ngModel)]="searchFieldEmpleados" (blur)="searchEmpleados()" (keydown)="keytabEmpleados($event)">
    </div>

    <div class="card-body modal-grid">
      <div class="form-row">
        <div class="form-group col-12 col-sm-6" *ngFor="let Tipo of Conceptos;let i = index">
          <a (click)="SeleccionarConcepto(Tipo)">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                    <i class="fa fa-clock-o text-primary mr-2"></i>
                    {{Tipo.Nombre}}
                  </h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="card-footer d-flex justify-content-end">
      <button (click)="closePantallaConceptos()" class="btn btn-danger">Cancelar</button>
    </div>
  </div>
</div>