<div>
    <ejs-schedule   width='75vw' height="90vh"
    [workHours]="workHours"
    [eventSettings]='eventSettings' 
    [currentView]="'Week'"
    (dragStop)="handleDragStop($event)" 
    (popupOpen)="onPopupOpen($event)"
    (eventDoubleClick)="onEventClick($event)"
    (eventClick)="onEventClick($event)"
    (cellClick)="onEventClick($event)"
    (resizeStop)="handleDragStop($event)"

    > 
    <e-views>
        <e-view option='Agenda'></e-view>
        <e-view option='Day'></e-view>
        <e-view option='Week'></e-view>
        <e-view option='Month'></e-view>
        <e-view option='Year'></e-view>
        <e-view option='TimelineMonth' [group]="groupSettings"></e-view>
      </e-views>

      <e-resources>
        <e-resource field="Responsable" title="Responsable" name="Owners"
          [dataSource]="ownerDataSource" [allowMultiple]="true"
          textField="OwnerText" idField="Id" colorField="OwnerColor">
        </e-resource>
      </e-resources>
      
    </ejs-schedule>
</div>