<div [hidden]="edit" class="container-fluid pb-5">
  
  <h2>Usuarios</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id=""><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
        <input [(ngModel)]="searchField" name="searchField" (blur)="search()" (keydown)="keytab($event)" type="text" class="form-control"
          placeholder="Buscar">
        <div class="input-group-append">
          <button class="btn btn-success" type="button" (click)="editRecord('')"><i class="fa fa-plus-circle"
              aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
  <form>
    <div class="form-row page-grid">

      <div class="form-group col-12 col-sm-6" *ngFor="let Usuario of Users;let i = index">
        <div class="card">
          <a (click)="editRecord(Usuario)">
            <div class="card-body">

              <h4 class="card-title">{{Usuario.Nombre}}</h4>
              Tipo :
              <span *ngIf="Usuario.Tipo_Usuario == '0'" class="text-success"> Usuario Regular</span>
              <span *ngIf="Usuario.Tipo_Usuario == '1'" class="text-primary"> Administrador</span>
              <span *ngIf="Usuario.Tipo_Usuario == '2'" class="text-success"> Cajero</span>
              <span *ngIf="Usuario.Tipo_Usuario == '3'" class="text-success"> Marca</span>
              Estado :
              <span *ngIf="Usuario.Estado == '1'" class="text-success"> Activo</span>
              <span *ngIf="Usuario.Estado == '0'" class="text-danger"> Inactivo</span>
              <h6>Id:{{Usuario.Id_Usuario}}</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
  </form>

  <div class="container-fluid">
    <ul class="pagination">
      <li class="page-item"><a (click)="ChangePage(0)" class="page-link"><i class="fa fa-fast-backward"
            aria-hidden="true"></i></a></li>
      <li class="page-item"><a (click)="ChangePage(1)" class="page-link"><i class="fa fa-step-backward"
            aria-hidden="true"></i></a></li>
      <li class="page-item"><a (click)="ChangePage(2)" class="page-link"><i class="fa fa-step-forward"
            aria-hidden="true"></i></a></li>
    </ul>
  </div>
</div>
<!--
  Form de Edición
-->

<div [hidden]="!edit" class="container-fluid pb-5">
  
  <h2>Usuario</h2>

  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Nombre</label>
        <input [(ngModel)]="Usuario.Nombre" name="Nombre" type="text" placeholder="Nombre" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label>Usario</label>
        <input [(ngModel)]="Usuario.Correo" name="Correo" type="text" placeholder="Correo" class="form-control">
      </div>
      <div [hidden]="Master=='0'" class="form-group col-md-4">
        <label>Identificación</label>
        <input [(ngModel)]="Usuario.Numero_Identificacion" name="Numero_Identificacion" type="text" placeholder="Numero_Identificacion" class="form-control">
      </div>
      <div [hidden]="Master=='0'" class="form-group col-md-4">
        <label>Clave</label>
        <input [(ngModel)]="Usuario.Clave" name="Clave" type="text" placeholder="Clave" class="form-control">
      </div>
      <span [hidden]="Academico">
      <div [hidden]="Master=='0'" class="form-group col-md-4">
        <label>Salonero</label>
        <input [(ngModel)]="Usuario.Salonero" name="Salonero" type="text" placeholder="Salonero" class="form-control">
      </div>
      </span>
      <div class="form-group col-md-4">
        <label>Tipo de Usuario</label>
        <select [(ngModel)]="Usuario.Tipo_Usuario" name="Tipo_Usuario" type="text" class="form-control">
          <option value='0'>Usuario Regular</option>
          <option value='1'>Administrador</option>
          <option value='2'>Cajero</option>
          <option value='3'>Marca</option>
        </select>
      </div>

      <div class="form-group col-md-2">
        <label>Estado</label>
        <select [(ngModel)]="Usuario.Estado" name="Estado" type="text" class="form-control">
          <option value='1'>Activo</option>
          <option value='0'>Inactivo</option>
        </select>
      </div>
      
      



      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-6 col-md-8">

          </div>
          <div class="form-group col-3 col-md-2">
            <button (click)="grabar()" type="button" class="btn btn-success" title="Cancela edicion">Grabar</button>
          </div>
          <div class="form-group col-3 col-md-2">
            <button (click)="cancel()" type="button" class="btn btn-danger" title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
