<div *ngIf="loading" class="spinner-container">
  <div class="loading-message">{{MensajeLoading}}</div>
  <div class="spinner"></div>
</div>



<div id="dpK"></div>

<!--
<div class="container-fluid overflow-auto p-3">
  <div class="row w1900 " >
    <div class="col min-width-300">
      <div class="card" (drop)="drop($event,'Pendientes')" (dragover)="allowDrop($event)">
        <div class="card-header">
            Pendientes
        </div>
        <ul  class="list-group list-group-flush" *ngFor="let Pendiente of Pendientes;let i = index">
          <li (dblclick)="dobleClick(Pendiente)" draggable="true" (dragstart)="drag($event, Pendiente,'Pendientes')" class="list-group-item">{{Pendiente.text}}</li>
        </ul> 
      </div>
    </div>
    
    <div class="col min-width-300">
      <div class="card"  (drop)="drop($event, 'proceso')" (dragover)="allowDrop($event)">
        <div class="card-header">
            En Proceso
        </div>
        <ul  class="list-group list-group-flush" *ngFor="let Proceso of Proceso;let i = index">
          <li (dblclick)="dobleClick(Proceso)" draggable="true" (dragstart)="drag($event, Proceso,'proceso')" class="list-group-item">{{Proceso.text}}</li>
        </ul> 
      </div>
    </div>

    <div class="col min-width-300">
      <div class="card"  (drop)="drop($event, 'ajustes')" (dragover)="allowDrop($event)">
        <div class="card-header">
            Ajustes
        </div>
        <ul class="list-group list-group-flush" *ngFor="let Ajuste of Ajustes;let i = index">
          <li (dblclick)="dobleClick(Ajuste)" draggable="true" (dragstart)="drag($event, Ajuste,'ajustes')" class="list-group-item">{{Ajuste.text}}</li>
        </ul> 
      </div>
    </div>

    <div class="col min-width-300">
      <div class="card"  (drop)="drop($event, 'VistoBueno')" (dragover)="allowDrop($event)">
        <div class="card-header">
            Visto Bueno
        </div>
        <ul class="list-group list-group-flush" *ngFor="let VB of VistoBueno;let i = index">
          <li (dblclick)="dobleClick(VB)" draggable="true" (dragstart)="drag($event, VistoBueno,'VistoBueno')" class="list-group-item">{{VB.text}}</li>
        </ul> 
      </div>
    </div>
    <div class="col min-width-300">
      <div class="card" (drop)="drop($event, 'Aprobado')" (dragover)="allowDrop($event)">
        <div class="card-header">
           Aprobado
        </div>
        <ul class="list-group list-group-flush" *ngFor="let Aprobado of Aprobado;let i = index">
          <li (dblclick)="dobleClick(Aprobado)" draggable="true" (dragstart)="drag($event, Aprobado,'Aprobado')" class="list-group-item">{{Aprobado.text}}</li>
        </ul> 
      </div>
    </div>
    <div class="col min-width-300">
      <div class="card" (drop)="drop($event, 'Terminado')" (dragover)="allowDrop($event)">
        <div class="card-header">
           Terminado
        </div>
        <ul class="list-group list-group-flush" *ngFor="let Terminado of Terminado;let i = index">
          <li (dblclick)="dobleClick(Terminado)" (dragstart)="drag($event, Terminado,'Terminado')" class="list-group-item">{{Terminado.text}}</li>
        </ul> 
      </div>
    </div>

  </div>
</div>
-->