<div *ngIf="loading" class="spinner-container">
    <div class="loading-message">Leyendo tareas</div>
    <div class="spinner"></div>
  </div>
  
  <div id="dpM"></div>
  



<!--<div  class="calendar-container">
    <header class="calendar-header">
        
        <p ><a (click)="SelectMes()">Mes</a></p>
        <p ><a (click)="SelectSemana()">Semana</a></p>
        <p class="calendar-current-date">{{currdate}}</p>
        <div class="calendar-navigation">
        
            <span id="calendar-prev"
                  class="material-symbols-rounded">

                  <a (click)="anterior()"><</a>
            </span>
            <span id="calendar-next"
                  class="material-symbols-rounded">
                  <a (click)="siguiente()">></a>
            </span>
        </div>
    </header>

    <div [hidden]="!MesPanel" class="calendar-body">
        <ul class="calendar-weekdays">
            <li>Dom</li>
            <li>Lun</li>
            <li>Mar</li>
            <li>Mie</li>
            <li>Jue</li>
            <li>Vie</li>
            <li>Sab</li>
        </ul>
        <ul class="calendar-dates">
            <li [ngClass]="Fecha.class" *ngFor="let Fecha of FechasAmostrar;let i = index">
                {{Fecha.dia}}
                <div class="eventRow" title="{{Evento.Nombre}}" *ngFor="let Evento of Fecha.eventos;let x = index">
                    <a (click)="openEventoPanel(Evento)">
                        {{Evento.Nombre | slice:0:10}}
                    </a>
                </div>
            </li>
        </ul>
    </div>
    
    <div [hidden]="!SemanaPanel" class="">
          
      <table>
        <thead>
            <tr>
                <th></th>
                <th>Domingo {{FechasSemana[0]}}</th>
                <th>Lunes {{FechasSemana[1]}}</th>
                <th>Martes {{FechasSemana[2]}}</th>
                <th>Miércoles {{FechasSemana[3]}}</th>
                <th>Jueves {{FechasSemana[4]}}</th>
                <th>Viernes {{FechasSemana[5]}}</th>
                <th>Sábado {{FechasSemana[6]}}</th>
            </tr>
        </thead>
        <tbody>
           
            <tr *ngFor="let horas of eventosSemana;let i = index">
              <td  *ngFor="let dia of horas;let i = index">
                <div class="eventRow" title="{{Evento.Nombre}}" *ngFor="let Evento of dia;let x = index">
                  <a (click)="openEventoPanel(Evento)">
                      {{Evento.Nombre | slice:0:10}}
                  </a>
                </div>
              </td>
            </tr>
            

          </tbody>
      </table>

    </div>

-->
