
.calendar-container {
    margin: 0;
    padding: 0;
    background: #fff;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}
 
.calendar-container header {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}
 
header .calendar-navigation {
    display: flex;
}
 
header .calendar-navigation span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    user-select: none;
    color: #aeabab;
    font-size: 1.9rem;
}
 
.calendar-navigation span:last-child {
    margin-right: -10px;
}
 
header .calendar-navigation span:hover {
    background: #f2f2f2;
}
 
header .calendar-current-date {
    font-weight: 500;
    font-size: 1.45rem;
}
 
.calendar-body {
    margin: 0;
    padding: 0;
}
 
.calendar-body ul {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}
 
.calendar-body .calendar-dates {
    margin-bottom: 20px;
}
 
.calendar-body li {
    width: calc(100% / 7);
    font-size: 1.07rem;
    color: #414141;
}
 
.calendar-body .calendar-weekdays li {
    cursor: default;
    font-weight: 500;
}
 
.calendar-body .calendar-dates li {
    position: relative;
    z-index: 1;
    cursor: pointer;
    border-top: 1px solid gray;
    border-right: 1px dotted gray;
    height: 100px;
    left: 0px;
}
.calendar-body .calendar-dates li div {
    text-align: left;
}

.calendar-dates li.inactive {
    color: #aaa;
}
 
.calendar-dates li.active {
    color: #fff;
    background: #d1c7e9;
}
 

 
.calendar-dates li:not(.active):hover::before {
    background: #e4e1e1;
}

.fw {
    width: 100px;
  }
  
  /* The Modal (background) */
  .modal-main {
    margin: 5;
    padding: 5;
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .modal-grid {
    height: 50vh;
    overflow: auto;
  }

  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    padding: 0px;
    }
    
    /* Style the buttons inside the tab */
    .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s;
    font-size: 17px;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
    background-color: #ddd;
    }
    
    /* Create an active/current tablink class */
    .tab button.active {
    background-color: #ccc;
    }
    
    /* Style the tab content */
    .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    }
    
    .form-group {
        margin-bottom: 0px;
    }

    /* Panel de Semana*/
    
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }

    .event {
        
        color: white;
        font-weight: bold;
    }

    .eventRow{
        border: solid 1px;

    }


    /* Estilos para el spinner */
 .spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
  }
  
  .loading-message {
    position: absolute;
    top: 40%; /* Centrado verticalmente */
    transform: translateY(-50%); /* Ajuste para centrado vertical */
    color: #fff; /* Color de texto blanco */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negrita */
    z-index: 10000; /* Asegura que esté por encima del spinner */
  }
  .spinner {
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s linear infinite; /* Animación de rotación */
  }