<div [hidden]="edit" class="container-fluid pb-5">
  
  <h2>Periódo Contable</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id=""><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
        <input [(ngModel)]="searchField" name="searchField" (blur)="search()" (keydown)="keytab($event)" type="text" class="form-control"
          placeholder="Buscar">
        <div class="input-group-append">
          <button class="btn btn-success" type="button" (click)="editRecord('')"><i class="fa fa-plus-circle"
              aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
  <form>
    <div class="form-row page-grid">

      <div class="form-group col-12 col-sm-6" *ngFor="let Periodo of Periodos;let i = index">
        <div class="card">
          <a (click)="editRecord(Periodo)">
            <div class="card-body">

              <h4 class="card-title">{{Periodo.Mes}}-{{Periodo.Anio}}-{{Periodo.Secuencia}}</h4>
              Estado :
              <span *ngIf="Periodo.Estado == '0'" class="text-success"> Cerrado</span>
              <span *ngIf="Periodo.Estado == '1'" class="text-primary"> Abierto</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </form>

  <div class="container-fluid">
    <ul class="pagination">
      <li class="page-item"><a (click)="ChangePage(0)" class="page-link"><i class="fa fa-fast-backward"
            aria-hidden="true"></i></a></li>
      <li class="page-item"><a (click)="ChangePage(1)" class="page-link"><i class="fa fa-step-backward"
            aria-hidden="true"></i></a></li>
      <li class="page-item"><a (click)="ChangePage(2)" class="page-link"><i class="fa fa-step-forward"
            aria-hidden="true"></i></a></li>
    </ul>
  </div>
</div>

<!--
  Form de Edición
-->

<div [hidden]="!edit" class="container-fluid pb-5">
  
  <h2>Periódo Contable</h2>

  <form>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Mes</label>
        <select [(ngModel)]="Periodo.Mes" name="Mes" type="text" class="form-control">
          <option value='1'>Enero</option>
          <option value='2'>Febrero</option>
          <option value='3'>Marzo</option>
          <option value='4'>Abril</option>
          <option value='5'>Mayo</option>
          <option value='6'>Junio</option>
          <option value='7'>Julio</option>
          <option value='8'>Agosto</option>
          <option value='9'>Setiembre</option>
          <option value='10'>Octubre</option>
          <option value='11'>Noviembre</option>
          <option value='12'>Diciembre</option>
          <option value='13'>Cierre</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label>Año</label>
        <input [(ngModel)]="Periodo.Anio" name="Anio" type="text" placeholder="Año" class="form-control">
      </div>
      <div class="form-group col-md-4">
        <label>Secuencia</label>
        <select [(ngModel)]="Periodo.Secuencia" name="Mes" type="text" class="form-control">
          <option value='1'>1</option>
          <option value='2'>2</option>
          <option value='3'>3</option>
          <option value='4'>4</option>
          <option value='5'>5</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label>Estado</label>
        <select [(ngModel)]="Periodo.Estado" name="Estado" type="text" class="form-control">
          <option value='1'>Abierto</option>
          <option value='0'>Cerrado</option>
        </select>
      </div>
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-6 col-md-8">

          </div>
          <div class="form-group col-3 col-md-2">
            <button (click)="grabar()" type="button" class="btn btn-success" title="Cancela edicion">Grabar</button>
          </div>
          <div class="form-group col-3 col-md-2">
            <button (click)="cancel()" type="button" class="btn btn-danger" title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>

