
<div *ngIf="loading" class="spinner-container">
  <div class="loading-message">{{MensajeLoading}}</div>
  <div class="spinner"></div>
</div>

<div class="naranja m-0 text-center text-white">
  <div><img class="mt-4" width="150px" src="./assets/Logo_codex_blanco.svg"></div>
</div>

<div class="p-4 rounded-bottom-overlap">
  <form>
    <div class="form-row">
      <div class="form-group text-center col-12 d-flex justify-content-between">
        <button (click)="atras()" type="button" class="btn ">
          <-- 
        </button>
        <div class="text-grande bold">Facturador</div>
        <span></span>
      </div>
      <div class="form-group col-12">
        
        <select [(ngModel)]="registro.paquete" (change)="cabmioPaquete($event)" name="Paquete" type="text" class="form-control">
          <option selected value='0'>Elige tu paquete</option>
          <option value='{{producto.Id_Producto}}' *ngFor="let producto of productos;let i = index">
            {{producto.Descripcion}} - ₡ {{ (producto.Precio * 1.13).toFixed() | number }}</option>
        </select>
      </div>
      <div class="form-group col-12">
        <input [(ngModel)]="registro.Identificacion" name="Cedula" type="text" (blur)="IdValidation()" placeholder="Cédula" class="form-control">
      </div>
      <div class="form-group col-12">
        {{registro.Nombre}} | {{registro.tipoCedula}}
      </div>
      <div class="form-group col-12">
        <input [(ngModel)]="registro.Correo" name="Correo" type="text" placeholder="Correo" class="form-control">
      </div>
      <div class="form-group col-12">
        <input [(ngModel)]="registro.Telefono" name="Telefono" type="text" placeholder="Telefono" class="form-control">
      </div>
      <div class="form-group col-12">
        <select [(ngModel)]="registro.metodoPago" name="MetodoCobro" type="text" class="form-control">
          <option selected value='0'>Paga Con</option>
          <option value='1'>Tarjeta</option>
          <option value='2'>Sinpe Movil</option>
          <option value='3'>Deposito</option>
          <option value='4'>Efectivo</option>
        </select>
      </div>
      <div *ngIf="registro.metodoPago == '1'" class="form-group col-12">
        <input [(ngModel)]="registro.nombreTarjeta" name="Nombre" type="text" placeholder="Nombre del Tarjeta habiente" class="form-control">
      </div>

      <div *ngIf="registro.metodoPago == '1'" class="form-group col-12">      
        <input [(ngModel)]="registro.numeroTarjeta" (input)="validarNumeroTarjeta()" name="Tarjeta" type="text" placeholder="Numero del Tarjeta" class="form-control">
        <div  class="text-danger" *ngIf="!tarjetaValida">Formato de tarjeta Invalido</div>
      </div>
      
      <div *ngIf="registro.metodoPago == '1'" class="form-group col-3">
        <select [(ngModel)]="registro.mesTarjeta" name="mesTarjeta" type="text" class="form-control">
          <option value='01'>01</option>
          <option value='02'>02</option>
          <option value='03'>03</option>
          <option value='04'>04</option>
          <option value='05'>05</option>
          <option value='06'>06</option>
          <option value='07'>07</option>
          <option value='08'>08</option>
          <option value='09'>09</option>
          <option value='10'>10</option>
          <option value='11'>11</option>
          <option value='12'>12</option>=
        </select>
      </div>
      <div *ngIf="registro.metodoPago == '1'" class="form-group col-3">
        <select [(ngModel)]="registro.anioTarjeta" name="anioTarjeta" type="text" class="form-control">
          <option value='24'>24</option>
          <option value='25'>25</option>
          <option value='26'>26</option>
          <option value='27'>27</option>
          <option value='28'>28</option>
          <option value='29'>29</option>
          <option value='30'>30</option>
          <option value='31'>31</option>
          <option value='32'>32</option>
          <option value='33'>33</option>
          <option value='34'>34</option>
          <option value='34'>35</option>=
        </select>
      </div>


      <div *ngIf="registro.metodoPago == '1'" class="form-group col-6">
        <input [(ngModel)]="registro.cvvTarjeta" class="col-6" name="CVV" type="text" placeholder="CVV" class="form-control">
      </div>
      <div *ngIf="registro.metodoPago == '2'" class="form-group col-12">
        <input [(ngModel)]="registro.numeroConfirmacion" name="Confirmacion" type="text" placeholder="Numero de Confirmacion" class="form-control">
      </div>
      <div *ngIf="registro.metodoPago == '3'" class="form-group col-12">
        <input [(ngModel)]="registro.numeroDeposito" name="Deposito" type="text" placeholder="Numero de Deposito" class="form-control">
      </div>

      <div class="form-group col-12">
        <button class="btn btn-block custom-btn" [disabled]="procesando" (click)="procesar()">PROCESAR</button>
      </div>
    </div>
  </form>
</div>

<div class="fixed-bottom text-center bg-dark">
  <button class="btn verde" (click)="cerrarSesion()">Cerrar Sessión</button>
</div>

