

<div class="container pb-5">
    <a [routerLink]="['/']"><img src="/assets/toxologo.png" width="85px"></a>
    <form>
      <div class="form-row">
        <div class="form-group col-6">
          <div class="base-tree-container">
            <div #treeHeader class="tree-header">
              <div class="tree-column tree-header-column"><span>Catálogo Contable</span></div>
            </div>
            <div class="tree-wrapper">
              <app-tree-view [nodes]="treeData" (nodeDoubleClicked)="onNodeDoubleClick($event)"></app-tree-view>
            </div>
          </div>
        </div>
        <div class="form-group col-6">
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Código</label>
                <input [(ngModel)]="Cuenta.Cuenta" name="Cuenta" type="text" placeholder="Cuenta Contable" class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label>Cuenta Padre</label>
                <div class="input-group">
  
                  <div class="input-group-append">
                    <button  type="button"  (click)="openCuentasPanel()" class="form-control btn btn-primary"><i
                        class="fa fa-search"></i></button>
                  </div>
                  <input [(ngModel)]="Cuenta.NombrePadre" disabled name="NombrePadre" id="NombrePadre" type="input"
                    class="form-control" placeholder="Cuenta Padre">
                </div>
              </div>
              <div class="form-group col-md-9">
                <label>Nombre de la Cuenta</label>
                <input [(ngModel)]="Cuenta.Descripcion" name="Descripcion" type="text" placeholder="Nombre" class="form-control">
              </div>
              <div class="form-group col-md-3">
                <label>Moneda</label>
                <select [(ngModel)]="Cuenta.Moneda" name="Moneda" type="text" class="form-control">
                  <option value='0'>Colones</option>
                  <option value='1'>Dólares</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label>Tipo de Saldo</label>
                <select [(ngModel)]="Cuenta.Deudora" name="Deudora" type="text" class="form-control">
                  <option value='0'>Saldo Deudor</option>
                  <option value='1'>Saldo Acreedor</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label>Cuenta Mayor</label>
                <select [(ngModel)]="Cuenta.Mayor" name="Mayor" type="text" class="form-control">
                  <option value='1'>Cuenta Mayor</option>
                  <option value='0'>Permite Movimientos</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label>Cuenta Balance</label>
                <select [(ngModel)]="Cuenta.Balance" name="Balance" type="text" class="form-control">
                  <option value='1'>Activos</option>
                  <option value='2'>Pasivos</option>
                  <option value='3'>Patrimonio</option>
                  <option value='4'>Ingresos</option>
                  <option value='5'>Gastos Generales</option>
                  <option value='6'>Cuentas de Orden</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label>Sub Balance</label>
                <select [(ngModel)]="Cuenta.D151" name="D151" type="text" class="form-control">
                  <option value='0'>No Aplica</option>
                  <option value='1'>Compras</option>
                  <option value='2'>Costo de Ventas</option>
                  <option value='3'>Gastos Administrativos</option>
                  <option value='4'>Gastos Financieros</option>
                  <option value='5'>Impuestos por pagar</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label>Centro de Costos</label>
                <select [(ngModel)]="Cuenta.Centro_Costo" name="Centro_Costo" type="text" class="form-control">
                  <option value='999'>No usa centro de costo</option>
                  <option value='{{Centro.Id_Centro_Costo}}' *ngFor="let Centro of Centros;let i = index">
                    {{Centro.Nombre}}</option>
                </select>
              </div>
             
  
              <div class="form-group col-md-4">
                <label>Estado</label>
                <select [(ngModel)]="Cuenta.Estado" name="Estado" type="text" class="form-control">
                  <option value='1'>Activo</option>
                  <option value='0'>Inactivo</option>
                </select>
              </div>
              
              <div class="form-group col-md-12">
                <div class="form-row">
                  <div class="form-group col-3 col-md-2">
                    <button (click)="nuevo()" type="button" class="btn btn-primary" title="Cancela edicion">Nuevo</button>
                  </div>
                  <div class="form-group col-6 col-md-8">
  
                  </div>
  
                  <div class="form-group col-3 col-md-2">
                    <button (click)="grabar()" type="button" class="btn btn-success" title="Cancela edicion">Grabar</button>
                  </div>
  
                </div>
              </div>
            </div>
          </form>
  
  
        </div>
      </div>
    </form>
  </div>


  
<!--
  Form de Cuentas Padres
-->
<div [hidden]="!PantallaCuentasPadres" class="modal-main">
  <div class="modal-content  card">
    <div class="card-header">
      <h2>Seleccionar Cuenta</h2>
      <input [(ngModel)]="searchFieldPadres" (blur)="searchPadres()" (keydown)="keytabPadres($event)" type="text"
        class="form-control" placeholder="Buscar">
    </div>
    <div class="card-body modal-grid">
      <div class="form-row">
        <div class="form-group col-12 col-sm-6" *ngFor="let Padre of Padres;let i = index">
          <a (click)="SeleccionarPadre(Padre)">
            <div class="card">
              <div class="card-body">
                <h5>{{Padre.Cuenta}} - {{Padre.Descripcion}}</h5>
                Estado :
                <span *ngIf="Padre.Estado == '1'" class="text-success"> Activo</span>
                <span *ngIf="Padre.Estado == '0'" class="text-warning"> Inactivo</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="card-footer ">
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-8 col-md-8">
          </div>
          <div class="form-group col-2">
            <button (click)="cuentaPrincipal()" type="button" class="btn btn-danger"
              title="Cancela edicion">Principal</button>
          </div>
          <div class="form-group col-2">
            <button (click)="closePantallaPadres()" type="button" class="btn btn-danger"
              title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
