<div [hidden]="edit" class="container pb-5">
  <a [routerLink]="['/']"><img src="/assets/toxologo.png" width="85px"></a>
  <h2>Concepto Salarial</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id=""><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
        <input [(ngModel)]="searchField" name="searchField" (blur)="search()" (keydown)="keytab($event)" type="text" class="form-control"
          placeholder="Buscar">
        <div class="input-group-append">
          <button class="btn btn-success" type="button" (click)="editRecord('')"><i class="fa fa-plus-circle"
              aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
  <form>
    <div class="form-row">

      <div class="form-group col-12 col-sm-6" *ngFor="let Centro of Conceptos;let i = index">
        <div class="card">
          <a (click)="editRecord(Centro)">
            <div class="card-body">

              <h4 class="card-title">{{Centro.Nombre}}</h4>
              
            </div>
          </a>
        </div>
      </div>
    </div>
  </form>

  <div class="container-fluid">
    <ul class="pagination">
      <li class="page-item"><a (click)="ChangePage(0)" class="page-link"><i class="fa fa-fast-backward"
            aria-hidden="true"></i></a></li>
      <li class="page-item"><a (click)="ChangePage(1)" class="page-link"><i class="fa fa-step-backward"
            aria-hidden="true"></i></a></li>
      <li class="page-item"><a (click)="ChangePage(2)" class="page-link"><i class="fa fa-step-forward"
            aria-hidden="true"></i></a></li>
    </ul>
  </div>
</div>

<!--
  Form de Edición
-->

<div [hidden]="!edit" class="container pb-5">
  <a [routerLink]="['/']"><img src="/assets/toxologo.png" width="85px"></a>
  <h2>Concepto Salarial</h2>

  <form>
    <div class="form-row">
      
      <div class="form-group col-md-6">
        <label>Nombre</label>
        <input [(ngModel)]="Periodo.Nombre" name="Nombre" type="text" placeholder="Nombre" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label>Etiqueta</label>
        <input [(ngModel)]="Periodo.Etiqueta" name="Etiqueta" type="text" placeholder="Etiqueta" class="form-control">
      </div>

      <div class="form-group col-md-6">
        <label>Tipo de Concepto</label>
        <select [(ngModel)]="Periodo.Tipo_Concepto" name="Tipo_Concepto" type="text" class="form-control">
          <option value='1'>Devengado</option>
          <option value='2'>Deducción</option>
          <option value='3'>Provisión</option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label>Aplica Como</label>
        <select [(ngModel)]="Periodo.Aplica_Como" name="Aplica_Como" type="text" class="form-control">
          <option value='1'>Concepto de Cáclulo</option>
          <option value='2'>Movimiento Fijo</option>
          <option value='3'>Movimiento</option>
        </select>
      </div>
      
      <div class="form-group col-md-6">
        <label>Tipo de referencia</label>
        <select [(ngModel)]="Periodo.Tipo_Referencia" name="Tipo_Referencia" type="text" class="form-control">
          <option value='1'>Valor Fijo</option>
          <option value='2'>Tarifa</option>
          <option value='3'>Formula</option>
        </select>
      </div>
      
      <div class="form-group col-md-6">
        <label>Tipo de Valor</label>
        <select [(ngModel)]="Periodo.Tipo_Valor" name="Tipo_Valor" type="text" class="form-control">
          <option value='1'>Monto</option>
          <option value='2'>Porcentaje</option>
        </select>
      </div>
      
      <div class="form-group col-md-6">
        <label>Aplica Cálculos</label>
        <select [(ngModel)]="Periodo.Aplica_Calculos" name="Aplica_Calculos" type="text" class="form-control">
          <option value='1'>Si Aplica</option>
          <option value='0'>No</option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label>Secuencia</label>
        <input [(ngModel)]="Periodo.Secuencia" name="Secuencia" type="text" placeholder="Secuencia" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label>Valor</label>
        <input [(ngModel)]="Periodo.Valor" name="Valor" type="text" placeholder="Valor" class="form-control">
      </div>

      <div class="form-group col-md-6">
        <label>Formula</label>
        <select [(ngModel)]="Periodo.Formula" name="Formula" type="text" class="form-control">
          <option value='1'>NO REQUIERE FORMULA DE CALCULO</option>
          <option value='2'>MULTIPLICAR EL VALOR DEL MOVIMIENTO POR EL MONTO DEL SALARIO Y POR EL VALOR DEL CONCEPTO</option>
          <option value='3'>MULTIPLICAR EL VALOR DEL MOVIMIENTO POR EL VALOR DEL CONCEPTO</option>
          <option value='4'>SUMAR CONCEPTO DE PLANILLA ACTUAL PARA MULTIPLICAR POR EL VALOR DEL CONCEPTO</option>
          <option value='5'>SUMAR CONCEPTOS DE PLANILLAS ANTERIORES PARA MULTIPLICAR POR EL VALOR DEL CONCEPTO</option>
          <option value='6'>RESULTADO DE FORMULA 4  POR EL VALOR DEL MOVIMIENTO</option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label>Estado</label>
        <select [(ngModel)]="Periodo.Estado" name="Estado" type="text" class="form-control">
          <option value='1'>Activo</option>
          <option value='0'>Inactivo</option>
        </select>
      </div>
      
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-6 col-md-8">

          </div>
          <div class="form-group col-3 col-md-2">
            <button (click)="grabar()" type="button" class="btn btn-success" title="Cancela edicion">Grabar</button>
          </div>
          <div class="form-group col-3 col-md-2">
            <button (click)="cancel()" type="button" class="btn btn-danger" title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>

