
  <div class="naranja m-0 text-center text-white">
    <div><img class="mt-5" width="150px" src="./assets/Logo_codex_blanco.svg"></div>
    <div class="pt-3 text-pequeno">Facturado Semana del {{inicioFormateado}} al {{finFormateado}}</div>
    <div class="pt-3 text-grande"> ₡{{totalTransacciones | number:'1.0-0'}}</div>
    <hr>
    <div class="d-flex justify-content-between">
      <div class="p-2">Comisión de la semana</div>
      <div class="p-2">$###.##</div>
    </div>
  </div>

  <div class="p-4 rounded-bottom-overlap">
    <div class="d-flex justify-content-between">
      <button class="btn custom-btn" (click)="facturar()">Vender Paquetes</button>
      <button class="btn custom-btn" (click)="consultarTransacciones()">Transacciones</button>
    </div>
    <div class="d-flex justify-content-between mt-4">
      <div>
          <div class="bold">Simpe Móvil</div>
          <div>6153-2985</div>
      </div>
      <div>
        <div class="bold">Servicio al Cliente</div>
        <div><a href="https://wa.me/6045-2609" target="_blank"><i class="fa fa-phone"></i> +6045-2609</a></div>
        
      </div>
    </div>

    <div class="d-flex justify-content-between mt-4">
      <div>
          <div class="bold">Cuenta BAC</div>
          <div></div>
          <div>
            <a href="whatsapp://send?text=Hola,%20aqu%C3%AD%20tienes%20mi%20n%C3%BAmero%20de%20cuenta%20bancaria%20de%20Grupo%20Garbel%20representante%20de%20codex:%20CR68010200009290959901">CR68010200009290959901</a>
          </div>

      </div>
    </div>

    <div class="d-flex justify-content-between mt-4">
      <div>
          <div class="bold">Página WEB</div>
          <div>codexcr.app</div>
      </div>
    </div>
  </div>

  <div class="fixed-bottom text-center bg-dark">
    <button class="btn verde" (click)="cerrarSesion()">Cerrar Sessión</button>
  </div>
