.naranja {
  background: linear-gradient(to bottom,#FF7F23, #FFBE41);
  height: 250px;
}

.text-grande {
  font-size: 28px;
}

.text-pequeno {
  font-size: 18px;
}

.rounded-bottom-overlap {
  border-radius: 20px 20px 0 0;
  position: relative;
  background-color: white;
  top: -20px;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 1;
}

.custom-btn {
  background-image: linear-gradient(to bottom, #24BFB6, #95F95B);
  /* Cambia #2c3e50 y #3498db a los colores de verde oscuro y verde claro que desees */
  color: #fff; /* Cambia el color del texto según sea necesario */
  border: none; /* Opcional: para eliminar el borde del botón */
}

.bold {
  font-weight: bold;
}
.verde {
  color: #95F95B;
}