<div [hidden]="edit" class="container pb-5">
  <a [routerLink]="['/']"><img src="/assets/toxologo.png" width="85px"></a>
  <h2>Vehículos</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id=""><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
        <input [(ngModel)]="searchField" (blur)="search()" (keydown)="keytab($event)" type="text" class="form-control"
          placeholder="Buscar">
        <div class="input-group-append">
          <button class="btn btn-success" type="button" (click)="editRecord('')"><i class="fa fa-plus-circle"
              aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
  <form>
    <div class="form-row">

      <div class="form-group col-12 col-sm-6" *ngFor="let Vehicle of Vehicles;let i = index">
        <div class="card">
          <a (click)="editRecord(Vehicle)">
            <div class="card-body">

              <h4 class="card-title">{{Vehicle.Placa}}</h4>
              {{Vehicle.Marca}} - {{Vehicle.Modelo}} - {{Vehicle.Anio}}, Cap:{{Vehicle.Capacidad}} ({{Vehicle.Id_Vehiculo}})

              Estado :
              <span *ngIf="Vehicle.Estado == '1'" class="text-success"> Activo</span>
              <span *ngIf="Vehicle.Estado == '0'" class="text-warning"> Inactivo</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </form>

  <div class="container-fluid">
    <ul class="pagination">
      <li class="page-item"><a (click)="ChangePage(0)" class="page-link"><i class="fa fa-fast-backward"
            aria-hidden="true"></i></a></li>
      <li class="page-item"><a (click)="ChangePage(1)" class="page-link"><i class="fa fa-step-backward"
            aria-hidden="true"></i></a></li>
      <li class="page-item"><a (click)="ChangePage(2)" class="page-link"><i class="fa fa-step-forward"
            aria-hidden="true"></i></a></li>
    </ul>
  </div>
</div>

<!--
  Form de Edición
-->

<div [hidden]="!edit" class="container pb-5">
  <a [routerLink]="['/']"><img src="/assets/toxologo.png" width="85px"></a>
  <h2>Vehículos</h2>

  <form>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Tipo</label>
        <select [(ngModel)]="Vehicle.Tipo" name="Tipo" type="text" class="form-control">
          <option value='{{VehicleTypes.Id_Tipo_Vehiculo}}' *ngFor="let VehicleTypes of VehicleTypes;let i = index">
            {{VehicleTypes.Tipo}}</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label>Categoria</label>
        <select [(ngModel)]="Vehicle.categoria" name="categoria" type="text" class="form-control">
          <option value='{{VehicleCategory.Id_Categoria_Vehiculo}}' *ngFor="let VehicleCategory of VehicleCategories;let i = index">
            {{VehicleCategory.Nombre}}</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label>Serie</label>
        <input [(ngModel)]="Vehicle.Serie" name="Serie" type="text" placeholder="Serie" class="form-control">
      </div>

      <div class="form-group col-md-4">
        <label>Placa</label>
        <input [(ngModel)]="Vehicle.Placa" name="Placa" type="text" placeholder="Placa" class="form-control">
      </div>

      <div class="form-group col-md-4">
        <label>Marca</label>
        <input [(ngModel)]="Vehicle.Marca" name="Marca" type="text" placeholder="Marca" class="form-control">
      </div>
      <div class="form-group col-md-4">
        <label>Modelo</label>
        <input [(ngModel)]="Vehicle.Modelo" name="Modelo" type="text" placeholder="Modelo" class="form-control">
      </div>
      <div class="form-group col-md-4">
        <label>Año</label>
        <input [(ngModel)]="Vehicle.Anio" name="Anio" type="text" placeholder="Anio" class="form-control">
      </div>
      <div class="form-group col-md-4">
        <label>Capacidad</label>
        <input [(ngModel)]="Vehicle.Capacidad" name="Capacidad" type="text" placeholder="Capacidad" class="form-control">
      </div>
      <div class="form-group col-md-4">
        <label># Permiso</label>
        <input [(ngModel)]="Vehicle.Permiso_Turismo" name="Permiso_Turismo" type="text" placeholder="Número de Permiso" class="form-control">
      </div>
      <div class="form-group col-md-4">
        <label>Fecha Vencimiento Permiso</label>
        <div class="input-group">
          <input class="form-control" placeholder="Vencimiento Permiso" name="Vencimiento_Permiso" [(ngModel)]="Vehicle.Fecha_Vencimiento_Permiso" ngbDatepicker
            #d1="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary fa fa-calendar" (click)="d1.toggle()" type="button"></button>
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label># Póliza</label>
        <input [(ngModel)]="Vehicle.Numero_Poliza" name="Numero_Poliza" type="text" placeholder="Número Poliza" class="form-control">
      </div>

      <div class="form-group col-md-4">
        <label>Fecha Vencimiento Póliza</label>
        <div class="input-group">
          <input class="form-control" placeholder="Vencimiento Póliza" name="Vencimiento_Poliza" [(ngModel)]="Vehicle.Fecha_Vencimiento_Poliza" ngbDatepicker
            #d2="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary fa fa-calendar" (click)="d2.toggle()" type="button"></button>
          </div>
        </div>
      </div>

      <div class="form-group col-md-8">
        <label>Sitio Origen</label>
        <div class="input-group">

          <div class="input-group-append">
            <button type="button" (click)="openPlacePanel()" class="form-control btn btn-primary"><i
                class="fa fa-search"></i></button>
          </div>
          <input [(ngModel)]="Vehicle.Nombre_Base" disabled name="Nombre_Base" id="Nombre_Base  "
            type="input" class="form-control" placeholder="Lugar de Origen">
        </div>
      </div>

      <div class="form-group col-md-4">
        <label>Estado</label>
        <select [(ngModel)]="Vehicle.Estado" name="Estado" type="text" class="form-control">
          <option value='1'>Activo</option>
          <option value='0'>Inactivo</option>
        </select>
      </div>

      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-6 col-md-8">

          </div>
          <div class="form-group col-3 col-md-2">
            <button (click)="grabar()" type="button" class="btn btn-success" title="Cancela edicion">Grabar</button>
          </div>
          <div class="form-group col-3 col-md-2">
            <button (click)="cancel()" type="button" class="btn btn-danger" title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>

<div [hidden]="!PlacePanel" class="modal-main">
  <div class="modal-content  card">
    <div class="card-header">
      <h2>Seleccionar Lugar</h2>
      <input [(ngModel)]="searchFieldPlace" (blur)="searchPlaces()" (keydown)="keytabPlaces($event)" type="text"
        class="form-control" placeholder="Buscar">
    </div>
    <div class="card-body modal-grid">
      <div class="form-row">
        <div class="form-group col-12 col-sm-6" *ngFor="let Place of Places;let i = index">
          <a (click)="selectPlace(Place)">
            <div class="card">
              <div class="card-body">
                <h5>{{Place.Nombre}}</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="card-footer ">
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-8 col-md-10">
          </div>
          <div class="form-group col-2">
            <button (click)="closePlacePanel()" type="button" class="btn btn-danger"
              title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
