<!-- [hidden]="!logedIn" -->
<nav  role="navigation">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input  id="MenuShow" (click)="click()" [checked]="showMenu"  type="checkbox" />

    <!--
    Some spans to act as a hamburger.

    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>

    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
      <ul  [hidden]="!showMenu" id="menu">
        <a (click)="hideMenu()" [routerLink]="['/']"><li><i class="fa fa-home"></i> Inicio {{ambiente}} 2.5.12</li></a>
        <div [hidden]="!logedIn">

          <li [hidden]="!AppConfiguracion" (click)="clickPerfilMenu()" ><a><i class="fa fa-cog"></i> Configuración <i [ngClass]='configClass' class="fa fa-cog"></i>  </a></li>
          <ul [hidden]="!perfilMenu" >
            <a (click)="hideMenu()" [hidden]="!AppVentas" [routerLink]="['/people']"><li><i class="fa fa-credit-card"></i> Contactos </li></a>
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/restaurantzone']"><li><i class="fa fa-map-signs"></i> Zonas</li></a>
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/restaurantplace']"><li><i class="fa fa-map-marker"></i> Mesa/Lugar</li></a>
            <!--<a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/placemap']"><li><i class="fa fa-map-marker"></i> Mesa/plano</li></a>-->
           <!-- <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/ordermain']"><li><i class="fa fa-map-marker"></i> Main Order</li></a>-->
          </ul>

          <li [hidden]="!AppInventario" (click)="clickInventarioMenu()" ><a><i class="fa fa-hospital-o"></i>  Inventario <i [ngClass]='inventarioClass' class="fa fa-cog"></i>  </a></li>
          <ul [hidden]="!inventarioMenu" >
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/categorias']"><li><i class="fa fa-shopping-bag"></i> Categorías</li></a>
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/subcategorias']"><li><i class="fa fa-shopping-bag"></i> Sub Categorías</li></a>
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/articulos']"><li><i class="fa fa-shopping-basket"></i> Artículos</li></a>
            <a (click)="hideMenu()" [hidden]="!AppInventario" [routerLink]="['/movinventario']"><li><i class="fa fa-align-justify"></i> Movimientos</li></a>
            <a (click)="hideMenu()" [hidden]="!AppInventario" [routerLink]="['/invmovdetail']"><li><i class="fa fa-align-justify"></i> Detalle Movimientos</li></a>
            <a (click)="hideMenu()" [hidden]="!AppInventario" [routerLink]="['/repinventario']"><li><i class="fa fa-file"></i> Reportes</li></a>
            
          </ul>

          <li [hidden]="!AppCaja" (click)="clickCajaMenu()" ><a><i class="fa fa-cog"></i> Cajas <i [ngClass]='cajaClass' class="fa fa-cog"></i>  </a></li>
          <ul [hidden]="!CajaMenu" >
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/cajaventas']"><li><i class="fa fa-credit-card"></i> Cajas</li></a>
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/cajamovimiento']"><li><i class="fa fa-align-justify"></i> Movimiento de Cajas</li></a>
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/cierrecaja']"><li><i class="fa fa-align-justify"></i> Cierre Caja</li></a>
          </ul>

          <li [hidden]="!AppCxC" (click)="clickCxCMenu()" ><a><i class="fa fa-cc"></i>  Cuentas X Cobrar <i [ngClass]='CxCClass' class="fa fa-cog"></i>  </a></li>
          <ul [hidden]="!CxCMenu" >
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/cxcClasificacion']"><li><i class="fa fa-shopping-bag"></i> Clasificación</li></a>
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/cuentacxc']"><li><i class="fa fa-credit-card"></i> Cuentas x Cobrar</li></a>
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/documentocxc']"><li><i class="fa fa-file-o"></i> Documentos</li></a>
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/movimientocxc']"><li><i class="fa fa-align-justify"></i> Movimientos</li></a>
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/reportecxc']"><li><i class="fa fa-file"></i> Reporte CXC</li></a>
          </ul>
          

          <li (click)="clickRestaurantMenu()" ><a><i class="fa fa-cutlery"></i>  Restaurante <i [ngClass]='restaurantClass' class="fa fa-cog"></i>  </a></li>
          <ul [hidden]="!restaurantMenu">

            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/plano']"><li><i class="fa fa-pencil"></i> Pedidos</li></a>
            <!-- <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/pedidorestaurant']"><li><i class="fa fa-pencil"></i> Pedidos/Lista</li></a> -->
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/restaurantkitchen']"><li><i class="fa fa-television"></i> Cocina</li></a>
            <!-- <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/restaurantinvoice']"><li><i class="fa fa-credit-card"></i> Facturar</li></a> -->
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/reporteVenta']"><li><i class="fa fa-file"></i> Reportes</li></a>
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/consultapedido']"><li><i class="fa fa-file"></i> Consulta Pedidos</li></a>
          </ul>

        </div>

       


        <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/marcas']"><li><i class="fa fa-clock-o"></i> Marcas</li></a>

        <a href="https://api.whatsapp.com/send?phone=50687786649" target="_blank"><li><i class="fa fa-phone"></i> Soporte</li></a>
        <a [hidden]="EsAPP" href="/main" target="_self"><li><i class="fa fa-home"></i> Menú Principal</li></a>
        <a (click)="hideMenu()" [hidden]="logedIn" [routerLink]="['/login']"><li><i class="fa fa-sign-in"></i> Entrar</li></a>
        <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/cambiar']"><li><i class="fa fa-key"></i> Cambiar Clave</li></a>
        <a (click)="hideMenu()" [hidden]="!logedIn" (click)="logOut()" href="#"><li><i class="fa fa-sign-out"></i> Salir</li></a>
        <a (click)="hideMenu()" [hidden]="!logedIn">{{Company}} | {{User}}</a>
      </ul>
  </div>
</nav>
