<div class="container-fluid">
  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="grupo"><strong>Grupo</strong></label>
      <select class="form-control" id="grupo" [(ngModel)]="Aula.Id_Grupo" name="grupo" required>
        <option *ngFor="let grupo of Grupos" [value]="grupo.Id_Grupo">
          {{ grupo.Nombre }} - {{ grupo.Codigo }} - {{ grupo.Curso }}
        </option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="estado"><strong>Estado</strong></label>
      <select class="form-control" id="Activo" [(ngModel)]="Aula.Activo" name="estado">
        <option [value]="1">Activo</option>
        <option [value]="0">Inactivo</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="bienvenida"><strong>Mensaje de Bienvenida</strong></label>
    <textarea class="form-control" id="bienvenida" [(ngModel)]="Aula.Bienvenida" rows="20" placeholder="Bienvenida del curso..."></textarea>
  </div>




</div>