<div [hidden]="edit" class="container-fluid pb-5">
  <div class="page-toolbar">
    <div>
      <h2 class="page-title">Autoridad subcampos</h2>
    </div>
    <div class="input-group page-search">
      <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
      <input [(ngModel)]="searchField" name="searchField" (blur)="search()" (keydown)="keytab($event)" type="text"
        class="form-control" placeholder="Buscar">
      <button class="btn btn-success" type="button" (click)="nuevo()"><i class="fa fa-plus-circle"
          aria-hidden="true"></i></button>
    </div>
  </div>

  <form>
    <div class="row g-4 page-grid">
      <div class="form-group col-12 col-sm-6" *ngFor="let item of subcampos | bibliotecaSearch: searchField">
        <div class="card h-100">
          <a class="page-card-link" (click)="editar(item)">
            <div class="card-body">
              <h4 class="card-title">Codigo {{ item.codigo }}</h4>
              Campo: {{ item.autoridadCampoId }}<br />
              {{ item.valor }}
            </div>
          </a>
        </div>
      </div>
    </div>
  </form>
</div>

<div [hidden]="!edit" class="container-fluid pb-5">
  <h2>Autoridad subcampo</h2>
  <form class="page-form">
    <div class="page-form-card">
      <h5>{{ esEdicion ? 'Editar subcampo' : 'Nuevo subcampo' }}</h5>
      <div class="mb-2">
        <label class="form-label">Campo</label>
        <select class="form-select" [(ngModel)]="subcampo.autoridadCampoId" name="autoridadCampoId">
          <option [ngValue]="0">Seleccione...</option>
          <option *ngFor="let campo of campos" [ngValue]="campo.id">{{ campo.tag }} - {{ campo.id }}</option>
        </select>
      </div>
      <div class="row g-2">
        <div class="col-4">
          <label class="form-label">Codigo</label>
          <input class="form-control" [(ngModel)]="subcampo.codigo" name="codigo" />
        </div>
        <div class="col-8">
          <label class="form-label">Valor</label>
          <input class="form-control" [(ngModel)]="subcampo.valor" name="valor" />
        </div>
      </div>
      <div class="page-actions d-flex gap-2">
        <button class="btn btn-success" type="button" (click)="guardar()">Grabar</button>
        <button class="btn btn-danger" type="button" (click)="cancelar()">Cancelar</button>
      </div>
    </div>
  </form>
</div>
