<div class="container-fluid pb-5">

  <!-- Buscar + botón agregar -->
  <div class="input-group my-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-search"></i></span>
    </div>
    <input [(ngModel)]="searchField" (blur)="search()" (keydown)="keytab($event)"
           type="text" class="form-control" placeholder="Buscar {{ tituloSeccion | lowercase }}">
    <div class="input-group-append">
      <button class="btn btn-success" type="button" (click)="editRecord('')">
        <i class="fa fa-plus-circle"></i>
      </button>
    </div>
  </div>

  <!-- Lista de empleados -->
  <form>
    <div class="form-row">
      <div class="form-group col-12 col-sm-6" *ngFor="let Persona of Marcas; let i = index">
        <div class="card shadow-sm mb-3 hover-shadow-sm" (click)="editRecord(Persona)">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">
              {{paginacion.FirstRow + i}} - {{Persona.NombreEmpleado}}
            </h5>
            <p class="mb-1 text-muted">
              {{Persona.Fecha_Incompleta}} - {{Persona.NombreEmpresa}} <b> {{Persona.Marca_Faltante}}</b>
            </p>
            <div>
             

              <span *ngIf="Persona.Estado == '1'" class="badge badge-info">Activo</span>
              <span *ngIf="Persona.Estado == '0'" class="badge badge-secondary">Inactivo</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Paginación -->
  <div  *ngIf="MostrarPaginacion" class="container-fluid">
    <ul class="pagination justify-content-center mt-3">
      <li class="page-item"><a (click)="ChangePage(0)" class="page-link"><i class="fa fa-fast-backward"></i></a></li>
      <li class="page-item"><a (click)="ChangePage(1)" class="page-link"><i class="fa fa-step-backward"></i></a></li>
      <li class="page-item"><a (click)="ChangePage(2)" class="page-link"><i class="fa fa-step-forward"></i></a></li>
    </ul>
  </div>
</div>



<!--Inicio Pantalla Tipos de Planilla -->
<div [hidden]="!PantallaMarca" class="modal-main">
  <div class="modal-content  card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Agregar Marca</h5>
      
    </div>

    <div class="card-body modal-grid">
      <div class="form-row"> 
          
        <div class="form-group col-md-6">
          <label>Empleado</label>
          <input disabled [(ngModel)]="Marca.NombreEmpleado" name="NombreEmpleado" type="text" placeholder="NombreEmpleado" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label>Empresa</label>
          <input disabled [(ngModel)]="Marca.NombreEmpresa" name="NombreEmpresa" type="text" placeholder="NombreEmpresa" class="form-control">
        </div>

        <div class="form-group col-md-6">
          <label>Fecha</label>
          <input disabled [(ngModel)]="Marca.Fecha" name="Fecha_Incompleta" type="text" placeholder="Fecha_Incompleta" class="form-control">
        </div>

        <div class="form-group col-md-6">
          <label>Hora</label>
          <input [(ngModel)]="Marca.Hora" name="Hora" type="time" placeholder="Hora" class="form-control">
        </div>

        <div class="form-group col-md-3">
          <label>Estado</label>
          <select disabled [(ngModel)]="Marca.Tipo" name="Tipo" class="form-control">
            <option value="1">Entrada</option>
            <option value="2">Salida</option>
          </select>
        </div>

      </div>
    </div>

    <div class="card-footer d-flex justify-content-end">
      <button (click)="generarMarca()" class="btn btn-primary mr-4">Generar Marca</button>
      <button (click)="cerrarPantallaMarca()" class="btn btn-danger">Cancelar</button>
    </div>
</div>

