
<div [hidden]="edit" class="container-fluid pb-5">
    <a [routerLink]="['/']"><img src="/assets/toxologo.png" width="85px"></a>
    <h2>Prospectos</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id=""><i class="fa fa-search" aria-hidden="true"></i></span>
          </div>
          <input [(ngModel)]="searchField" (blur)="search()" (keydown)="keytab($event)" type="text" class="form-control"
            placeholder="Buscar">
          <div class="input-group-append">
            <button class="btn btn-success" type="button" (click)="editRecord('')"><i class="fa fa-plus-circle"
                aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
    <form>
      <div class="form-row">
  
        <div class="form-group col-12" *ngFor="let Persona of Clientes;let i = index">
          <div class="card">
            <a (click)="editRecord(Persona)">
              <div class="card-body">
                {{paginacion.FirstRow +  i}} - <span class="text-primary"> {{Persona.Nombre}} </span>
                ID : {{Persona.Identificacion}}, Correo: {{Persona.Correo}} - 
                Tel: {{Persona.Telefono}} | 
                
                <span *ngIf="Persona.Estado == '11'" class="text-primary"> Nuevo</span>
                <span *ngIf="Persona.Estado== '12'" class="text-primary"> Contactado</span>
                <span *ngIf="Persona.Estado== '13'" class="text-primary"> Calificado</span>
                <span *ngIf="Persona.Estado== '14'" class="text-primary"> En Proceso</span>
                <span *ngIf="Persona.Estado== '15'" class="text-primary"> Propuesta Enviada</span>
                
                <span *ngIf="Persona.Estado== '0'" class="text-success"> Inactivo</span>
                <span *ngIf="Persona.Estado== '1'" class="text-success"> Activo</span>
                | Id:{{Persona.Id_Persona}} 
              </div>
            </a>
          </div>
        </div>
      </div>
    </form>
  
    <div class="container-fluid">
      <ul class="pagination">
        <li class="page-item"><a (click)="ChangePage(0)" class="page-link"><i class="fa fa-fast-backward"
              aria-hidden="true"></i></a></li>
        <li class="page-item"><a (click)="ChangePage(1)" class="page-link"><i class="fa fa-step-backward"
              aria-hidden="true"></i></a></li>
        <li class="page-item"><a (click)="ChangePage(2)" class="page-link"><i class="fa fa-step-forward"
              aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>

  <div [hidden]="!edit" class="container-fluid p-5">
    <a [routerLink]="['/']"><img src="/assets/toxologo.png" width="85px"></a>
    <h2>Prospecto</h2> 
    <div class="tab">
      <button [ngClass]='GeneralClass' (click)="activarGeneral()" >General</button>
      <!--<button [ngClass]='DireccionClass' (click)="activarDireccion()">Dirección</button>-->
      <button [ngClass]='NotasClass' (click)="activarNotas()">Notas</button>
      <button [ngClass]='TareaClass' (click)="activarTarea()">Tareas</button>
      <button [ngClass]="MensajesClass" (click)="activarMensajes()">Mensajes</button>
    </div>
    <span [hidden]="!edit">
      <app-general [hidden]="!GeneralActivo" [Persona]="Persona" (close)="cancel()"></app-general>
      <!--<app-direccion [hidden]="!DireccionActivo" [Persona]="Persona" [Provinces]="Provinces" [Cantons]="Cantons" [Districts]="Districts" (provinceChange)="provinceChange()"  (cantonChange)="cantonChange()" ></app-direccion>
    -->
      <app-notas [hidden]="!NotasActivo" [Persona]="Persona"></app-notas>
      <app-tareas-cliente [hidden]="!TareaActivo" [Persona]="Persona"></app-tareas-cliente>
      <app-mensajes-whatsapp *ngIf="MensajesActivo" [IdPersona]="Persona.Id_Persona" [NumeroWhatsApp]="Persona.Telefono"> </app-mensajes-whatsapp>
    </span>

    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-6 col-md-8">
  
          </div>
          <div class="form-group col-3 col-md-2">
            <button (click)="grabar()" type="button" class="btn btn-success" title="Cancela edicion">Grabar</button>
          </div>
          <div class="form-group col-3 col-md-2">
            <button (click)="cancel()" type="button" class="btn btn-danger" title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>

</div>


