<div>
    <div  *ngFor="let Place of Places;let i = index">
        <a>
            <div class="plano" [ngStyle]="{ 'top.px': Place.Arriba,'left.px': Place.Derecha}">
                <img *ngIf="Place.Tipo == '1' &&  Place.Estado == '1' " class="plano" src="assets/mesalibre.webp"   width="40" height="40">
                <img *ngIf="Place.Tipo == '1' &&  Place.Estado == '2' " class="plano" src="assets/mesaocupada.webp"   width="40" height="40">
                <img *ngIf="Place.Tipo == '2' &&  Place.Estado == '1' " class="plano" src="assets/sillalibre.webp"   width="40" height="40">
                <img *ngIf="Place.Tipo == '2' &&  Place.Estado == '2' " class="plano" src="assets/sillaocupada.webp"   width="40" height="40">
                <div class="centered">
                  <h5>{{Place.Nombre}}</h5>
                </div>
            </div>
        </a>
    </div>
</div>