<div [hidden]="AppScreen" class="container pb-5 pt-5">
  <h2>Perfil del Usuario</h2>
  <form >
    <!--
      Datos Generales
    -->
    <div class="form-row">
      <div class="form-group col-2 col-sm-1">
        <button type="button" data-toggle="collapse" href="#GeneralData"  class="form-control btn btn-primary"><i
            class="fa fa-bars"></i></button>
      </div>
      <div class="form-group col-10 col-sm-11">
        <h3>Datos Personales</h3>
      </div>
    </div>
    <div class="collapse show" id="GeneralData">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="name">Nombre</label>
          <input [(ngModel)]="Empresa.Nombre" name="Nombre" type="text" class="form-control">
        </div>
        <div class="form-group col-md-12">
          <label for="name">Razón Social</label>
          <input [(ngModel)]="Empresa.Razon_Social" name="Razon_Social" type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label for="name">Tipo de Identificacion</label>
          <select [(ngModel)]="Empresa.Tipo_Identificacion" name="Tipo_Identificacion" class="form-control">
            <option value='01'>Cedula Fisica</option>
            <option value='02'>Cedula Juridica</option>
            <option value='03'>Dimex</option>
            <option value='04'>NITE</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="name"># Identificacion</label>
          <input [(ngModel)]="Empresa.Numero_Identificacion" name="Numero_Identificacion" type="text"
            class="form-control">
        </div>

        <div class="form-group col-md-6">
          <label for="name">Teléfono</label>
          <input [(ngModel)]="Empresa.Telefono" name="Telefono" type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label for="name">Correo</label>
          <input [(ngModel)]="Empresa.Correo" name="Correo" type="text" class="form-control">
        </div>

        <div class="form-group col-md-12">
          <h3>Tipo de Cuenta</h3>
        </div>
        <div class="form-group col-md-6">
          <label for="body">Tipo de Cuenta</label>
          <select [(ngModel)]="userData.Tipo_Cuenta" name="Tipo_Cuenta" id="Tipo_Cuenta" type="text" class="form-control">
            <option value=0>Personal</option>
            <option value=1>Empresarial</option>
          </select>

        </div>
        <div class="form-group col-md-6">
          <label for="body">Tipo de Usuario</label>
          <select disabled [(ngModel)]="userData.Tipo_Usuario" name = "Tipo_Usuario" id="Tipo_Usuario" type="text" class="form-control">
            <option value=0>Administrador</option>
            <option value=1>Usuario</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <button (click)='udateUserData(1)' class="btn btn-primary" type="button">Actualizar Datos</button>
        </div>
      </div>
    </div><!-- End of Tipo de cuenta-->


    <!--
      Datos Dirección
    -->
    <div class="form-row">
      <div class="form-group col-2 col-sm-1">
        <button type="button" data-toggle="collapse" href="#DireccionData" class="form-control btn btn-success"><i
            class="fa fa-bars"></i></button>
      </div>
      <div class="form-group col-10 col-sm-11">
        <h3>Dirección</h3>
      </div>
    </div>
    <div class="collapse" id="DireccionData">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">Provincia</label>
          <select [(ngModel)]="Empresa.Provincia" (change)="provinceChange()" name="Provincia" class="form-control">
            <option value={{Province.Provincia}} *ngFor="let Province of Provinces;let i = index">
              {{Province.Provincia_Nombre}}</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="name">Cantón </label>
          <select [(ngModel)]="Empresa.Canton" (change)="cantonChange()" name="Canton" class="form-control">
            <option value={{Canton.Canton}} *ngFor="let Canton of Cantons;let i = index">{{Canton.Canton_Nombre}}
            </option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="name">Distrito </label>
          <select [(ngModel)]="Empresa.Distrito" name="Distrito" class="form-control">
            <option value={{District.Distrito}} *ngFor="let District of Districts;let i = index">
              {{District.Distrito_Nombre}}</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="name">Barrio</label>
          <input [(ngModel)]="Empresa.Barrio" name="Barrio" type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label for="name">Dirección</label>
          <input [(ngModel)]="Empresa.Otras_Senas" name="Otras_Senas" type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="body">Notas</label>
            <textarea class="form-control" [(ngModel)]="Empresa.Notas" name="Notas"></textarea>
        </div>
        <div class="form-group col-md-6">
          <button (click)='udateUserData(2)' class="btn btn-primary" type="button">Actualizar Dirección</button>
        </div>
      </div>
    </div>
    <!-- End of Datos de Dirección-->
       
   
    <!--
      Datos Factura Electrónica
    -->
    <div class="form-row">
      <div class="form-group col-2 col-sm-1">
        <button type="button" data-toggle="collapse" href="#HaciendaData" class="form-control btn btn-info"><i
            class="fa fa-bars"></i></button>
      </div>
      <div class="form-group col-10 col-sm-11">
        <h3>Factura Electrónica</h3>
      </div>
    </div>
    <div class="collapse" id="HaciendaData">
      <div class="form-row">
        <div class="form-group col-12">
          <b>Si no cuenta con el registro ante el Ministerio de Hacienda Contacte a Soporte, Nosotros el ayudamos con el registro del mismo.</b>
        </div>
        <div class="form-group col-md-6">
          <label for="name">Correo de Facturación</label>
          <input [(ngModel)]="Empresa.Correo_Hacienda" name="Correo_Hacienda" type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label for="name">Código de Actividad</label>
          <input [(ngModel)]="Empresa.Codigo_Actividad" name="Codigo_Actividad" type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label for="name">Regimen</label>
          <select [(ngModel)]="Empresa.Regimen" name="Regimen" class="form-control">
            <option value='1'>Regimen Tradicional</option>
            <option value='2'>Regimen Simplificado</option>
            <option value='3'>No Inscrito</option>
            <option value='4'>Contingencia</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label>Modo Hacienda</label>
          <select [(ngModel)]="Empresa.Api" name="Api" class="form-control">
            <option value='01'>Produccion</option>
            <option value='02'>Desarrollo</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="name">Usuario Hacienda</label>
          <input [(ngModel)]="Empresa.Usuario_IDP" name="Usuario_IDP" type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label for="name">Password Hacienda</label>
          <input [(ngModel)]="Empresa.Clave_IDP" name="Clave_IDP" type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label for="name">Cargar Archivo P12</label>
          <div class="custom-file">
            <label class="custom-file-label" for="customFile">{{Empresa.Ruta_P12}}</label>
            <input (change)="loadImage($event)" type="file" class="custom-file-input" id="customFile">
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="name">Pin P12</label>
          <input [(ngModel)]="Empresa.Pin_P12" name="Pin_P12" type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <button (click)='udateUserData(5)' class="btn btn-primary" type="submit">Actualizar Hacienda</button>
        </div>
      </div>
    </div><!-- End of Datos de Hacienda-->

  </form>
</div>
