h2 {
  text-align: center;
}
h3 {
  text-transform: uppercase;
  color: green;
  text-align: center;
}
img {
object-fit: fill;
text-align: center;
}

a {
  text-decoration: none;
  color: black;
}
a:hover{
  color: green;
}
