/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-bottom: 5px;
    }
    
    /* Style the buttons inside the tab */
    .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
    background-color: #ddd;
    }
    
    /* Create an active/current tablink class */
    .tab button.active {
    background-color: #ccc;
    }
    
    /* Style the tab content */
    .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    }
    

    .spinner-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
        display: flex;
        justify-content: center; /* Centrado horizontal */
        align-items: center; /* Centrado vertical */
        z-index: 9999; /* Asegura que esté por encima de otros elementos */
      }
      
      .loading-message {
        position: absolute;
        top: 40%; /* Centrado verticalmente */
        transform: translateY(-50%); /* Ajuste para centrado vertical */
        color: #fff; /* Color de texto blanco */
        font-size: 16px; /* Tamaño de fuente */
        font-weight: bold; /* Texto en negrita */
        z-index: 10000; /* Asegura que esté por encima del spinner */
      }
      .spinner {
        width: 50px;
        height: 50px;
        border: 3px solid #fff;
        border-radius: 50%;
        border-top-color: transparent;
        animation: spin 1s linear infinite; /* Animación de rotación */
      }

      .bold-row {
        font-weight: bold;
        background-color: #fce4d6; /* Fondo de color pastel */
        border: 2px solid #f28a2e; /* Borde llamativo */
      }
      
      .low-performance {
        color: #721c24; /* Texto rojo oscuro */
        font-weight: bold; /* Negritas opcionales */
      }