<div class="card">
  <div class="card-header">
    <h4>Configuración visual del sitio web</h4>
  </div>

  <div class="card-body">
    <div class="form-row">

      <div class="form-group col-md-6">
        <label>Logo (URL)</label>
        <input class="form-control" [(ngModel)]="Config.Logo_Url" type="url" placeholder="https://ejemplo.com/logo.png"> 
        <img *ngIf="Config.Logo_Url" [src]="Config.Logo_Url" alt="Logo" class="img-thumbnail mt-2" style="max-height: 60px;">
      </div>

      <div class="form-group col-md-6">
        <label>Favicon (URL)</label>
        <input class="form-control" [(ngModel)]="Config.Favicon_Url" type="url" placeholder="https://ejemplo.com/Favicon.ico">
        <img *ngIf="Config.Favicon_Url" [src]="Config.Favicon_Url" alt="Favicon" class="img-thumbnail mt-2" style="max-height: 32px;">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Color primario</label> {{Config.Color_Primario}}
        <input type="color" class="form-control" [(ngModel)]="Config.Color_Primario">
      </div>
      <div class="form-group col-md-4">
        <label>Color secundario</label> {{Config.Color_Secundario}}
        <input type="color" class="form-control" [(ngModel)]="Config.Color_Secundario">
      </div>
      <div class="form-group col-md-4">
        <label>Color de texto</label> {{Config.Color_Texto}}
        <input type="color" class="form-control" [(ngModel)]="Config.Color_Texto">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Tipografía principal</label>
        <input class="form-control" [(ngModel)]="Config.Tipografia_Principal">
      </div>

      <div class="form-group col-md-6">
        <label>Texto de bienvenida</label>
        <input class="form-control" [(ngModel)]="Config.Texto_Bienvenida">
      </div>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" [(ngModel)]="Config.Mostrar_Barra_Login" id="chkLogin">
      <label class="form-check-label" for="chkLogin">Mostrar barra de login</label>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" [(ngModel)]="Config.Mostrar_Boton_Contacto" id="chkContacto">
      <label class="form-check-label" for="chkContacto">Mostrar botón de contacto</label>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" [(ngModel)]="Config.Mostrar_Blog" id="chkBlog">
      <label class="form-check-label" for="chkBlog">Mostrar blog</label>
    </div>


    <div class="form-group">
      <label>Encabezado (HTML)</label>
      <ejs-richtexteditor
        [(value)]="Config.Encabezado_HTML"
        [height]="250">
      </ejs-richtexteditor>
    </div>
    

    <div class="form-group">
      <label>Pie de página (HTML)</label>
      <ejs-richtexteditor
        [(value)]="Config.Pie_Pagina_HTML"
        [height]="250">
      </ejs-richtexteditor>
    </div>
  </div>

  <div class="card-footer text-right">
    <button class="btn btn-success mr-2" (click)="grabar()">Guardar</button>
    <button class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
  </div>
</div>