<div class="container pb-5 pt-5">

  <a [routerLink]="['/']" ><img src="../../../../assets/toxologo.png" width="85px"></a>
  <img class="mt-2 mb-5" src="/assets/images/contacto.png" width="100%" height="200vh">


  <p>COSTA RICA</p>
  <div class="row m-10">
    <div class="col-sm-4">
      <i class="fa fa-map-marker"></i>
      <span class="contactInfo">
        Cartago, Costa Rica
      </span>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-mobile"></i>
      <span class="contactInfo">
        <a href="https://api.whatsapp.com/send?phone=50687786649">+506 8778 6649</a>
      </span>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-envelope"></i>
      <span class="contactInfo">
        <a href="mailto:info@toxo.work">info&#64;toxo.work</a>
      </span>
    </div>
</div>

</div>
