.sidebar {
  width: 240px;
  transition: all 0.3s ease;
  min-height: 100vh;
  background-color: #2f343a;
  overflow-x: hidden;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar .nav-link {
  white-space: nowrap;
  transition: padding 0.3s ease;
}

.sidebar.collapsed .nav-link {
  justify-content: center;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}

.sidebar.collapsed .nav-link i {
  margin-right: 0 !important;
}