<nav class="sidebar bg-dark text-white p-2" [class.collapsed]="collapsed">
  <ul class="nav flex-column">

    <!-- INICIO -->
    <li class="nav-item">
      <a class="nav-link text-white d-flex align-items-center"
         [routerLink]="['/']"
         [attr.title]="collapsed ? 'Inicio' : null">
        <i class="fa fa-home"></i>
        <span *ngIf="!collapsed" class="ml-2">Inicio {{ ambiente }} 1.0.2</span>
      </a>
    </li>

    <!-- RRHH -->
    <li class="nav-item" *ngIf="AppRRHH">
      <a class="nav-link text-white d-flex align-items-center"
         href="#"
         (click)="clickrrhhMenu()"
         [attr.title]="collapsed ? 'RRHH' : null">
        <i class="fa fa-users"></i>
        <span *ngIf="!collapsed" class="ml-2 flex-grow-1">RRHH</span>
        <i [ngClass]="rrhhClass" *ngIf="!collapsed" class="ml-auto"></i>
      </a>
      <ul class="nav flex-column ml-3" *ngIf="rrhhMenu && !collapsed">
        <li><a class="nav-link text-white d-flex align-items-center" [routerLink]="['/empleados']"><i class="fa fa-user mr-2"></i> Empleados</a></li>
        <li><a class="nav-link text-white d-flex align-items-center" [routerLink]="['/accionpersonal']"><i class="fa fa-id-badge mr-2"></i> Acción Personal</a></li>
        <li><a class="nav-link text-white d-flex align-items-center" [routerLink]="['/programacion']"><i class="fa fa-calendar mr-2"></i> Programación</a></li>
      </ul>
    </li>

    <!-- PLANILLA -->
    <li class="nav-item" *ngIf="AppPL">
      <a class="nav-link text-white d-flex align-items-center"
         href="#"
         (click)="clickPLMenu()"
         [attr.title]="collapsed ? 'Planilla' : null">
        <i class="fa fa-calculator"></i>
        <span *ngIf="!collapsed" class="ml-2 flex-grow-1">Planilla</span>
        <i [ngClass]="PLClass" *ngIf="!collapsed" class="ml-auto"></i>
      </a>
      <ul class="nav flex-column ml-3" *ngIf="PLMenu && !collapsed">
        <li><a class="nav-link text-white d-flex align-items-center" [routerLink]="['/periodopago']"><i class="fa fa-calendar mr-2"></i> Periodo Pago</a></li>
        <li><a class="nav-link text-white d-flex align-items-center" [routerLink]="['/conceptosalarial']"><i class="fa fa-list-alt mr-2"></i> Concepto Salarial</a></li>
        <li><a class="nav-link text-white d-flex align-items-center" [routerLink]="['/tipoplanilla']"><i class="fa fa-id-card mr-2"></i> Tipo Planilla</a></li>
        <li><a class="nav-link text-white d-flex align-items-center" [routerLink]="['/conceptoplanilla']"><i class="fa fa-id-card mr-2"></i> Concepto x Planilla</a></li>
        <li><a class="nav-link text-white d-flex align-items-center" [routerLink]="['/empleadoplanilla']"><i class="fa fa-user mr-2"></i> Empleado x Planilla</a></li>
        <li><a class="nav-link text-white d-flex align-items-center" [routerLink]="['/planilla']"><i class="fa fa-user mr-2"></i> Planillas</a></li>
        <li><a class="nav-link text-white d-flex align-items-center" [routerLink]="['/reportesplanilla']"><i class="fa fa-list-alt mr-2"></i> Reportes y Procesos</a></li>
      </ul>
    </li>

    <!-- CONFIGURACIÓN -->
    <li class="nav-item" *ngIf="AppConfiguracion">
      <a class="nav-link text-white d-flex align-items-center"
         href="#"
         (click)="clickPerfilMenu()"
         [attr.title]="collapsed ? 'Configuración' : null">
        <i class="fa fa-cog"></i>
        <span *ngIf="!collapsed" class="ml-2 flex-grow-1">Configuración</span>
        <i [ngClass]="configClass" *ngIf="!collapsed" class="ml-auto"></i>
      </a>
      <ul class="nav flex-column ml-3" *ngIf="perfilMenu && !collapsed">
        <li><a class="nav-link text-white d-flex align-items-center" [routerLink]="['/contactos']"><i class="fa fa-address-book mr-2"></i> Contactos</a></li>
        <li><a class="nav-link text-white d-flex align-items-center" [routerLink]="['/departamento']"><i class="fa fa-building mr-2"></i> Departamento</a></li>
        <li><a class="nav-link text-white d-flex align-items-center" [routerLink]="['/puesto']"><i class="fa fa-id-badge mr-2"></i> Puesto</a></li>
        <li><a class="nav-link text-white d-flex align-items-center" [routerLink]="['/localidad']"><i class="fa fa-map-marker mr-2"></i> Localidad</a></li>
        <li><a class="nav-link text-white d-flex align-items-center" [routerLink]="['/roll']"><i class="fa fa-user mr-2"></i> Roll</a></li>
      </ul>
    </li>

    <!-- MARCAS -->
    <li class="nav-item" *ngIf="logedIn">
      <a class="nav-link text-white d-flex align-items-center"
         [routerLink]="['/marcas']"
         [attr.title]="collapsed ? 'Marcas' : null">
        <i class="fa fa-clock"></i>
        <span *ngIf="!collapsed" class="ml-2">Marcas</span>
      </a>
    </li>

    <!-- SOPORTE -->
    <li class="nav-item">
      <a class="nav-link text-white d-flex align-items-center"
         href="https://api.whatsapp.com/send?phone=50687786649"
         target="_blank"
         [attr.title]="collapsed ? 'Soporte' : null">
        <i class="fa fa-phone"></i>
        <span *ngIf="!collapsed" class="ml-2">Soporte</span>
      </a>
    </li>

    <!-- MENÚ PRINCIPAL -->
    <li class="nav-item" *ngIf="!EsAPP">
      <a class="nav-link text-white d-flex align-items-center"
         href="/main"
         [attr.title]="collapsed ? 'Menú Principal' : null">
        <i class="fa fa-th-large"></i>
        <span *ngIf="!collapsed" class="ml-2">Menú Principal</span>
      </a>
    </li>

    <!-- CAMBIAR CLAVE -->
    <li class="nav-item" *ngIf="logedIn">
      <a class="nav-link text-white d-flex align-items-center"
         [routerLink]="['/cambiar']"
         [attr.title]="collapsed ? 'Cambiar Clave' : null">
        <i class="fa fa-key"></i>
        <span *ngIf="!collapsed" class="ml-2">Cambiar Clave</span>
      </a>
    </li>

    <!-- SALIR -->
    <li class="nav-item" *ngIf="logedIn">
      <a class="nav-link text-white d-flex align-items-center"
         href="#"
         (click)="logOut()"
         [attr.title]="collapsed ? 'Salir' : null">
        <i class="fa fa-sign-out"></i>
        <span *ngIf="!collapsed" class="ml-2">Salir</span>
      </a>
    </li>

    <!-- FOOTER USUARIO -->
    <li class="nav-item mt-4 px-2 text-muted small" *ngIf="logedIn && !collapsed">
      {{ Company }} | {{ User }}
    </li>

  </ul>
</nav>