



<div class="container-fluid">
  <h3><b>Aula Virtual</b></h3>

  <div class="form-row mt-3">
    <div class="form-group col-md-8">
      <label>Grupo</label>
      <select class="form-control" [(ngModel)]="Aula.Id_Grupo">
        <option *ngFor="let grupo of Grupos" [value]="grupo.Id_Grupo">
          {{ grupo.Codigo }} - {{ grupo.Curso }}
        </option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label>Estado</label>
      <select class="form-control" [(ngModel)]="Aula.Activo">
        <option [value]="true">Activo</option>
        <option [value]="false">Inactivo</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label>Bienvenida</label>
    <textarea class="form-control" rows="5" [(ngModel)]="Aula.Bienvenida"></textarea>
  </div>

  <div class="form-group">
    <label>Link Reglamento Educación Virtual</label>
    <input type="url" class="form-control" [(ngModel)]="Aula.Link_Reglamento" placeholder="https://...">
  </div>

  <div class="form-group">
    <label>Link Normas de Etiqueta</label>
    <input type="url" class="form-control" [(ngModel)]="Aula.Link_Etiqueta" placeholder="https://...">
  </div>

  <div class="form-group text-right">
    <button class="btn btn-success" (click)="grabar()">Grabar</button>
    <button class="btn btn-danger ml-2" (click)="cancelar()">Cancelar</button>
  </div>
</div>