<div [hidden]="edit" class="container pb-5">
  <a [routerLink]="['/']"><img src="/assets/toxologo.png" width="85px"></a>
  <h2>Tarifa Tour</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id=""><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
        <input [(ngModel)]="searchField" (blur)="search()" (keydown)="keytab($event)" type="text" class="form-control"
          placeholder="Buscar">
        <div class="input-group-append">
          <button class="btn btn-success" type="button" (click)="editRecord('')"><i class="fa fa-plus-circle"
              aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
  <form>
    <div class="form-row">

      <div class="form-group col-12 col-sm-6" *ngFor="let Tarifa of TarifasTour;let i = index">
        <div class="card">
          <a (click)="editRecord(Tarifa)">
            <div class="card-body">
              <h4 class="card-title">{{Tarifa.Id_Tarifa}} - {{Tarifa.Tour}} - {{Tarifa.Nombre}}</h4>
                Del: {{Tarifa.Inicio}} al: {{Tarifa.Fin}}
                <h5>
                  <span *ngIf="Tarifa.Moneda == 1">CRC</span>
                  <span *ngIf="Tarifa.Moneda == 2">USD</span>
                  {{Tarifa.Tarifa}}
                </h5>

            </div>
          </a>
        </div>
      </div>
    </div>
  </form>

  <div class="container-fluid">
    <ul class="pagination">
      <li class="page-item"><a (click)="ChangePage(0)" class="page-link"><i class="fa fa-fast-backward"
            aria-hidden="true"></i></a></li>
      <li class="page-item"><a (click)="ChangePage(1)" class="page-link"><i class="fa fa-step-backward"
            aria-hidden="true"></i></a></li>
      <li class="page-item"><a (click)="ChangePage(2)" class="page-link"><i class="fa fa-step-forward"
            aria-hidden="true"></i></a></li>
    </ul>
  </div>
</div>


<!--
  Form de Edición
-->

<div [hidden]="!edit" class="container pb-5">
  <a [routerLink]="['/']"><img src="/assets/toxologo.png" width="85px"></a>
  <h2>Tarifa Tour</h2>
  <form>
    <div class="form-row">

      <div class="form-group col-md-6">
        <label>Tour</label>
        <div class="input-group">

          <div class="input-group-append">
            <button type="button" (click)="abrirTourPanel()" class="form-control btn btn-primary"><i
                class="fa fa-search"></i></button>
          </div>
          <input [(ngModel)]="Tarifa.Nombre_Tour" disabled name="Nombre_Tour" id="Nombre_Tour" type="input"
            class="form-control" placeholder="Tour">
        </div>
      </div>

      <div class="form-group col-md-6">
        <label>Proveedor</label>
        <div class="input-group">

          <div class="input-group-append">
            <button type="button" (click)="abrirProveedorPanel()" class="form-control btn btn-primary"><i
                class="fa fa-search"></i></button>
          </div>
          <input [(ngModel)]="Tarifa.Nombre_Proveedor" disabled name="Nombre_Proveedor" id="Nombre_Proveedor" type="input"
            class="form-control" placeholder="Nombre Proveedor">
        </div>
      </div>


      <div class="form-group col-md-3">
        <label>Fecha Inicio</label>
        <div class="input-group">
            <input class="form-control" placeholder="Inicio" name="Inicio" [(ngModel)]="Tarifa.FechaInicio" ngbDatepicker #d1="ngbDatepicker">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary fa fa-calendar" (click)="d1.toggle()" type="button"></button>
            </div>
        </div>
      </div>

      <div class="form-group col-md-3">
        <label>Fecha Fin</label>
        <div class="input-group">
            <input class="form-control" placeholder="Fin" name="Fin" [(ngModel)]="Tarifa.FechaFin" ngbDatepicker #d2="ngbDatepicker">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary fa fa-calendar" (click)="d2.toggle()" type="button"></button>
            </div>
        </div>
      </div>
      <div class="form-group col-md-3">
          <label>Moneda</label>
          <select [(ngModel)]="Tarifa.Moneda" name="TypeIdentification" class="form-control">
          <option value='1'>Colones</option>
          <option value='2'>Dolares</option>
        </select>
      </div>

      <div class="form-group col-md-3">
        <label>Tarifa</label>
        <input [(ngModel)]="Tarifa.Tarifa" class="form-control" name="Tarifa" id="Tarifa" type="text" placeholder="Tarifa">
    </div>

      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-6 col-md-8">
          </div>
          <div class="form-group col-3 col-md-2">
            <button (click)="grabar()" type="button" class="btn btn-success" title="Cancela edicion">Grabar</button>
          </div>
          <div class="form-group col-3 col-md-2">
            <button (click)="cancel()" type="button" class="btn btn-danger" title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>

<!-- Panes que despliega la lista de Toures -->
<div [hidden]="!TourPanel" class="modal-main">
  <div class="modal-content  card">
    <div class="card-header">
      <h2>Seleccionar Tour</h2>
      <input [(ngModel)]="searchFieldTour" (blur)="searchTour()" (keydown)="keytabTour($event)" type="text"
        class="form-control" placeholder="Buscar">
    </div>
    <div class="card-body modal-grid">
      <div class="form-row">
        <div class="form-group col-12 col-sm-6" *ngFor="let Tour of Tours;let i = index">
          <a (click)="selectTour(Tour)">
            <div class="card">
              <div class="card-body">
                <h5>{{Tour.Tour}} - {{Tour.Sitio}} </h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="card-footer ">
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-8 col-md-10">
          </div>
          <div class="form-group col-2">
            <button (click)="closePanelTours()" type="button" class="btn btn-danger"
              title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div [hidden]="!ProveedorPanel" class="modal-main">
  <div class="modal-content  card">
    <div class="card-header">
      <h2>Seleccionar Proveedor</h2>
      <input [(ngModel)]="searchFieldProveedor" (blur)="searchProveedor()" (keydown)="keytabProveedor($event)" type="text"
        class="form-control" placeholder="Buscar">
    </div>
    <div class="card-body modal-grid">
      <div class="form-row">
        <div class="form-group col-12 col-sm-6" *ngFor="let Provider of Proveedores;let i = index">
          <a (click)="selectProveedor(Provider)">
            <div class="card">
              <div class="card-body">
                <h5>{{Provider.Nombre}}</h5>

              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="card-footer ">
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-8 col-md-10">
          </div>
          <div class="form-group col-2">
            <button (click)="closePanelProveedor()" type="button" class="btn btn-danger"
              title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
