<div [hidden]="edit" class="container-fluid pb-5">
  <div class="page-toolbar">
  <h2 class="page-title">Periódo Académico</h2>
  <div class="input-group page-search">
    <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
    <input [(ngModel)]="searchField" name="searchField" (blur)="search()" (keydown)="keytab($event)" type="text" class="form-control"
      placeholder="Buscar">
    <button class="btn btn-success" type="button" (click)="editRecord('')"><i class="fa fa-plus-circle"
        aria-hidden="true"></i></button>
  </div>
  </div>
  <form>
    <div class="row g-4 page-grid">

      <div class="form-group col-12 col-sm-6" *ngFor="let Periodo of Periodos;let i = index">
        <div class="card h-100">
          <a class="page-card-link" (click)="editRecord(Periodo)">
            <div class="card-body">

              <h4 class="card-title">{{Periodo.Bloque}}-{{Periodo.Anio}}</h4>
              Estado :
              <span *ngIf="Periodo.Estado == '0'" class="text-success"> Cerrado</span>
              <span *ngIf="Periodo.Estado == '1'" class="text-primary"> Abierto</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </form>

  <div class="container-fluid">
    <ul class="pagination">
      <li class="page-item"><a (click)="ChangePage(0)" class="page-link"><i class="fa fa-fast-backward"
            aria-hidden="true"></i></a></li>
      <li class="page-item"><a (click)="ChangePage(1)" class="page-link"><i class="fa fa-step-backward"
            aria-hidden="true"></i></a></li>
      <li class="page-item"><a (click)="ChangePage(2)" class="page-link"><i class="fa fa-step-forward"
            aria-hidden="true"></i></a></li>
    </ul>
  </div>
</div>

<!--
  Form de Edición
-->

<div [hidden]="!edit" class="container-fluid pb-5">
  <h2>Periódo Académico</h2>

  <form>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Mes</label>
        <select [(ngModel)]="Periodo.Bloque" name="Bloque" type="text" class="form-control">
          <option value='1'>1</option>
          <option value='2'>2</option>
          <option value='3'>3</option>
          <option value='4'>4</option>
          <option value='5'>5</option>
          <option value='6'>6</option>
          <option value='7'>7</option>
          <option value='8'>8</option>
          <option value='9'>9</option>
          <option value='10'>10</option>
          <option value='11'>11</option>
          <option value='12'>12</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label>Año</label>
        <input [(ngModel)]="Periodo.Anio" name="Anio" type="text" placeholder="Año" class="form-control">
      </div>

      <div class="form-group col-md-4">
        <label>Estado</label>
        <select [(ngModel)]="Periodo.Estado" name="Estado" type="text" class="form-control">
          <option value='1'>Abierto</option>
          <option value='0'>Cerrado</option>
        </select>
      </div>
      <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-6 col-md-8">

          </div>
          <div class="form-group col-3 col-md-2">
            <button (click)="grabar()" type="button" class="btn btn-success" title="Cancela edicion">Grabar</button>
          </div>
          <div class="form-group col-3 col-md-2">
            <button (click)="cancel()" type="button" class="btn btn-danger" title="Cancela edicion">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>


