<div class="seccion">
  <h5>Facturación</h5>
  <ejs-pivotview 
    [dataSourceSettings]="pivotTicetSetting" 
    showFieldList="true" 
    height="100%"
    allowConditionalFormatting='true'
    >
  </ejs-pivotview>
</div>


<ejs-splitter #horizontal height='500px' width='100%' > 
  <e-panes>
    
    <e-pane size='50%' [collapsible]='true'>
      <ng-template #content>
        
      </ng-template>
    </e-pane>

    <e-pane size='50%' [collapsible]='true'>
      <ng-template #content>
        
      </ng-template>
    </e-pane>
    
  </e-panes>
</ejs-splitter>


  
  