<div class="container-fluid pb-5">
    
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <h2>Existencias en Artículos &nbsp;</h2>
      </div>
      &nbsp;
      <select class="input-group-append" (change)="loadProducts()" [(ngModel)]="Tipo_Codigo" name="Tipo_Codigo1" type="text" class="form-control">
        <option value='1'>Artículo para la Venta</option>
        <option value='2'>Artículo de Uso Interno</option>
        <option value='3'>Servicios para la Venta</option>
        <option value='4'>Compra de Servicios</option>
      </select>
    </div>
  
    <div class="container-fluid">
      <div class="row">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id=""><i class="fa fa-search" aria-hidden="true"></i></span>
          </div>
          <input [(ngModel)]="searchField" name="searchField" (blur)="search()" (keydown)="keytab($event)" type="text" class="form-control"
            placeholder="Buscar">
          
        </div>
      </div>
    </div>
    <form>
      <div class="form-row page-grid">
  
        <div class="form-group col-12 col-sm-6" *ngFor="let Product of Articulos;let i = index">
          <div class="card">
            <a>
              <div class="card-body">
                {{Product.Categoria}} - {{Product.SubCategoria}}
                <h4 class="card-title">{{Product.Descripcion}} | {{Product.Existencia}}</h4>
                Código : {{Product.SKU}} Precio: {{Product.Precio | currency:' '}} + IVA {{ (Product.Precio * 1 ) + (Product.Precio * Product.Impuesto / 100) | currency:' '}} Estado
                <span *ngIf="Product.Estado == '1'" class="text-success"> Activo</span>
                <span *ngIf="Product.Estado == '0'" class="text-warning"> Inactivo</span>
                {{Product.Id_Producto}}
              </div>
            </a>
          </div>
        </div>
      </div>
    </form>
  
    <div class="container-fluid">
      <ul class="pagination">
        <li class="page-item"><a (click)="ChangePage(0)" class="page-link"><i class="fa fa-fast-backward"
              aria-hidden="true"></i></a></li>
        <li class="page-item"><a (click)="ChangePage(1)" class="page-link"><i class="fa fa-step-backward"
              aria-hidden="true"></i></a></li>
        <li class="page-item"><a (click)="ChangePage(2)" class="page-link"><i class="fa fa-step-forward"
              aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>