<div class="container pb-5">
  <a [routerLink]="['/']"><img src="/assets/toxologo.png" width="85px"></a>
  <h2>Cocina - Comandas</h2>
  <form>
    <div class="form-row">

      <div class="form-group col-3" *ngFor="let pedido of ComandasAgrupadas; let i = index">
        <div class="card">
          <div class="card-body h-50">
            <h4>{{ pedido.Tiempo_Transcurrido_Minutos }}</h4>
            <h4 class="card-title text-primary">Pedido: {{ pedido.Id_Pedido }}</h4>
            <h5 class="card-title">{{ pedido.Zona }} - {{ pedido.Mesa }}</h5>
      
            <div *ngFor="let detalle of pedido.detalles">
              <h5 class="card-title">{{detalle.Cantidad}} {{detalle.Descripcion}}</h5>
              <h5 class="card-title text-danger" *ngIf="detalle.Notas">{{detalle.Notas}}</h5>
            </div>
      
            {{ pedido.Hora | slice:0:8 }}
      
            <button (click)="End(pedido)" type="button" class="btn btn-success">
              Terminar Comanda
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
