<!-- [hidden]="!logedIn" -->
<nav  role="navigation">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input  id="MenuShow" (click)="click()" [checked]="showMenu"  type="checkbox" />

    <!--
    Some spans to act as a hamburger.

    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>
 
    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
      <ul  [hidden]="!showMenu" id="menu">
        <a (click)="hideMenu()" [routerLink]="['/']"><li><i class="fa fa-home"></i> Inicio {{ambiente}} 2.03.10</li></a>
        <div [hidden]="!logedIn">

          <li [hidden]="!AppInventario" (click)="clickInventarioMenu()" ><a><i class="fa fa-hospital-o"></i>  Inventario <i [ngClass]='inventarioClass' class="fa fa-cog"></i>  </a></li>
          <ul [hidden]="!inventarioMenu" >
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/categorias']"><li><i class="fa fa-shopping-bag"></i> Categorías</li></a>
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/subcategorias']"><li><i class="fa fa-shopping-bag"></i> Sub Categorías</li></a>
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/articulos']"><li><i class="fa fa-shopping-basket"></i> Artículos</li></a>
            <a (click)="hideMenu()" [hidden]="!AppInventario" [routerLink]="['/movinventario']"><li><i class="fa fa-align-justify"></i> Movimientos</li></a>
            <a (click)="hideMenu()" [hidden]="!AppInventario" [routerLink]="['/movarticulo']"><li><i class="fa fa-align-justify"></i> Mov x Articulo</li></a>
            <a (click)="hideMenu()" [hidden]="!AppInventario" [routerLink]="['/invmovdetail']"><li><i class="fa fa-align-justify"></i> Detalle Movimientos</li></a>
            <a (click)="hideMenu()" [hidden]="!AppInventario" [routerLink]="['/repinventario']"><li><i class="fa fa-file"></i> Reportes</li></a>
          </ul>


          <li [hidden]="!AppPOV" (click)="clickVentasMenu()" ><a><i class="fa fa-credit-card"></i>  Punto de Venta <i [ngClass]='ventasClass' class="fa fa-cog"></i>  </a></li>
          <ul [hidden]="!ventasMenu">
            <a (click)="hideMenu()" [hidden]="!AppVentas" [routerLink]="['/cajaventas']"><li><i class="fa fa-credit-card"></i> Cajas</li></a>
            <a (click)="hideMenu()" [hidden]="!AppVentas" [routerLink]="['/cajamovimiento']"><li><i class="fa fa-align-justify"></i> Movimiento de Cajas</li></a>
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/cierrecaja']"><li><i class="fa fa-align-justify"></i> Cierre Caja</li></a>
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/ventas']"><li><i class="fa fa-credit-card"></i> Facturas</li></a>
          </ul>
        </div>

        <li [hidden]="!AppCompras" (click)="clickComprasMenu()" ><a><i class="fa fa-shopping-cart"></i>  Compras <i [ngClass]='comprasClass' class="fa fa-cog"></i>  </a></li>
          <ul [hidden]="!comprasMenu" >
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/purchaseInvoice']"><li><i class="fa fa-credit-card"></i> Facturas</li></a>
            <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/reportPurchase']"><li><i class="fa fa-file"></i> Reporte Compras</li></a>
          </ul>

        <a href="https://api.whatsapp.com/send?phone=50687786649" target="_blank"><li><i class="fa fa-phone"></i> Soporte</li></a>
        <a href="/main" target="_self"><li><i class="fa fa-home"></i> Menú Principal</li></a>
        <a (click)="hideMenu()" [hidden]="logedIn" [routerLink]="['/login']"><li><i class="fa fa-sign-in"></i> Entrar</li></a>
        <a (click)="hideMenu()" [hidden]="!logedIn" [routerLink]="['/cambiar']"><li><i class="fa fa-key"></i> Cambiar Clave</li></a>
        <a (click)="hideMenu()" [hidden]="!logedIn" (click)="logOut()" href="#"><li><i class="fa fa-sign-out"></i> Salir</li></a>
        <a (click)="hideMenu()" [hidden]="!logedIn">{{Company}} | {{User}}</a>
      </ul>
  </div>
</nav>
